.Status-Pending span {
    border-radius: 3px;
    background-color: #ff991f52 !important;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    color: #de350b !important;
}
.Status-Reconciled span {
    border-radius: 3px;
    background-color: #e3fcef !important;
    font-size: 14px;
    font-weight: 500;
    color: #00875a !important;
    padding: 4px 10px;
}
.Status-Dishonored span {
    background-color: #ffebe6 !important;
    color: #de350b !important;
    padding: 4px 10px;
    border-radius: 3px;
    text-align: left;
}
