@import "./input.scss";
.cancel-transaction-main-div {
    .MuiSnackbar-anchorOriginBottomCenter {
        top: -76%;
        position: absolute;
    }
    .pagination-container {
        width: 70%;
    }
    .trial-balance-header-title {
        position: fixed;
        top: 0;
        width: 50%;
        background: $app-body-color;
        height: 56px;
        line-height: 40px;
        padding-top: 19px;
        z-index: 1;
        display: flex;
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #00445d;
        }
        .top-header-icon {
            padding-top: 10px;
            font-size: 25px;
            margin-top: -4px;
            cursor: pointer;
        }
    }
    .masters-body-div {
        .invoice-page-header {
            margin-bottom: 10px;
        }
    }
    .print-cancelled-transaction {
        .table-main-div {
            .transaction-cancel-table {
                width: 100%;
                font-size: 13px;
                border: 1px solid #dfe1e6;
                margin-top: 15px;
                background: #fff;
                thead {
                    font-weight: bold;
                    border-bottom: 1px solid #dfe1e6;
                    tr {
                        height: 40px;
                        text-transform: uppercase;
                        th {
                            font-size: 12px;
                            height: 30px;
                            color: #7a869a;
                            text-align: center;
                            border-right: 1px solid #dfe1e6;
                            .MuiButtonBase-root {
                                span {
                                    margin-left: -5px;
                                }
                            }
                        }
                        th.first-child-space:nth-child(1) {
                            width: 120px !important;
                        }
                        th.demand-note.ID {
                            width: 7%;
                        }

                        th.demand-note.REGID {
                            width: 11%;
                        }
                        th.student-fee.ID {
                            width: 10%;
                        }

                        th.student-fee.REGID {
                            width: 8%;
                        }
                        th.student-fee.STUDENTNAME {
                            width: 10%;
                        }
                    }
                }
                tbody {
                    tr {
                        font-size: 12px;
                        .transaction-sno {
                            text-align: center;
                            border-bottom: 1px solid #dfe1e6;
                        }
                        .transaction-vch-num,
                        .transaction-date,
                        .transaction-vch-type {
                            text-align: center;
                            border-bottom: 1px solid #dfe1e6;
                            border-left: 1px solid #dfe1e6;
                        }
                        .transaction-particulars {
                            border-left: 1px solid #dfe1e6;
                            border-bottom: 1px solid #dfe1e6;
                            p {
                                // border-bottom: 1px solid #dfe1e6;
                                padding: 8px;
                            }
                        }
                        .transaction-credit {
                            border-left: 1px solid #dfe1e6;
                            border-right: 1px solid #dfe1e6;
                            border-bottom: 1px solid #dfe1e6;
                        }
                        .transaction-debit {
                            border-left: 1px solid #dfe1e6;
                            border-bottom: 1px solid #dfe1e6;
                        }
                        .transaction-debit,
                        .transaction-credit {
                            p {
                                // border-bottom: 1px solid #dfe1e6;
                                padding: 8px;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    .add-new-cancel-transaction {
        width: 100%;
        display: flex;
        .left-sec {
            width: 95%;
            .icon-box {
                margin-top: 10px;
            }
        }
        .right-sec {
            width: 5%;
            button {
                font-family: OpenSans-Light;
                font-style: normal;
                font-weight: 600;
                height: 36px;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                border-radius: 3px;
                background-color: #0052cc;
                align-items: center;
                outline: none;
                border: none;
                cursor: pointer;
                color: #ffffff;
                width: 100%;
                float: right;
                padding-left: 13px;
            }
        }
    }
    .triBal-modelBoxData {
        .rs-modal-content {
            top: 200px !important;
        }
        .rs-modal-body {
            // overflow: scroll !important;
            transition: unset;
            overflow: visible !important;
            margin-top: 0px !important;
            padding-top: 5px;
            padding-bottom: 10px;
        }
    }
    .date-picker-tribal {
        display: flex;
        .select-date-from {
            width: 50%;
            p {
                font-size: 14px;
            }
            .datepicker-icon-triBal {
                margin-left: -20px;
                position: absolute;
                z-index: 11;
                margin-top: 15px;
                cursor: pointer;
            }
            .date-picker-tribalCustom {
                height: 33px;
                margin-top: 5px;
                width: 200px;
                // background-color: #dfe1e6;
                // border: 1px solid #dfe1e6;
                padding: 15px;
            }
        }
        .select-date-to {
            width: 50%;
            p {
                font-size: 14px;
            }
            .datepicker-icon-triBal {
                margin-left: -20px;
                position: absolute;
                margin-top: 15px;
                cursor: pointer;
            }
            .date-picker-tribalCustom {
                height: 33px;
                margin-top: 5px;
                width: 200px;
                // background-color: #dfe1e6;
                // border: 1px solid #dfe1e6;
                padding: 15px;
            }
        }
    }
    .tribal-modal-button1 {
        background-color: $blue-btn-color;
        color: #fff;
        border-radius: 2px;
    }
    .tribal-modal-button2 {
        border-radius: 2px;
    }
    .tribal-modal-button1:hover {
        background-color: $blue-btn-color;
        color: #fff;
    }
    .show-error-msg {
        margin-top: 3px;
        margin-bottom: 3px;
        color: $error-color;
    }
    .rs-btn-subtle:hover {
        background: $white !important;
    }
}
.rs-modal-wrapper {
    .triBal-modelBoxData {
        width: 450px !important;
        top: 32%;
    }
    .rs-modal-body {
        position: relative;
        margin-top: 10px;
        padding-bottom: 15px;
    }
}
.tribal-modal-button1 {
    background-color: $blue-btn-color;
    color: #fff;
    border-radius: 2px;
}
.tribal-modal-button2 {
    border-radius: 2px;
}
.tribal-modal-button1:hover {
    background-color: $blue-btn-color;
    color: #fff;
}
.logout-menu-wrap {
    z-index: 1111111 !important;
    .logout-header-text {
        flex: 0;
        display: inline-flex;
        margin: 0;
        padding: 10px 24px;
        border-bottom: 1px solid #eee;
        font-family: $primary-font-Regular;
        font-size: 14px;
        background-color: #f8f8f8;
    }
    .logout-text {
        font-family: $primary-font-Regular;
        font-size: 14px;
        color: #091e42;
    }
    .logout-header-btns {
        padding: 0px 0px 20px;
        margin: 0px 8vh;
        justify-content: space-evenly;
        .MuiButton-textPrimary {
            color: #1359c1;
            font-family: $primary-font-Regular;
            font-size: 14px;
            width: 120px;
            border: 1px solid #6b778c;
            margin-left: 0px;
        }
        .btns-submit {
            background-color: #1359c1;
            color: #fff;
            text-transform: capitalize;
        }
        .btns-cancel {
            background-color: #fff;
            color: #1359c1;
            border: 1px solid #000;
        }
        .btns-cancel:hover {
            color: #000000 !important;
        }
    }
}
