.challan-main-section {
    .challan-header-section {
        text-align: center;
        width: 100%;
        padding: 50px 10px 10px 10px;
        .header-data {
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            line-height: 24px;
            color: #00445d;
        }
    }
    .challan-body-section {
        padding: 0px 0px 0px 0px;
        width: 100%;
        .challan-table {
            width: 70%;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            td {
                text-align: center;
                padding: 10px;
                font-size: 15px;
                span {
                    font-weight: bold;
                }
            }
        }
        .challan-amount {
            width: 70%;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            .top-table-data{
                font-weight: bold;
                color: #7a869a;
            }
            td {
                border: 1px solid #dfe1e6;
                text-align: center;
                padding: 10px;
                font-size: 15px;
                span {
                    font-weight: bold;
                }
            }
            tbody {
                tr {
                    text-align: left;
                }
            }
            .table-last-row{
                width: 20%;
                text-align: right;
                font-weight: bold;
                color: #42526e;
                font-size: 18px;
            }
        }
        .txn-header-name {
            text-align: center;
            padding: 10px;
            font-size: 17px;
        }
        .trasaction-number-input {
            height: 40px;
            width: 280px;
            text-align: center;
        }
        .challan-submit-btn {
            border-radius: 3px;
            background-color: #0052cc;
            padding: 8px 20px;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            border: 1px solid #0052cc;
            height: 37px;
            float: center;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }
}
