
.aside-search-wrap 
{
    form {
    box-shadow: none;
    padding: 6px 24px;
    border-bottom: 1px solid #dfe1e6;
    border-radius: 0;
    display: flex;
    }

    input.MuiInputBase-input {
        height: auto;
        padding: 0;
        line-height: 1;
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
    input::placeholder {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        opacity: 1;
      }

    button.MuiButtonBase-root.MuiIconButton-root {
        // margin: 0 0 0 20px;
        padding: 10px;
    }
}

.aside-date-picker{
    div {
        z-index: 1;
    }
    .MuiButton-root {
        border: 1px solid #1359c1;
    margin: 10px 29px 22px;
    float: right;
    padding: 6px 12px;
    .MuiButton-label {
    font-size: 14px;
    font-weight: 500;
    color: #42526e;
    text-transform: capitalize;
    }
    svg {
        margin-left: 20px;
        // position: absolute;
        // right: 19px;
    }
}
.MuiListItem-button:hover {
    box-shadow: 0 0 8px 0 rgba(179, 186, 197, 0.55);
    // background-color: $app-body-color;
}
.MuiList-padding {
    padding: 0;
}
.MuiListItem-root {
    width: 187px;
}
.recent-date-active {
    color: #1359c1;
    position: absolute;
    right: 19px;
}
.custom-date-icon{
    position: absolute;
    right: 19px;
}
}

.history-wrap {
    width: 100%;
    padding: 0 15px;
    clear: both;
    height: calc( 100% - 100px);
    overflow-y: scroll;
}

.history-cont1 {
    width: 100%;
    position: relative;
    float: left;
}

.history-cont2 {
    width: 100%;
    position: relative;
    float: left;
}

.history-hd1 {
    font-size: 12px;
    color: #6b778c;
    text-transform: uppercase;
    padding-bottom: 19px;
    position: relative;
    background: #fff;
}

.history-hd2 {
    font-size: 14px;
    font-weight: 500;
    color: #00b8d9;
    text-transform: capitalize;
    // margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative;
    background: #fff;
    padding-bottom: 10px;
}

.history-date-field {
    float: left;
    width: 15%;
    position: relative;
    background: #fff;
    font-size: 12px;
    font-weight: 700;
    color: #6b778c;
}

.history-date-desc {
    float: left;
    width: 80%;
    overflow-wrap: anywhere;
}

.histort-date-wrap {
    float: left;
    padding-bottom: 15px;
}

.history-cont2:before {/* content: ''; */position: absolute;width: 1px;height: 100%;background: #6b778c;left: 17px;}

.history-date-desc p {
    font-size: 12px;
    font-weight: 700;
    color: #6b778c;
}

.history-date-desc p span {
    font-weight: 500;
}

.history-cont1:before {
    content: '';
    position: absolute;
    width: 1px;
    background: #dfe1e6;
    left: 17px;
}
.history-nav-btn button {
    font-size: 10px;
    font-weight: 700;
    color: #1359c1;
    background: transparent;
    // border: 1px solid;
    text-transform: none;
    float: right;
}
.history-wrap::-webkit-scrollbar {
    width: 7px;
}
/* Track */
.history-wrap::-webkit-scrollbar-track {
    background: #fff;
    border: 5px solid transparent;
    background-clip: content-box; // this is important
}
/* Handle */
.history-wrap::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 5px;
    cursor: pointer;
}
.span-hist{
    width:"5%"
}

//****************New Change History CSS**************

.rs-drawer-header .rs-drawer-header-close {
    display: none;
}
.change-history-title {
    color: #061938;
}
.change-history-close-btn {
    color: #7A869A;
    cursor: pointer;
    margin-top: -1px;
}
.change-history-version {
    background-color: #D9FAFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 0px 0px 6px;
    width: 75px;
    height: 22px;
    border-radius: 3px;
    color: #00445D;
    font-weight: 600;
    font-size: 14px;
}
.change-history-date {
    width: 315px;
    height: 22px;
    left: 44px;
    top: 101px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #253858;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}
.change-history-content {
    width: 330px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #253858;
    margin-top: 0px;
    width: 100%;
    display: flex;
    :nth-child(1){
        width: 100%;
    }
    :nth-child(2){
        width: 97%;
    }
}
.change-history-footer {
    width: 315px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #253858;
    margin-top: 4px;
    margin-bottom: 30px;
}
.rs-timeline-item-last .rs-timeline-item-dot::before {
    background-color: #d9d9d9;
}
.rs-timeline-item-dot::before {
    width: 12px !important;
    height: 12px !important;
}
.rs-timeline-align-left .rs-timeline-item-tail {
    left: 5.2px;
}
.rs-timeline-item-tail {
    width: 0.8px !important;
}
.rs-timeline-item:not(:last-child) .rs-timeline-item-content {
    padding-bottom: 10px;
}