@import "./common.scss";

.payment-tab-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    // margin-top: 10px;
    .pay-wrap{
      width: calc(50% - 19px) !important
    }
}
.payment-title {
    height: 47px;
    background-color: $white;
    font-size: $fs-sl;
    font-family: $primary-font-Medium;
    color: $burger-menu-icon-color;
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.payment-history {
    width: 25%;
    border-radius: 5px;
    // height: 430px;
    // margin-top: 30px;
    .payment-details {
        // border: 1px solid $sidenav-submenu-border-color;
        border: 1px solid #DFE1E6;;
        padding-bottom: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: $white;
        //     margin: auto;
        // margin-right: 0;
    }
}
.payment-wrap {
    width: 100%;
    // border: 1px solid $sidenav-submenu-border-color;
    border-radius: 5px;
    display: flex;
    // margin-right: 10px;
    // background: #fff;
    .paymenttype-radioGroup {
        span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
            font-family: $primary-font-Regular !important;
            color: $black;
        }
    }
}
.history-status {
    margin-top: 20px;
    width: 93%;
    margin: auto;
    .inner-history {
        margin-top: 10px;
        width: 100%;
        display: flex;
        .part1 {
            width: 83%;
            color: $green-card-border-color;
            font-size: $fs-m;
            font-family: $primary-font-Medium;
        }
        .part2 {
            width: 17%;
            color: $light-grey-text;
            font-size: $fs-m;
            font-family: $primary-font-Medium;
        }
        .paid-amount {
            color: $light-txt-color;
            font-size: 10px;
            margin-bottom: 3px;
            font-family: $primary-font-Regular;
        }
        .overdue {
            font-size: 10px;
            color: $light-txt-color;
            margin-bottom: 3px;
            font-family: $primary-font-Regular;
        }
    }
}
.payment-status-bar {
    width: 100%;
    height: 11px;
    background: #afe1cc;
    position: relative;
    p {
        background: $green-card-border-color !important;
        position: absolute;
        height: 100%;
    }
}
.payment-list {
    // margin:10px auto;
    width: 100%;
    max-height: calc(100vh - 375px) !important;
    overflow-y: scroll;
    // margin-right: 0;
    // border:1px solid $sidenav-submenu-border-color;
    // border-radius: 5px;
    .payment-list-title {
        font-size: $fs-s;
        font-family: $primary-font-Medium;
        // color: $light-grey-text;
        margin-bottom: 5px;
    }
    .payment-sub-txt {
        font-size: $fs-sl;
        font-family: $primary-font-Regular;
        color: $sidenav-submenu-text-color;
        margin-bottom: 5px;
    }
    .payment-sub-txt-value {
        font-size: $fs-sl;
        font-family: $primary-font-Medium;
        color: $bold-text-color;
        margin-bottom: 5px;
    }

    .payment-list-previous {
        // display: flex;
        // width: 100%;
        .list {
            display: flex;
            justify-content: space-around;
            height: 80px;
            box-shadow: 0 1px 0 0 rgba(179, 186, 197, 0.25);
            .inner-text {
                // padding-top: 22px;
                .inner-title {
                    font-size: $fs-s;
                    color: $sidenav-bg-color;
                    font-family: $primary-font-Regular;
                }
                .inner-value {
                    font-size: $fs-sl;
                    color: $sidenav-bg-color;
                    font-family: $primary-font-Medium;
                }
            }
        }
    }
}
.mode-of-payment {
    width: 20%;
    border-right: 1px solid #DFE1E6;
}
.display-payment-type {
    width: 80%;
    height: 100%;
}

.payment {
    .payment-type-title {
        margin-left: 15px;
        margin-top: 12px;
        color: $bold-text-color;
        font-family: $primary-font-Medium;
        font-size: $fs-sl;
    }
    .card-note {
        font-size: $fs-sl;
        margin-left: 15px;
        font-family: $primary-font-Regular;
        color: $light-txt-color;
        font-family: $primary-font-Regular;
        position: relative;
        top: -30px;
    }
    .btn {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: 10%;
        .payment-btn {
            width: 354px;
            background-color: $blue-btn-color;
            color: $white;
            height: 35px;
            border-radius: 3px;
        }
    }
    .btn1 {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        .payment-btn {
            width: 354px;
            background-color: $blue-btn-color;
            color: $white;
            height: 35px;
            border-radius: 3px;
        }
    }
}

// .formalign{
//     width: 100%;
//     float: left;
//     margin-bottom: 0px !important;
//     margin-top: 15px;
//     .select-input-wrap{
//         margin-right: 36px;
//         width: 93%;
//         margin-right: 15px;
//         // margin-left: 36px;
//     }

// }
// .formalign:nth-child(even) {
//     margin-right: 15px;
// }

.payment {
    width: 100%;
    min-height: 300px;
    padding: 19px;
    position: relative;
    .formalign {
        width: calc(50% - 19px) !important;
        float: left;
        margin: 0;
        margin-bottom: 19px !important;
        margin-right: 15px;  
    }

    // .formalign:nth-child(even) {
    //     float: left;
    // }
    .select-field {
        // margin:  0 0 19px 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .cancel-btn {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
        margin-right: 15px;
    }
    .form-commonpymnt-btn {
        position: absolute !important;
        bottom: -54px;
        right: 40px;
        height: 40px !important;
        padding: 10px 45px;
        background-color: #0052CC !important;
        border-color: #0052CC !important;
    }
    .form-commonpayment-receive-btn {
        position: absolute !important;
        top: -54px;
        right: 40px;
        height: 40px !important;
        padding: 10px 45px;
        background-color: #0052CC !important;
        border-color: #0052CC !important;
        color: #fff;
    }
    .form-clear-btn {
        position: absolute !important;
        // top: 76px;
        top: -110px;
        right: 0px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-cancel-btn {
        position: absolute !important;
        // top: 76px;
        top: -110px;
        right: 293px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-save-btn {
        position: absolute !important;
        // top: 76px;
        top: -110px;
        right: 154px;
        height: 40px !important;
        padding: 10px 45px;
    }
}

.payment-button {
    position: relative;
    margin: 0 auto;
    top: 70px;
    width: 354px;
    height: 35px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.create-invoice-wrapper.pdf-invoice {
    .payment {
        .select-input-wrap.rs-picker-select a,
        .select-input-wrap.rs-picker-date a,
        .select-input-wrap.rs-picker-check a {
            background: #fafbfc !important;
        }
    }
}

.receipt-payment {
    .payment-tab-wrapper {
        width: 100%;
        display: block;
        justify-content: space-around;
        border: 1px solid #DFE1E6;
        border-radius: 3px;
        // margin: 15px auto;
    }
    .cancel-btn {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
        margin-right: 15px;
    }
    
    .payment-current {
        // height: 430px;
        // width: 70%;
        width: 100%;
        background-color: $white;
    }
    width: 100%;
    // float: left;
    display: flex;
    // align-items: center;
    // height: calc(100vh - 235px);
    justify-content: space-around;
    // margin-top: 30px;
}
.payment-tab-wrapper {
    .payment-title {
        height: 47px;
        background-color: transparent;
        font-size: 14px;
        font-family: $primary-font-Medium;
        // color: #091e42;
        display: flex;
        align-items: center;
        padding-left: 11px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        width: 100%;
        // border-bottom: 1px solid #ccc;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    .payment-wrap {
        height: calc(430px - 33px);
        // height: calc(380px - 5px);
    }
}
// .payment-list-previous .list:first-child {
//     border-top: 1px solid rgba(179, 186, 197, 0.25);
//     margin-top: 15px;
// }
.payment-tab-wrap {
    position: absolute;
    width: 100%;
    height: calc(100vh - 200px) !important;
    margin: 15px 0 0 0; 
    overflow-y: auto;
    // border-top: 1px solid #DFE1E6;

}
.invoice-wrap {
    margin: 0;
}

.attachment-btn-wrap {
    position: relative;
    width: 100%;
    float: left;
    .form-submit-btn {
        position: absolute !important;
        right: 0px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-clear-btn {
        position: absolute !important;
        right: 450px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-cancel-btn {
        position: absolute !important;
        right: 295px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-save-btn {
        position: absolute !important;
        right: 155px;
        height: 40px !important;
        padding: 10px 45px;
    }
    .form-submit-btn,
    .form-clear-btn,
    .form-cancel-btn,
    .form-save-btn {
        top: -115px;
    }
}
.invoice-page-wrapper {
    .attachment-btn-wrapper {
        position: relative;
        width: 100%;
        float: left;
        .form-submit-btn {
            position: absolute !important;
            right: 0px;
            height: 40px !important;
            padding: 10px 45px;
        }
        .form-clear-btn {
            position: absolute !important;
            right: 450px;
            height: 40px !important;
            padding: 10px 45px;
        }
        .form-cancel-btn {
            position: absolute !important;
            right: 295px;
            height: 40px !important;
            padding: 10px 45px;
        }
        .form-save-btn {
            position: absolute !important;
            right: 155px;
            height: 40px !important;
            padding: 10px 45px;
        }
        .form-submit-btn,
        .form-clear-btn,
        .form-cancel-btn,
        .form-save-btn {
            top: -40px !important;
        }
    }
    .footer-btn-grps {
        position: relative;
        width: 50%;
        top: 62px;
        right: 172px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            margin-left: 15px;
        }
        .cancel-btn {
            border-radius: $radius-3;
            border: $input-border-color;
            background-color: $white;
            height: 39px;
            outline: none;
            border: none;
            color: $new-color;
            font-family: $primary-font-Bold;
            font-size: $fs-normal;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 9px 24px;
            cursor: pointer;
        }
        .save-btn {
            border-radius: $radius-3;
            border: $input-border-color;
            background-color: $white;
            height: 39px;
            outline: none;
            border: none;
            font-family: $primary-font-Bold;
            font-size: $fs-normal;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $new-color;
            padding: 9px 24px;
            cursor: pointer;
        }
        .generate-btn {
            border-radius: $radius-3;
            background-color: $new-color;
            height: 39px;
            outline: none;
            border: none;
            font-family: $primary-font-Bold;
            font-size: $fs-normal;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $white;
            padding: 9px 24px;
            cursor: pointer;
        }
    }
}
.list-items {
    padding: 0;
    .MuiListItem-gutters {
        height: 56px;
    }
    .MuiListItem-button:hover {
        background: #F2FAFC;
    }
}
.payment {
    .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
    .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
        color: #000000;
    }
}
.input-wrap.formalign.remarks-field {
    width: calc(50% - 19px);
}
.payment-summary{
    margin-bottom: 20px;
    height: 150px;
    background: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    font-size: 14px;
    font-family: OpenSans-Medium;
    color: #7A869A;
}
///payment-history-table----
table.payment-history-table {
    padding: 0px;
    margin: 0px;
    width: 100%;
    th:nth-child(1),
    td:nth-child(1) {
    max-width: 100px !important;
    min-width: 50px;
    width: 50px;
}
}

tr.payment-history-tableHeaderRow {
    /* border-bottom: 1px solid #ccc; */
    border-bottom: 1px solid #DFE1E6;
    height: 40px;
    line-height: 40px;
}

th.payment-history-tableHeader {
    padding: 0;
    padding-left: 12px;
    text-align: left;
    /* padding-bottom: 10px; */
     color: #7A869A;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #7A869A;
}


tbody.payment-history-tableBody tr {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DFE1E6;
}
tbody.payment-history-tableBody tr:last-child {
    height: 40px;
    line-height: 40px;
    border-bottom: none;
}
td.payment-history-tabledata {
    padding-left: 10px;
}
td.payment-history-tabledata:nth-child(2) {
    padding-left: 10px;
    color: #253858;
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
}
.payment-method.payment-method-wrap form {
    position: initial;
}

.active-payment-tab {
    background: #f2fafc;
}

.active-payment-tab:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 3px;
    height: 100%;
    background: #00445d;
}
.fright {
    float: right !important;
}
.marginUnset{
    width: calc(50% - 19px);
    float: left;
    margin: 0;
    margin-bottom: 15px !important;
    margin-right: 15px;
}
.receipt-payment{
    .payment-form-field{
        height: 72px !important;
    }
}
.colordisablebtn{
    opacity: 0.5;
}