@import "./common.scss";
@import "./onboard.scss";
//------------------------------ Create Invoice page css

.create-invoice-page-header {
    // padding:0px 20px 0px 20px;
    // padding: 10px 20px 0px 20px;
    width: 100%;
    background: #f6f8fa;
    height: 50px;
    position: fixed;
    top: 16px;
    z-index: 2;
    p.header-txt {
        // font-family: $primary-font-Bold;
        // height: 27px;
        // font-size: $fs-l;
        // font-stretch: normal;
        // font-style: normal;
        // line-height: 1.5;
        // letter-spacing: normal;
        // color: $bold-text-color;
        font-family: $primary-font-Medium;
        display: flex;
        align-items: center;
        color: #505f79;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #00445d;
    }
    .invoices-count-text {
        width: 33px;
        height: 21px;
        font-family: $primary-font-Regular;
        font-size: $fs-l;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $light-txt-color;
        float: right;
        padding-left: 15px;
        line-height: 1.5;
    }
}
.invoice-header-tools {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 30%;
}
.notes-history-wrapper {
    display: flex;
    float: right;
    padding: 10px;
}

.link-icon-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #0052cc;
    padding: 8px;
    margin-right: 16px;
    min-width: max-content;
    p {
        font-size: $fs-normal;
        font-weight: normal;
        color: #0052cc;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        margin: 0;
        padding-left: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}
.print-icon-box {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    border-radius: $radius-3;
    width: 40px;
    height: 40px;
    border: $input-border-color;
    background-color: $white;
    margin-right: 16px;
}
.history-icon-box {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: $radius-3;
    color: rgba(0, 0, 0, 0.54);
    // border: $input-border-color;
    background-color: $white;
    padding: 8px;
    margin-right: 5px;
    p {
        color: $light-txt-color;
        font-family: $primary-font-Medium;
        padding-left: 8px;
        font-size: $fs-normal;
    }
}
.sort-icon-box {
    padding: 3px;
    cursor: pointer;
    width: 40px;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: $radius-3;
    border: $input-border-color;
    background-color: $white;
    margin-right: 5px;
}
.clear-icon-box {
    cursor: pointer;
    padding: 8px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-3;
    border: $input-border-color;
    background-color: $white;
    height: 40px;
    font-family: $primary-font-Medium;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $new-color;
    margin-left: 20px;
}
.attach-icon-box {
    cursor: pointer;
    border-radius: $radius-3;
    border: $input-border-color;
    background-color: $white;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin-right: 5px;
    p {
        color: $light-txt-color;
        font-family: $primary-font-Medium;
        padding-left: 8px;
        font-size: $fs-normal;
    }
}
.note-icon-box {
    cursor: pointer;
    border-radius: $radius-3;
    // border: $input-border-color;
    background-color: $white;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin-right: 5px;
    p {
        color: $light-txt-color;
        font-family: $primary-font-Medium;
        padding-left: 8px;
        font-size: $fs-normal;
    }
}
// --------------------------------Table part Starts here------------------------

.create-invoice-wrapper {
    width: 100%;
    // height: calc(100vh - 150px);
    height: calc(100vh - 145px);
    border-radius: 5px;
    // overflow-y: auto;
    // border: $input-border-color;
    // background-color: $white;
    position: relative;
}
.create-invoice-header {
    height: 50px;
    // border: $input-border-color;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}
.MuiTabs-indicator {
    background-color: $primary-color !important;
}

.MuiTab-root {
    text-transform: capitalize !important;
}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.invoice-tab.Mui-selected {
    font-family: $primary-font-Medium;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $new-color;
    text-transform: capitalize;
    margin-bottom: 2px;
}
.invoice-selectoption-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    float: left;
    background: #ffff;
    height: 60px;
    border-bottom: none;
    padding: 25px;
    justify-content: space-between;
}

.invoice-type-wrap {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* float: left; */
    margin-left: 15px;
}

.invoice-type-wrap p {
    width: max-content;
    padding-right: 15px;
    font-family: $primary-font-Medium;
    font-weight: 500;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0052cc;
}
.material-attach-icon {
    width: 20px;
}
span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $light-txt-color;
    font-family: $primary-font-Medium;
}
.invoice-view-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.invoice-view-wrap p {
    padding-right: 15px;
    width: max-content;
    font-family: $primary-font-Medium;
    font-weight: 500;
    font-size: $fs-normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
}
.invoice-all-tabs {
    width: 100%;
}

.org-details-content {
    width: 100%;
    padding-left: 11px;
}

.invoice-org-details-wrapper {
    display: flex;
    width: 100%;
    margin-top: 30px;
    .invoice-title-wrap {
        width: 50%;
        margin-left: 25px;
        display: flex;
        text-align: left;
        .invoice-title-txt {
            font-family: $primary-font-Regular;
            font-size: 24px;
            letter-spacing: normal;
            font-weight: 600;
            line-height: 24px;
            padding-left: 15px;
            color: #00445d;
            text-transform: uppercase;
        }
        .invoice-number-txt {
            padding-left: 15px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #061938;
            margin-top: 8px;
        }
    }
}

.invoice-org-wrap {
    width: 50%;
    display: flex;
    text-align: right;
}
.tax-icon-image {
    width: 56px;
    height: 56px;
    background: #00445d;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    span.zq-icon-taxrelated {
        font-size: 28px;
    }
}

.invoice-info-wrap {
    display: flex;
    margin-left: 25px;

    .info-inputs-boxnames {
        input {
            width: 100%;
        }
    }
}
.org-logo-wrap {
    min-width: 85px;
    max-height: 85px;
    background-color: $error-color;
}
.invoice-org-name {
    font-family: $primary-font-Regular;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #00445d;
}
.invoice-org-address1 {
    font-family: $primary-font-Regular;
    font-size: $fs-s;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $light-grey-text;
    margin-bottom: 4px;
}
.invoice-org-phone {
    font-family: $primary-font-Regular;
    font-size: $fs-s;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $light-grey-text;
    margin-bottom: 5px;
}
.invoice-org-gstin {
    font-family: $primary-font-Regular;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #061938;
}
.info-inputs-boxnames {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    input {
        height: 36px;
        outline: none;
    }
}
.info-input-label {
    padding-right: 11px;
    font-family: $primary-font-Regular;
    // font-size: $fs-normal;
    font-size: $fs-ss;
    font-weight: normal;
    width: 100%;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    width: 30%;
}
.info-input-label-box {
    font-family: $primary-font-Regular;
    padding-right: 0px;
    font-weight: normal;
    min-width: max-content;
    font-stretch: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    color: #505f79;
}
.info-invoice-no-val {
    padding: 15px !important;
}
.info-payment-type-val,
.info-invoice-no-val {
    font-family: $primary-font-Bold;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    width: 100%;
    font-size: $fs-normal;
    height: 20px;
    text-align: left;
}
.invoice-input-field {
    height: 36px;
    border-radius: $radius-2;
    border: $input-border-color;
}

.invoice-input-val {
    font-family: $primary-font-Bold;
    font-size: $fs-ss;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    outline: none;
    font-weight: 500;
    // border: none;
    border: $input-border-color;
    // border: 2px solid #f4f5f7;
    // border: 1px solid #dfe1e6;
    padding-left: 5px;
    width: 90%;
    margin-bottom: 0px;
    margin-left: -15px;
    opacity: 1;
    // padding: 10px;
    // margin-top: 10px;
    // background: #fafbfc;
}
.invoice-no-val {
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $bold-text-color;
    outline: none;
    font-weight: 500;
    // border: none;
    border: $input-border-color;
    padding-left: 10px;
    margin-bottom: 0px;
    min-width: 178px;
    text-align: left;
    border: none;
}
.customer-input-val {
    font-family: $primary-font-Bold;
    font-size: $fs-ss;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    outline: none;
    font-weight: 500;
    // border: none;
    border: $input-border-color;
    padding-left: 0px;
    width: 90%;
    margin-bottom: 0px;
    margin-left: -15px;
    input {
        border: none;
    }
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-value,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-value,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-value {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.87);
    }
    .rs-picker-default .rs-picker-toggle.rs-btn {
        padding: 10px !important;
        height: 36px !important;
        z-index: 0;
    }
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-caret {
        top: 8px !important;
        right: 5px !important;
    }
    .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
    .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
        top: 8px !important;
    }
}
.info-input-date-box {
    outline: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    input {
        padding-left: 5px;
        height: 36px;
        border: none;
        font-family: $primary-font-Regular;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        outline: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #253858;
        width: 100px;
    }
}
.invoice-payment-type-val {
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    outline: none;
    font-weight: 500;
    border: none;
    padding-left: 10px;
}
.invoice-custom-table-wrapper {
    border: $input-border-color;
    border: 1px solid #dfe1e6;
    /* padding: 23px 32px; */
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding-right: 3%;
    background: #ffffff;
    /* height: 75%; */
    // margin-bottom: 20px;
    /* margin: 15px auto; */
    border-top: none;
}
.create-invoice-table-wrapper {
    background: $white;
    height: 100%;
    width: calc(100% - 25px);
    margin-left: 25px;
}
.invoice-client-info-wrapper {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    margin-top: 25px;
    border-bottom: 1px solid #dfe1e6;
    border-top: 1px solid #dfe1e6;
    padding: 15px 0px 15px 0px;
}
.info-details-header {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: $primary-font-Regular;
    font-size: 12px;
    line-height: 22px;
    color: #061938;
}
.shipping-details-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -12px;
    span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
        font-size: 10px !important;
        font-family: $primary-font-Regular;
        line-height: 22px;
        color: #061938;
    }
}
.MuiFormControlLabel-root.shipping-details-label {
    margin-right: 0px !important;
}

.invoice-billing-wrap {
    // width: 33%;
    width: 50%;
    margin-right: -20px;
}
.invoice-billing-wrapper {
    // width: 33%;
    width: 40%;
    margin-right: -20px;
}

.invoice-shipping-wrap {
    // width: 33%;
    width: 50%;
    margin-left: 0px;
    margin-right: 20px;
}
.invoice-shipping-wrapper {
    // width: 33%;
    width: 100%;
    margin-left: 0px;
    // margin-right: 20px;
}

.invoice-eway-wrap {
    width: 33%;
    margin-left: 20px;
}
body::-webkit-scrollbar-track,
.invoice-custom-table-wrapper::-webkit-scrollbar-track {
    //   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    cursor: pointer;
    background-color: border-color;
}

body::-webkit-scrollbar,
.invoice-custom-table-wrapper::-webkit-scrollbar {
    width: 4px;
    background-color: border-color;
}

body::-webkit-scrollbar-thumb,
.invoice-custom-table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 24px;
    //   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    // background-color: border-color;
    background-color: #ccc;
}

.MuiFormControlLabel-root .shipping-details-label {
    font-size: $fs-xs-s !important;
    font-family: $primary-font-Regular;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: $bold-text-color;
}

.footer-btn-grps {
    position: relative;
    width: 50%;
    top: 62px;
    right: 172px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .icon-box {
        margin: 0px 20px;
    }
    button {
        margin-left: 15px;
    }
    .cancel-btn {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
    }
    .save-btn {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $new-color;
        padding: 9px 24px;
        cursor: pointer;
    }
    .generate-btn {
        border-radius: $radius-3;
        background-color: $new-color;
        height: 39px;
        outline: none;
        border: none;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        padding: 9px 24px;
        cursor: pointer;
    }
}
.invoice-custom-table-wrapper {
    .react-datepicker-popper {
        left: -30px !important;
    }
}
.eway-inputs {
    .info-input-label {
        width: 45%;
    }

    .info-input-date-box {
        .eway-date-wrap {
            width: 100%;
        }
        .react-datepicker-wrapper {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
    .invoice-no-val {
        width: 100%;
        font-size: 13px;
    }
}

//TEXTRACT SCSS
.invoice-extract-wrap {
    // width: 100%;
    // position: fixed;
    // height: 100vh;
    // left: 0;
    // z-index: 111111;
    // top: 0;
    // background: rgba(9, 30, 66, 0.6);
    height: calc(100vh - 130px);
    padding: 23px;
    .pdf-extract-wrap {
        width: 100%;
        float: left;
        // padding: 20px;
        height: 100%;
        // background: #fff;
        // border: $input-border-color;
        // border-top-left-radius: 3px;
        // border-bottom-left-radius: 3px;
    }

    .invoice-custom-table-container {
        width: 50%;
        float: left;
        padding: 20px;
        background: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .invoice-custom-table-container {
        height: calc(100vh - 40px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .invoice-org-details-wrapper {
        flex-wrap: wrap;
    }

    .invoice-org-wrap {
        width: 70%;
        display: block;
        float: left;
        margin: 0;
    }

    .org-logo-wrap {
        width: 85px;
        height: 85px;
        float: left;
    }
    .org-details-content {
        width: calc(100% - 100px);
        float: left;
    }

    .invoice-title-wrap {
        width: 30%;
        float: left;
        margin: 0;
        justify-content: flex-end;
        align-items: baseline;
    }

    .invoice-info-wrap {
        width: 100%;
    }

    .invoice-shipping-wrap {
        margin: 0;
    }

    .invoice-eway-wrap {
        margin: 0;
    }
    .invoice-billing-wrap,
    .invoice-shipping-wrap,
    .invoice-eway-wrap {
        width: 50%;
        padding-right: 10px;
    }

    .invoice-client-info-wrapper {
        flex-wrap: wrap;
    }
    .dot-card {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .onboard-card-header {
        text-align: center;
    }
    .filename-wrap {
        top: 0;
        overflow-y: scroll;
        height: 100%;
        overflow-x: hidden;
    }
}

p#highlight,
.highlight {
    position: absolute;
    box-shadow: 0px 0px 12px -2px blue;
    margin: 0;
}
p#highlight {
    z-index: 2;
}
.highlight {
    z-index: 1;
    box-shadow: none;
    background: rgba(9, 30, 66, 0.6);
}
.invoice-view-wrap {
    button.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButtonGroup-grouped {
        height: 32px;
        // background: #f4f5f7 !important;
        line-height: 32px;
        border-radius: 2px;
        border: solid 1.5px #42526e;
        padding: 10px;
        text-align: center !important;
        p.toggle-btn-label {
            font-family: $primary-font-Medium !important;
            font-size: 11px !important;
            // font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 11px;
            letter-spacing: normal;
            color: #b3bac5;
            padding-right: 0;
        }
    }
    .MuiToggleButton-root.Mui-selected:disabled {
        background-color: #42526e !important;
        color: #ffffff !important;
        height: 32px;
        background: #42526e;
        line-height: 32px;
        border-radius: 2px;
        border: solid 1px #42526e;
        padding: 10px;
        opacity: 1;
        p.toggle-btn-label {
            font-family: $primary-font-Bold !important;
            font-size: 11px !important;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 11px;
            letter-spacing: normal;
            color: #ffffff !important;
            padding-right: 0;
            opacity: 1;
        }
    }
}
.create-invoice-wrapper.pdf-invoice {
    overflow: initial;
    height: auto !important;
    .invoice-custom-table-wrapper {
        overflow-y: auto;
        height: calc(100vh - 200px) !important;
        // padding-right: 0%;
        padding-right: 2%;
    }
    .customer-input-val .select-input-wrap.rs-picker-select a .rs-picker-toggle-value {
        margin-left: -5px;
    }
    input[type="text"],
    textarea,
    p {
        border: none !important;
        background: none;
    }
    .invoice-addNewItem,
    .remove-row-icon,
    .rs-picker-toggle-caret,
    .rs-picker-toggle-clean {
        display: none;
    }
    .select-input-wrap.rs-picker-select a,
    .select-input-wrap.rs-picker-date a,
    .select-input-wrap.rs-picker-check a,
    .customer-input-val,
    .invoice-selectinput {
        border: none;
        background: #fff !important;
    }
    // .invoice-selectoption-wrap {
    // border-bottom: solid 1px #dfe1e6;
    // margin-bottom: 15px;
    // }
}
//preview css
.invoice-prev {
    // .create-invoice-page-header {
    //     margin-bottom: 15px;
    // }
    .invoice-preview-btns {
        position: relative;
        height: 50px;
        .cancel-btn {
            border-radius: $radius-3;
            border: $input-border-color;
            background-color: $white;
            height: 39px;
            outline: none;
            border: none;
            color: $new-color;
            font-family: $primary-font-Bold;
            font-size: $fs-normal;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 9px 24px;
            cursor: pointer;
            margin-right: 15px;
        }
        .generate-btn {
            border-radius: $radius-3;
            background-color: $new-color;
            height: 39px;
            outline: none;
            border: none;
            font-family: $primary-font-Bold;
            font-size: $fs-normal;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $white;
            padding: 9px 24px;
            cursor: pointer;
        }
        .goods-header-wrap {
            display: flex;
        }
        .goods-Id-content {
            font-family: $primary-font-Regular;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #091e42;
            margin-bottom: 5px;
        }
        .goods-header-content {
            display: flex;
            font-size: 12px;
            font-family: $primary-font-Regular;
            z-index: 2;
            position: relative;
        }
        .goods-content-color {
            color: #1359c1;
        }
        .active-status-wrapper {
            // width: 62px;
            width: auto;
            padding: 0px 10px;
            background: #e3fcef;
            text-align: center;
            line-height: 25px;
            border-radius: 16px;
            // height: 25px;
        }
        .active-status-content {
            color: #36b37e;
        }
        .inactive-status-wrapper {
            width: 62px;
            background: #ffebe6;
            text-align: center;
            line-height: 25px;
            border-radius: 16px;
            height: 25px;
        }
    }
    .create-invoice-wrapper.pdf-invoice {
        height: calc(100vh - 145px) !important;
    }
}

.info-issued-date-wrap {
    width: calc(100% + 0px);
    .react-datepicker-wrapper,
    .react-date-picker {
        width: 100%;
    }
    input {
        padding: 10px;
        margin-top: 10px;
        background: #fafbfc;
        border: 1px solid #dfe1e6;
    }
}
.invoice-fetch-btns {
    width: 100%;
    display: flex;
}

// .invoice-fetch-btns p {
//     font-size: 14px;
//     font-weight: normal;
//     color: #1359c1;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.5;
//     letter-spacing: normal;
//     font-family: $primary-font-Regular;
//     margin: 0;
//     padding-left: 8px;
// }
.select-purchase-order-wrap {
    z-index: 111 !important;
    width: 100%;

    .MuiDialog-paper {
        position: relative;
        width: 20%;
        margin: 0 auto;
    }
    .po-input-val {
        width: 100%;
        border: $input-border-color;
    }
    .selectpo-txt {
        font-size: 13px;
        font-family: $primary-font-Bold;
        clear: both;
        margin-bottom: 10px;
    }
    .popup-header-text {
        border-bottom: $input-border-color;
    }
    .popup-header-text h2 {
        font-size: 18px !important;
    }
    .popup-header-btns {
        padding: 10px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btns-submit {
            width: 117px;
            height: 39px;
            background-color: #1359c1;
            font-family: $primary-font-Regular;
            font-size: 14px;
            font-weight: 400 !important;
            font-stretch: normal;
            font-style: normal;
            border: none;
            line-height: 1.5;
            letter-spacing: normal;
            color: #ffffff;
        }
        .btns-cancel {
            color: #1359c1;
            background-color: #fff;
            border: $input-border-color;
        }
    }
}

// .rs-picker-menu {
//     z-index: 2222 !important;
// }
.billing-inputs {
    padding-left: 15px;
    margin-top: 10px;
    input,
    textarea,
    p {
        border: none !important;
    }
}
.eway-inputs {
    padding-left: 0px;
    margin-top: 10px;
}
.shipping-inputs {
    // padding-right: 15px;
    margin-top: 0px;
    textarea {
        min-height: 36px;
        height: 36px;
    }
    p {
        border: none;
        margin-left: 0px;
    }
}

.invoice-options-wrapper {
    height: 60px;
    border-top: 1px solid #dfe1e6;
    border-left: 1px solid #dfe1e6;
    border-right: 1px solid #dfe1e6;
}

.shipClientName {
    font-family: $primary-font-Bold;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    height: 36px;
    background: #f4f5f7;
    line-height: 36px;
    letter-spacing: normal;
    color: #091e42;
    outline: none;
    font-weight: 500;
    border: solid 1px #dfe1e6;
    padding-left: 10px;
    width: 90%;
    margin-bottom: 0px;
    margin-left: -15px;
}
.journal {
    .unitprice-calc-col,
    .disc-calc-col,
    .sgst-calc-col,
    .cgst-calc-col {
        width: 11.5% !important;
    }
    .amount-calc-col {
        width: 11% !important;
    }
    .amount-tax-col {
        min-width: 6.7% !important;
    }
}
.billing-inputs.journal {
    padding-left: 15px;
    margin-top: 10px;
    input,
    textarea {
        border: solid 1px #dfe1e6 !important;
    }
}
.credit-debit {
    .info-inputs-boxnames {
        margin-bottom: 10px !important;
    }
}
.invoice-type-wrap.credit {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    height: 25px;
}
p.navigate-link {
    cursor: pointer;
    color: #1359c1;
    font-size: 14px;
    font-family: $primary-font-Medium;
    margin-right: 10px;
}
.logout-menu-wrap.po-invoice {
    .MuiDialog-paperWidthSm {
        width: 20% !important;
    }
}

.note-textarea {
    font-family: $primary-font-Regular;
    font-size: 12px;
    font-weight: normal;
    min-width: max-content;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #091e42;
}
textarea.note-textarea:focus {
    outline: 0.5px solid #091e42 !important;
}
.account-item.particulars {
    input {
        width: 99.5% !important;
        margin-right: 0.5% !important;
    }
}
.account-item {
    border-right: solid 1px #dfe1e6;
}
.particulars-qty,
.particulars-units,
.particulars-unitprice,
.particulars-discount {
    height: 40px !important;
}
.invoice-tableRow-header .account-item-parts {
    padding: 0px !important;
    width: 10%;
    .login-input {
        padding: 0px !important;
        height: 40px !important;
        width: 100%;
        .MuiFormControl-root.MuiTextField-root {
            padding: 0px !important;
        }
        .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl {
            height: 40px;
            padding: 0px 0px !important;
            background: #fff;
        }
    }
    .input-wrap input {
        border-right: $input-border-color !important;
        font-family: $primary-font-Bold;
        height: 27px !important;
        border-bottom: $input-border-color !important;
    }
    .input-wrap .MuiInputLabel-filled {
        transform: translate(16px, 14px) scale(1) !important;
    }
    .input-wrap .MuiInputLabel-filled.MuiInputLabel-shrink {
        font-size: 12px;
        transform: translate(10px, 4px) scale(0.85) !important;
    }
}

.account-view-wrapper .select-input-wrap.rs-picker-select a .rs-picker-toggle-caret,
.account-view-wrapper .select-input-wrap.rs-picker-select a .rs-picker-toggle-clean {
    top: 16px !important;
}
.account-view-wrapper .select-input-wrap.rs-picker-select a {
    padding: 15px !important;
    background: #fff !important;
}
.units-label-box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

p.units-label-text {
    position: absolute;
    z-index: 111;
    font-size: 12px;
    top: -13px;
    width: 100%;
    height: 0px;
    line-height: unset;
    text-align: left;
    left: -5px;
    color: #6b778c;
    transform: translate(10px, 4px) scale(0.85) !important;
}

.units-label-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 !important;
    height: 40px !important;
}

// ----------Toggler invoice view----------
span.invoicedocview.active {
    font-family: $primary-font-Bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #00445d;
}

.invoice-view-wrap .switch-tab {
    width: 100%;
    align-items: center;
    display: flex;
}
.amount-txt {
    // font-family: Open Sans;
    padding-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.summary-txt {
    font-size: 14px;
    font-family: OpenSans-Medium;
    color: #7a869a;
    padding: 10px;
}
//------------------------supportings
.supprotings-wrapper {
    position: absolute;
    width: 100%;
    // height: calc(100vh - 200px) !important;
    height: 100%;
    // margin: 15px 0 0 0;
    background: #ffffff;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
}
.supportings-div {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.supprotings-headerWrap {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    border-bottom: 1px solid #dfe1e6;
}
.info-details-div {
    width: 40%;
}
.invoice-input-value {
    font-family: $primary-font-Bold;
    font-size: $fs-ss;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    outline: none;
    font-weight: 500;
    border: 1px solid #dfe1e6;
    padding-left: 5px;
    width: 90%;
    margin-bottom: 0px;
    opacity: 1;
    padding: 10px;
    margin-top: 10px;
    background: #fafbfc;
}
