.dashboardHeader {
    height: 42px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dash-wrapper {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.dashButtons {
    display: flex;
    width: 14%;
    height: 21px;
    /* justify-content: center; */
}
.dashBtns1 {
    width: 35%;
    text-align: center;
    border-right: 1px solid black;
    cursor: pointer;
    height: 24px;
    font-size: 18px;
}

.dashBtns1:hover,
.dashBtns2:hover {
    font-weight: 600;
    text-decoration: underline;
}
.dashBtns2 {
    font-size: 18px;
    width: 24%;
    text-align: center;
    cursor: pointer;
    height: 24px;
    padding-left: 4%;
}
.dashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    //height: 185px;
    height: 80px;
    background: #ffffff;
    // width: 32%;
    width: 16%;
    display: flex;
    flex-direction: column;
}
.dashboardChartContainer1 {
    background: #ffffff;
    margin-top: 1%;
    // width: 33%;
    // height: 280px;
    height: 314px;
    width: 49.5%;
}
.dashboardChartContainer2 {
    background: #ffffff;
    margin-top: 1%;
    // width: 65%;
    height: 314px;
    // height: 280px;
    //display: flex;
    width: 49.5%;
}
.dashboard-graph-wrapper {
    display: flex;
    justify-content: space-between;
    //height: 307px;
    height: 330px;
    // margin-top: 1%;
}
.feeText1 {
    font-size: 16px;
    margin: 0;
    //padding-top: 10px;
    color: #000;
    width: 25%;
    text-align: center;
}
.feeText2 {
    font-size: 16px;
    margin: 0;
    //padding-top: 10px;
    color: #000;
    width: 70%;
    text-align: center;
}
.dashname-container {
    display: flex;
    justify-content: center;
    background: #fff;
    text-align: center;
    padding: 20px 10px 20px;
    // width: 30.49%;
    position: absolute;
    width: 46.3%;
}
.dashname-container2 {
    display: flex;
    justify-content: center;
    background: #fff;
    text-align: center;
    padding: 10px 10px 20px;
    // width: 60%;
    position: absolute;
    width: 46.3%;
}
// .chartContainer1 {
//     height: 210px;
//     width: 25%;
//     display: flex;
//     align-items: center;
//     margin-top: 20px;
// }
.chartContainer1 {
    height: 210px;
    width: 25%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.chartContainer2 {
    height: 210px;
    width: 100%;
    display: flex;
}

.dashboardTotalStudent {
    font-size: 25px;
    color: #00445D;
    font-weight: 600;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 5%;
}
.dash-tstudent {
    font-size: 24px;
    font-weight: 800;
    width: 100%;
}
.dashboardTotalAmount {
    font-size: 14px;
    width: 100%;
    padding: 4px 0px 0px 10px;
    color: #505F79;
    text-transform: uppercase;
}
.dashboardAmountPrice {
    font-size: 21px;
    font-weight: 600;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    color: #00445D;
    flex-direction: row-reverse;
    padding-right: 5%;
}
.dash-inr {
    font-size: 23px;
    padding-left: 0px;
    padding-bottom: 7px;
    padding-right: 5px;
}
// .dashprice {
//     font-size: 38px;
//     font-weight: 800;
//     padding: 0 12px;

// }
.dashprice {
    font-size: 24px;
    font-weight: 800;
}
// .dashboardWrapper {
//     // padding: 10px 0px;
// }
// .dashPrice {
//     font-size: 42px;
//     font-weight: 800;
//     padding: 0 12px;
// }
.dashboardFeesText {
    font-size: 22px;
    padding: 20px 10px 20px 25px;
    color: #000000;
}

.dashLoader {
    width: 100%;
    height: 100vh;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

// .chart-month {
//     height: 70%;
//     .chartjs-render-monitor {
//         width: 350px !important;
//         margin-top: 40px !important;
//          height: 210px !important;
//     }
//  }
.chart-proplan {
    // width: 100%;
    // height: 70%;
    .chartjs-render-monitor {
        // margin-top: 15px !important;
        // width: 100% !important;
        height: 250px !important;
    }
}
.chartBox {
    width: 100%;
}

.chartBox2 {
    width: 100%;
    //height: 70%;
}
.chart-month {
    .chartjs-render-monitor {
        margin-top: 15px !important;
        //padding: 15px !important;
        height: 290px !important;
    }
}

.amount-base {
    font-size: 15px;
    // margin-top: 5px;
    margin-left: 3px;
}

// .dashboardAmountPrice {
//     text-align: right;
//     float: right;
//     color: #00445D;
// }
// .dashboardTotalStudent {
//     float: right;
// }
.box-1{
    background:#f3f3b5;
}
.box-2{
    background: #d9f3ff;
}
.box-3{
    background:#e0ddff;
}
.box-4{
    background:#c9fff3;
}
.box-5{
    background: #ffeeb8;
}
.box-6{
    background: #ffd7d7;
}
.pie-chart-title {
    font-size: 16px;
    text-align: center;
    color: #000;
    height: 50px;
    padding-top: 25px;
}
.dashboardHeaderNew {
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboardHeaderNewContent {
    // width: 19.2%;
    width: calc(20.4% - 1%);
    height: 100%;
    background: #fff;
    margin-left: 1%;
    display: flex;
    padding: 0px 10px;
    background-color: #eee;
}
.dashboardHeaderNewHead {
    width: 50%;
    padding-top: 4px;
}
.dashboardHeaderNewHead p {
    color: #505F79;
    font-size: 14px;
}
.dashboardHeaderNewText {
    padding-top: 19%;
    width: 50%;
    text-align: right;
    // padding-right: 3%;
}
.dashboardHeaderNewText p {
    font-weight: 800;
    color: #00445D;
    font-size: 24px;
}

//90%
@media screen and (max-height: 680px) {
    .dashname-container {
        width: 45.9%;
    }
    .dashname-container2 {
        width: 45.9%;
    }
}

//100%
@media screen and (max-height: 615px) {
    .dashname-container {
        width: 45.5%;
    }
    .dashname-container2 {
        width: 45.5%;
    }
}