@import "./common.scss";
.pdf-extract-container,
.pdf-extract-input-wrap {
  width: 65%;
  float: left;
  height: calc(100vh - 215px);
  position: relative;
  overflow-x: scroll;
}
.pdf-extract-container {
  display: flex;
  justify-content: center;
}
.dragble-wrap {
  margin: 0 auto;
  position: absolute;
  .react-draggable div div:nth-child(6):before,
  .react-draggable div div:nth-child(7):before,
  .react-draggable div div:nth-child(8):before,
  .react-draggable div div:nth-child(9):before {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background: #1359c1;
    top: 7px;
  }
  .react-draggable div div:nth-child(6):after,
  .react-draggable div div:nth-child(7):after,
  .react-draggable div div:nth-child(8):after,
  .react-draggable div div:nth-child(9):after {
    content: "";
    position: absolute;
    width: 5px;
    height: 60%;
    background: #1359c1;
    top: 7px;
    right: 7px;
  }
  .react-draggable div div:nth-child(7):after {
    top: 0;
  }
  .react-draggable div div:nth-child(8):before,
  .react-draggable div div:nth-child(9):before {
    right: 0;
  }
  .react-draggable div div:nth-child(8):after {
    top: 0;
  }
}

.dragble-wrap .resize-container {
  position: absolute;
}

.dragble-wrap .react-draggable {
  border: 1px solid #1359c1;
  background: transparent;
}
.drag-confirm-btn {
  position: absolute;
  right: -55px;
  font-size: 10px;
  top: calc(50% - 9px);
  background-color: #1359c1;
  color: #fff;
  border-radius: 3px;
}
.pdf-extract-input-wrap {
  width: 35%;
  padding: 0 15px;
  .extract-pdf-input-wrap {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }

  p.extract-pdf-label-box {
    width: 25%;
    float: left;
    padding-right: 11px;
    font-family: $primary-font-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: #091e42;
  }

  .extract-pdf-input {
    width: 75%;
    float: left;
    font-family: $primary-font-Bold;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #091e42;
    outline: none;
    font-weight: 500;
    border: solid 1px #dfe1e6;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-left: -15px;
    height: 36px;
    outline: none;
  }

  .expanse-panel-hd {
    width: 100%;
    font-size: 14px;
    color: #091e42;
  }

  .MuiExpansionPanelSummary-root {
    background: #f4f5f7;
    min-height: 32px !important;
    height: 32px !important;
  }
  .MuiExpansionPanel-root.Mui-expanded {
    margin: 0;
  }
  textarea.extract-pdf-input {
    height: auto;
    overflow: hidden;
  }
  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .MuiCollapse-entered {
    border: 1px solid #f4f5f7;
  }
}
.invoice-extract-wrap {
  position: absolute;
  height: 100%;
  margin: 0;
}
#panel-ex {
  margin-bottom: 16px;
  .MuiExpansionPanelDetails-root {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.panel-wrap {
  float: left;
  height: calc(100vh - 215px);
  position: absolute;
  overflow-x: hidden;
  top: 60px;
  .invoice-custom-table-wrapper {
    height: 90%;
  }
}
.extract-pdf-input:focus {
  border: 2px solid #1359c1;
}
.product-add-icon {
  float: right;
  width: 20px;
  margin-top: 7px;
  cursor: pointer;
}

.product-add-page {
  float: right;
  width: 30px;
  text-align: center;
  height: 25px;
  margin: 5px 10px 0;
}
.product-add-label {
  float: right;
}

.new-pdf-wrap {
  width: 100%;

  .viewer-layout-toolbar {
    display: none;
  }
}
.statement-reconcile {
  .new-textract-wrap.invoice-page-wrapper {
    background: #fff !important;
  }
  .reconcileTabs {
    border: 1px solid #dfe1e6;
    /* margin-top: 15px; */
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .Reconcile-table-wrap {
    width: 99.9%;
    float: left;
    display: flex;
    border: 1px solid #dfe1e6;
    border-left: none;
    border-right: none;
    height: 100%;
  }
  .create-invoice-wrapper {
    width: 100%;
    height: calc(100vh - 180px) !important;
    border-radius: 5px;
    position: relative;
    border: none !important;
  }
  .new-textract-wrap.invoice-page-wrapper .fixed-pdf-submit-btn {
    position: unset;
    top: unset;
  }
  .footer-btn-grps {
    position: relative;
    top: 5px !important;
    right: 10px !important;
    float: right;
    z-index: 11111;
  }
  .panel-wrap {
    width: 100%;
    top: 50px !important;
  }
}
.new-textract-wrap.invoice-page-wrapper {
  .invoice-custom-table-wrapper {
    padding: 0;
    border: none;
    background-color: none;
  }
  .create-invoice-wrapper {
    height: calc(100vh - 160px);
    background: #fff;
    border: 1px solid #dfe1e6;
  }
  .invoice-options-wrapper {
    border: none;
  }
  .panel-wrap,
  .pdf-extract-container,
  .pdf-extract-input-wrap {
    height: calc(100vh - 230px);
  }
  .viewer-layout-main {
    margin-top: -44px;
  }
  .viewer-layout-container {
    border: none !important;
  }

  .panel-wrap {
    border-top: 1px solid #dfe1e6;
    padding-top: 15px;
    overflow: hidden;
  }

  .fixed-pdf-submit-btn {
    position: fixed;
    top: 60px;
  }
  // .footer-btn-grps {
  //     top: 100px !important;
  // }
}
.statement-wrap {
  width: 50% !important;
  .zq-table-wrap,
  .zq-table-heading,
  .zq-table-body {
    border: 1px solid gray;
  }
  .zq-table-heading th,
  .zq-table-body td {
    font-size: 10px;
    padding: 5px;
    border-right: 1px solid gray;
  }
  .zq-table-wrap tr {
    border-bottom: 1px solid gray;
  }
  .active-tr {
    background: #f2faff;
    position: relative;
    border: 2px solid blue !important;
  }
}
