@import "./common.scss";

.sidenav-wrap {
    position: fixed;
    width: 206px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
    // z-index: 4;
}
.sub-navbar-title {
    font-family: $primary-font-Regular;
    margin-top: 10px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #505f79;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.sidenav-li-icon,
.sidenav-li,
.sec-sidenav-li,
.third-sidenav-li {
    width: 100%;
    height: 50px;
    line-height: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: unset;
    box-sizing: border-box;
    color: #505f79;
}
.sec-sidenav-li,
.third-sidenav-li {
    height: auto !important;
    padding: 8px 10px 12px 0;
    line-height: 1;
    .side-ind-icon {
        line-height: 1 !important;
    }
}
.sidenav-li,
.sec-sidenav-li,
.third-sidenav-li {
    cursor: pointer;
    span {
        font-family: $primary-font-Regular;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #505f79;
    }
}
.sub-navbar {
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 100%;
    width: 190px;
    transition: width ease-in 0.8s;
    border-radius: 4px;
    margin-left: 0px;
    background: #f2fafc;
    color: #505f79;
    padding-top: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    .sidenav-li {
        span {
            text-overflow: initial;
        }
    }
    .with-icon,
    .sec-sidenav-li,
    .third-sidenav-li {
        span {
            color: #505f79;
            padding-left: 20px;
            font-size: 12px;
        }
        .side-ind-icon {
            color: #505f79;
            transform: rotate(0) !important;
            opacity: 0.2 !important;
        }
    }
}
.sidenav-li.open {
    .sub-navbar {
        display: block;
    }
}

.sec-sidenav-li,
.third-sidenav-li {
    .sub-navbar {
        display: none !important;
    }
}
.sec-sidenav-li.open,
.third-sidenav-li.open {
    .sub-navbar {
        display: block !important;
    }
}
.side-nav-icon {
    width: 100%;
    padding-left: 15px;
    // color: #505f79;
    height: 56px;
    line-height: 56px;
    position: relative;
    .icon {
        font-size: 18px;
    }
}
span.parent-sidenav-name {
    height: 56px;
    font-size: 13px;
    color: #505f79;
    line-height: 50px;
    padding-left: 50px;
    position: absolute;
    left: 0;
    width: 100%;
}
.sub-side-nav-icon {
    height: 16px;
    float: left;
    width: 32px;
    line-height: 24px;
    text-align: center;
    .icon {
        color: #fff;
        font-size: 18px;
    }
}

.side-ind-icon {
    opacity: 0.2;
    color: #505f79;
    float: right;
    line-height: 60px;
    transform: rotate(0);
}
.menu-collapse .side-nav-icon {
    float: none;
}

.sidenav-li.open {
    .side-ind-icon {
        // transform: rotate(90deg);
        transform: rotate(0);
        color: #505f79 !important;
        line-height: 56px;
        opacity: 1;
    }
}

.sec-sidenav-li.open {
    .side-ind-icon {
        // transform: rotate(90deg) !important;
        transform: rotate(0) !important;
        line-height: 1;
        opacity: 1 !important;
    }
}

.third-sidenav-li.open {
    .side-ind-icon {
        transform: rotate(0) !important;
    }
}
.sidenav-li:hover,
.sidenav-li.active,
.sec-sidenav-li:hover,
.sec-sidenav-li.active,
.third-sidenav-li:hover,
.third-sidenav-li.active {
    background-color: #f2fafc;
    span.parent-sidenav-name {
        font-weight: 600;
        color: #00445d !important;
    }
}
.sec-sidenav-li.active .sec_span {
    font-weight: 600;
    color: #00445d !important;
    background-color: #f2fafc;
}

.third-sidenav-li.active .third_span {
    font-weight: 600;
    color: #00445d !important;
    background-color: #f2fafc;
}
.sidenav-li.active,
.sidenav-li:hover {
    .side-nav-icon::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 3px;
        height: 100%;
        background: #00445d;
    }
    .side-nav-icon {
        color: #00445d !important;
    }
}
.logo-wrap {
    // // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    height: 56px;
    cursor: default;
    justify-content: center;
    align-items: center;
    // width: 110px;
    img {
        height: 38px;
        cursor: default;
        width: 38px;
        border-radius: 50%;
    }
    p {
        width: calc(100% - 56px);
        font-family: $primary-font-Regular;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        cursor: default;
        line-height: 1.5;
        letter-spacing: normal;
        color: $sidenav-mainmenu-text-color;
        padding-top: 5px;
        span {
            padding-left: 7px;
            cursor: default;
        }
    }
    p.version-type {
        position: fixed;
        top: 45px;
        left: 15px;
        font-size: 10px;
        display: inline;
        width: auto;
    }
}
.app-header {
    width: 100%;
    position: fixed;
    margin-left: 0;
    height: 56px;
    background: none;
    // z-index: 4;
    z-index: 2;
}

.app-container {
    width: calc(100% - 206px);
    margin-left: 206px;
    background: $app-body-color;
    height: 100vh;
    // height: calc(100vh + 26px);
    padding-top: 71px !important;
    overflow: auto;
    padding: 38px 50px 38px 50px;
    position: relative;
}

.sidenav-over-wrap {
    position: fixed;
    width: calc(100% - 200px);
    height: 100%;
    background: transparent;
    // left: 200px;
    top: 56px;
}

.menu-bar-wrap {
    float: right;
}

.menu-bar-wrap i.fa-bars {
    padding: 0 0 0 19px;
    line-height: 56px;
    font-size: $fs-l;
    cursor: pointer;
    color: $burger-menu-icon-color;
}
.menu-collapse {
    .sidenav-wrap {
        width: 56px;
        transition: width 0.5s;
    }
    .sidenav-li span,
    .sidenav-li span,
    .side-ind-icon {
        display: none;
    }
    .sec-sidenav-li,
    .third-sidenav-li {
        span {
            display: inline;
        }
        .side-ind-icon {
            display: inline;
            margin-top: 5px;
        }
    }
    .app-header {
        // width: calc(100% - 56px);
        width: auto;
        // margin-left: 56px;
        transition: margin 0.5s;
    }
    .app-container {
        width: calc(100% - 56px);
        transition: margin 0.5s;
        margin-left: 56px;
        overflow-y: auto;
    }
    .sidenav-over-wrap {
        width: calc(100% - 58px);
        left: 58px;
        top: 0;
    }
}

//Logout CSS
.logout-menu-wrap {
    z-index: 1111111 !important;
    .logout-header-text {
        flex: 0;
        display: inline-flex;
        margin: 0;
        padding: 10px 24px;
        border-bottom: 1px solid #eee;
        font-family: $primary-font-Regular;
        font-size: 14px;
        background-color: #f8f8f8;
    }
    .logout-text {
        font-family: $primary-font-Regular;
        font-size: 14px;
        color: #091e42;
    }
    .logout-header-btns {
        padding: 0px 0px 20px;
        margin: 0px 8vh;
        justify-content: space-evenly;
        .MuiButton-textPrimary {
            color: #1359c1;
            font-family: $primary-font-Regular;
            font-size: 14px;
            width: 120px;
            border: 1px solid #6b778c;
            margin-left: 0px;
        }
        .btns-submit {
            background-color: #1359c1;
            color: #fff;
            text-transform: capitalize;
        }
        .btns-cancel {
            background-color: #fff;
            color: #1359c1;
        }
    }
}
p.verfication-txt {
    font-size: 15px;
    position: relative;
    clear: both;
    i {
        color: green;
        float: right;
    }
}

img.wrong-tick-img {
    margin-left: 20px;
    width: 12px;
    float: right;
    margin-top: 5px;
}

img.zq-txt-wrap {
    height: 24px;
    width: 65%;
    border-radius: 0;
    margin-left: 10px;
}

.list-ui-sidenav {
    // float: left;
    /* display: flex; */
    margin-top: 50px;
}

.app-header-container {
    width: 60%;
    float: right;
    display: flex;
    align-items: center;
    background: $app-body-color;
    color: black;
    position: fixed;
    top: 0;
    right: 0px;
    // z-index: 4;
    z-index: 2;
    .menu-bar-wrap {
        width: 100%;
        // border-bottom: 1px solid #dfe1e6;
        float: right;
        padding-right: 50px;
    }
}

.dashboard-icon {
    width: 18px;
    margin-left: 5px;
    margin-top: -8px;
}
.burger-menu-div {
    cursor: pointer;
    img {
        margin-left: 15px;
        margin-top: 15px;
    }
}
.footer-sidenav {
    position: absolute;
    bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    transition: margin-left 0.5s;
}
.files-div,
.clipboards-div,
.supportings-icon-div {
    cursor: pointer;
    text-align: center;
    float: left;
    width: 30%;
    transition: width 0.5s;
    color: #505f79;
}
.menu-collapse {
    .footer-sidenav {
        display: unset;
        transition: width 0.5s;
    }
    .files-div,
    .clipboards-div,
    .supportings-icon-div {
        float: none;
        margin-top: 17px;
        transition: margin-top 0.5s;
    }
    .clipboards-div {
        margin-left: 2px;
    }
}
// ------------------ Ken 42 Setup scss------------
.ken42logotext {
    font-family: OpenSans-Medium !important;
    height: 25px !important;
    padding-left: 10px !important;
    width: max-content !important;
    float: left !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #00445d !important;
    padding-right: 10px !important;
    line-height: 24px !important;
    padding-top: 0px !important;
    margin-left: 10px;
}
.kenLogo {
    width: 35px !important;
    height: 35px !important;
    border: 0.1px solid #eaecee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin: 2px;
    }
}
.parent-logo-wrap {
    width: 55px;
    .kenLogo {
        width: auto !important;
        height: 50px !important;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 45px;
            height: 45px;
            margin: 2px;
            border-radius: 50%;
        }
    }
}
.vendor-logo-wrap {
    position: fixed;
    bottom: 5px;
    left: 5px;
    .kenLogo {
        width: auto !important;
        height: 40px !important;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 40px;
            height: 40px;
            margin: 2px;
        }
    }
}
.parent-logo {
    display: none;
}
.campas-logo {
    display: none;
}
.vendor-logo {
    display: none;
}

//**********Logo Left Top************//
.option0 {
    .parent-logo {
        display: block;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.option1 {
    .parent-logo {
        display: block;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.option2 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.option3 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.option4 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: block;
    }
    .vendor-logo {
        display: none;
    }
}
.option5 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: block;
    }
    .vendor-logo {
        display: none;
    }
}
.option6 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}

//**********Logo Left Bottom************//
.leftBottom0 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: block;
    }
}
.leftBottom1 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.leftBottom2 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: block;
    }
}
.leftBottom3 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.leftBottom4 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: block;
    }
}
.leftBottom5 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}
.leftBottom6 {
    .parent-logo {
        display: none;
    }
    .campas-logo {
        display: none;
    }
    .vendor-logo {
        display: none;
    }
}

// ------------------ Ken 42 Setup scss------------
