@import "./theme.scss";
.MuiFormControl-root.input-wrap {
  margin-bottom: 36px;
}
.input-label {
  margin-bottom: 5px;
  font-size: 12px;
}
.input-wrap {
  margin: 0 0 24px;
  height: 67px !important;
  input {
    padding: 12px 16px 12px;
    margin-top: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
  }
  .MuiInputBase-root {
    border-radius: 0;
    background: #fafbfc;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .MuiInputLabel-filled {
    color: #6b778c;
    font-size: 14px;
    transform: translate(16px, 22px) scale(1);
  }
  .MuiFilledInput-underline:before {
    border-bottom: 0;
  }
  .MuiInputLabel-filled.MuiInputLabel-shrink {
    font-size: 12px;
    transform: translate(16px, 10px) scale(1);
  }
  .MuiFilledInput-root:hover {
    background: #fafbfc;
  }
  .MuiFilledInput-underline:hover:before {
    border-bottom: 2px solid #1359c1;
  }
  .MuiFormLabel-root.Mui-focused {
    color: #1359c1;
  }
  .MuiSelect-iconFilled {
    color: #6b778c;
    top: 15px;
    right: 15px;
  }
  .MuiSelect-filled.MuiSelect-filled {
    padding-left: 16px;
  }
  .MuiFormHelperText-root {
    font-size: 12px;
    color: #00b8d9;
    margin: 4.5px 0 0;
  }
  .MuiFormHelperText-root.Mui-error {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #ff5630;
  }
}
form {
  //   width: calc(100% - 72px);
  //   background: #fff;
  //   padding: 21px;
  //   box-sizing: border-box;
  // margin: 36px auto;
  //   border-radius: 5px;
  //   border: solid 1px #dfe1e6;
  float: left;
  width: 100%;
  .form-hd {
    font-size: 14px;
    color: #061938;
    width: 100%;
    float: left;
    margin-bottom: 12.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.input-wrap {
  //   width: 100%;
  // float: left;
  margin-bottom: 36px;
  position: relative;
  .MuiFormControl-root {
    width: 100%;
  }
}
.select-input-wrap.rs-picker-disabled {
  opacity: 1;
}
.select-input-wrap.rs-picker-select,
.select-input-wrap.rs-picker-date,
.select-input-wrap.rs-picker-check,
.select-input-wrap.rs-picker-tree {
  width: 100%;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 3px;
  a {
    border-radius: 0;
    background: #fafbfc !important;
    border: none;
    padding: 8px 16px 9px !important;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // border-bottom: 2px solid #f4f5f7;
    ​ .rs-picker-toggle-value {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }
    .rs-picker-toggle-clean {
      top: 10px !important;
      color: #6b778c;
    }
    .rs-picker-toggle-placeholder {
      // visibility: hidden;
    }
    .rs-picker-toggle-caret {
      color: #6b778c;
      top: 10px !important;
      right: 15px;
    }
    .rs-picker-toggle-clean:hover {
      color: #6b778c;
    }
  }
  a:hover {
    border-bottom: 2px solid #1359c1;
  }
}
.select-input-wrap.rs-picker-check {
  .rs-picker-value-list {
    width: 80%;
  }
}
.material-select-ui {
  float: left;
  //   width: 100%;
  position: relative;
  margin-bottom: 36px;
  // margin-left: 36px;
  .material-select-label {
    position: absolute;
    left: 0;
    z-index: 5;
    top: 0px;
    color: #6b778c;
    font-size: 14px;
    transform: translate(16px, 18px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  .material-select-label-float {
    transform: translate(16px, 5px) scale(1);
  }
}
​ .rs-picker-select-menu-item:not(.rs-picker-select-menu-item-disabled):hover,
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus,
.rs-picker-check-menu-item:not(.rs-picker-check-menu-item-disabled):hover,
.rs-picker-check-menu-item.rs-picker-check-menu-item-focus {
  color: #fff;
  background-color: #00b8d9;
  font-size: 14px;
}
// .rs-picker-toolbar {
//   display: none;
// }
.primary-btn,
.secondary-btn {
  position: relative;
  border-radius: 3px;
  // background-color: #1359c1;
  background-color: #15435b;
  // background-color: #0052CC;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  // border: 1px solid #0052CC;
  border: 1px solid #15435b;
  height: 50px;
}
// .secondary-btn {
//     border: solid 1px #dfe1e6;
//     background-color: #ffffff;
//     // color: #1359c1;
// }
.secondary-btn {
  border: solid 1px #dfe1e6;
  background-color: #ffffff;
  color: #15435b;
}
// .primary-btn:hover {
//   box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
//   background-color: #0a4090;
// }
// .secondary-btn:hover {
//     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
//     border: solid 1px #f4f5f7;
//     background-color: #f4f5f7;
// }
.primary-btn:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  // background-color: #0052CC;
  background-color: #15435b;
  opacity: 0.95;
}
.secondary-btn:hover {
  // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #f4f5f7;
  // background-color: #f4f5f7;
}
.primary-btn:focus,
.secondary-btn:focus {
  border: 1px solid #b3d4ff;
}
.disabled-btn {
  opacity: 0.5;
  pointer-events: none;
  cursor: no-drop;
}
.password-icon-wrap {
  button {
    position: absolute;
    z-index: 1;
    right: 0;
  }
  .MuiIconButton-root {
    padding: 10px !important;
  }
}
// ---------------------Switch input css-------------
.switch-input-wrap {
  clear: both;
  height: 10px !important   ;
  float: none !important;
  .switch-label {
    font-size: 12px;
  }
  .switch-tab {
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    width: 25%;
    .WithStyles\(ForwardRef\(Switch\)\)-root-16 {
      width: 28px;
      height: 16px;
      display: flex;
      margin-top: 1px;
      padding: 0;
    }
  }
}
// ---------------------Switch input css-------------
.invoice-item.discount {
  width: 25% !important;
}
.invoice-item.qty {
  width: 15% !important;
}
.header-qty {
  width: 15% !important;
}
.header-disc {
  width: 25% !important;
}
.discount-field {
  padding: 0 !important;
  display: unset !important;
  padding-right: 1px !important;
  height: 40px;
  width: 100% !important;
  .switch-label {
    font-size: 10px;
  }
  .switch-tab {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    position: relative;
    top: -19px;
    .discount-antswitch {
      .MuiSwitch-input {
        width: 100px;
      }
    }
    .WithStyles\(ForwardRef\(Switch\)\)-root-16 {
      width: 28px;
      height: 16px;
      display: flex;
      margin-top: 1px;
      padding: 0;
    }
  }
  .input-type-discount {
    width: 100% !important;
    height: 30px;
    position: relative;
    top: -5px;
  }
  .tax-pos {
    width: 100% !important;
    height: 30px;
    position: relative;
    top: -5px;
  }
}

.error-select {
  position: relative;
  a.rs-btn.rs-btn-default.rs-picker-toggle {
    border-bottom: 2px solid #f44336;
  }

  .MuiFormHelperText-root.Mui-error {
    position: absolute;
    margin-left: 0;
    color: #ff5630;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.4px;
  }
}
.payment {
  .rs-picker-cleanable.rs-picker-date .rs-picker-toggle.rs-btn,
  .rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
    padding-right: 42px;
    padding: 11px 16px 10px !important;
    border: none !important;
  }
}
.rate_label {
  font-size: 12px;
  position: absolute;
  bottom: -10px;
  color: #7a869a;
  width: 100%;
}
.clear-both-input {
  clear: both !important;
  float: initial !important;
}
.list-of-students-mainDiv {
  .select-input-wrap.setup-input-wrap.description-input-wrap.material-select-ui {
    width: 100% !important;
  }

  .description-input-wrap .input-label {
    width: 12% !important;
    float: left !important;
    padding-right: 15px;
    line-height: 44px;
  }

  .description-input-wrap .select-input-wrap {
    width: 15% !important;
    float: left !important;
  }
  .input-description {
    font-size: 12px;
    line-height: 44px;
  }
}
.remove-req-symbol .mandatory {
  opacity: 0;
}

.input-wrap.input-wrap-col-2.col-2-first {
  width: 30% !important;
}

.input-wrap.input-wrap-col-2.col-2-first .MuiInputBase-root {
  width: 100%;
}
// .rowInline{
//   width: 100% !important;
//   display: flex;
//   .input-wrap{
//     width: 100% !important;
//   }
//   .MuiInputBase-root {
//     width: 100% !important;
//   }
//   .input-label{
//     width: 40% !important;
//   }
// }
.create-task-form {
  .primary-btn,
  .secondary-btn {
      text-transform: capitalize !important;
  }
  .primary-btn:hover {
      box-shadow: none !important;
      border: none !important;
      background-color: #0052cc;
      opacity: 0.95;
      text-transform: capitalize !important;
  }
  .secondary-btn:hover {
      background-color: #fff !important;
      border: none !important;
      text-transform: capitalize !important;
  }
}