@import "./common.scss";

.currency {
    text-align: right;
    word-break: break-word;
}
.invoice-order-table {
    width: 100%;
    margin-bottom: 30px;
    // margin-left: 25px;
}
.invoice-table-header {
    text-transform: uppercase;
    font-family: $primary-font-Regular;
    font-size: $fs-normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7a869a;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dfe1e6;
}
.invoice-table-header div {
    height: 48px;
    line-height: 48px;
    border-right: $input-border-color;
    text-align: center;
    width: 20%;
    float: left;
}

.invoice-table-header div:nth-child(2) {
    min-width: 25%;
}
.journal.invoice-table-header div:nth-child(2),
.journal.invoice-table-header div:nth-child(3) {
    min-width: 20%;
}

.invoice-table-header div:last-child {
    border-right: none;
}
.invoice-tableRow-header {
    position: relative;
    font-family: $primary-font-Regular;
    font-size: $fs-normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    // height: 40px;
    height: 41px;
    display: flex;
    justify-content: space-around;
}
.invoice-tableRow-header div {
    line-height: 40px;
    // border-right: $input-border-color;
    text-align: center;
    display: flex;
    padding: 10px;
    .select-input-wrap {
        padding: 0px !important;
        width: 100% !important;
    }
}
.invoice-tableRow-header .invoice-item.particulars {
    min-width: 25%;
    input {
        margin: 5%;
        width: 80%;
    }
}
.invoice-addNewItem {
    cursor: pointer;
    // margin-bottom: 5px;
    width: 20px;
}
.invoice-deleteItem {
    padding: 0 !important;
    cursor: pointer;
    position: absolute;
    // right: -44px;
    right: -45px;
}
.remove-row-icon {
    line-height: 30px;
    width: 12px;
    margin-right: 8px;
}
.invoice-item input {
    width: 100%;
    height: 40px;
    text-align: center;
    border: none;
    // border-radius: $radius-2;
    // box-shadow: 0px 0px 12px -2px blue;
    // border: $input-border-color;
}
.account-item input {
    width: 100%;
    height: 40px;
    text-align: center;
    border: none;
}
.account-item-parts input {
    width: 100%;
    height: 0px;
    text-align: center;
    border: none;
}
.invoice-item input:focus {
    outline-offset: -2px !important;
    margin: 0 auto;
    outline: 2px solid $primary-color !important;
    width: 100%;
    margin-left: -1px !important;
    padding: 0 !important;
}
.account-item input:focus {
    outline-offset: -2px !important;
    margin: 0 auto;
    outline: 2px solid $primary-color !important;
    width: 100%;
    margin-left: -1px !important;
    padding: 0 !important;
}
.invoice-item.amount::before {
    height: unset;
}
.invoice-tableRow-header div:last-child {
    border-right: none;
}

.invoice-item.delete {
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    p {
        margin-left: 10px;
    }
}
.account-item.delete {
    width: 10%;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    p {
        margin-left: 10px;
    }
}
.journal {
    .account-item.accounts {
        min-width: 20%;
    }
    .invoice-item.particular {
        min-width: 20% !important;
    }
}
.invoice-item.particular {
    min-width: 25%;
    .invoice-selectinput {      
        font-family: $primary-font-Bold;
        font-size: $fs-ss;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 38px;
        letter-spacing: normal;
        color: $bold-text-color;
        outline: none;
        font-weight: 500;
        padding-top: 11px;
        padding-left: 0px;
        padding-right: 1px;
        width: 100%;
        height: 38px;
        text-align: center;
        border-radius: $radius-2;
        // border: $input-border-color;
        input {
            border: none;
        }
        .select-input-wrap.rs-picker-select a .rs-picker-toggle-value,
        .select-input-wrap.rs-picker-date a .rs-picker-toggle-value,
        .select-input-wrap.rs-picker-check a .rs-picker-toggle-value {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.87);
        }
        .rs-picker-default .rs-picker-toggle.rs-btn {
            height: 40px !important;
            top: -12px;
            left: 0px;
            padding-top: 10px !important;
        }
        .select-input-wrap.rs-picker-select a .rs-picker-toggle-caret,
        .select-input-wrap.rs-picker-date a .rs-picker-toggle-caret,
        .select-input-wrap.rs-picker-check a .rs-picker-toggle-caret {
            top: 8px !important;
            right: 5px !important;
        }
        .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
        .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
            top: 8px !important;
            // top: 5px !important;
        }
    }
    .table-particular-select-wrap {
        padding: 0;
        width: 100%;
    }
}

.invoice-item {
    width: 20%;
    position: relative;

    padding: 0px !important;
    border-bottom: $input-border-color;
}
.account-item {
    position: relative;
    padding: 0px !important;
    border-bottom: $input-border-color;
}
.account-item-parts input {
    width: 100%;
    height: 40px;
    text-align: center;
    border: none;
}
p.invoice-table-header-total-col {
    font-family: $primary-font-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #061938;
}
.invoice-item.amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px !important;
    width: calc(20% + -15px);
    font-size: 14px;
}
.account-item-parts::before {
    content: "";
    background: $border-color;
    width: 1px;
    top: 0;
    position: absolute;
    right: 0;
    height: 40px;
}
.invoice-item::before {
    content: "";
    background: $border-color;
    width: 1px;
    top: 0;
    position: absolute;
    right: 0;
    height: 40px;
}
.invoice-notes-wrap {
    padding: 0px 15px;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-top: $input-border-color;
    height: 130px;
}
.amount-para {
    font-family: $primary-font-Regular !important;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
    padding-top: 1px;
    span {
        font-family: $primary-font-Regular;
        font-weight: 600;
        font-size: 18px;
        text-align: right;
        color: #061938;
        margin-right: 30px;
    }
}
.terms-condition-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #061938;
    font-family: "OpenSans-Regular";
    margin-bottom: 5px;
}
.terms-text {
    font-family: $primary-font-Regular;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #061938;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
    color: #505f79;
}

.org-user-sign {
    font-family: $primary-font-Bold;
    font-size: $fs-l;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black;
}
.auth-sign-text {
    font-family: $primary-font-Regular;
    font-size: $fs-normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black;
    margin-top: 30px;
}
.signature-wrap {
    height: 100%;
    display: grid;
    align-items: center;
    margin-top: 50px;
}
.total-invoice-calc-wrap,
.grand-total-wrap {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    // border-top: $input-border-color;
    // border-bottom: $input-border-color;
    align-items: center;
    text-align: center;
}
.grand-total-wrap {
    background: #c9f9fa;
    height: 70px;
    line-height: 70px;
    p {
        // font-family: $primary-font-Bold;
        // font-size: $fs-normal;
        // font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 70px;
        letter-spacing: normal;
        // color: $bold-text-color;
    }
}
.empty-col {
    width: 60%;
}
.spec-tax-col {
    // border-right: $input-border-color;
    width: 15%;
    // border-right: solid 1px #dfe1e6;
    text-align: right;
    padding-right: 20px;
}
.amount-tax-col {
    min-width: 8.2%;
    p {
        font-family: $primary-font-Bold;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $bold-text-color;
        margin-bottom: 5px;
        margin-top: 8px;
        text-align: right;
        padding-right: 10px;
    }
}
.spec-tax-col p {
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: $bold-text-color;
    margin-bottom: 5px;
    margin-top: 8px;
    text-transform: uppercase;
}

.amount-in-words-col {
    width: calc(100% - 20%);
    text-align: left;
    .amount-para {
        margin-left: 15px;
        line-height: 70px;
    }
}

.invoice-additem-box {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 8px;
    .add-icon-wrap {
        cursor: pointer;
        display: flex;
        width: 10%;
        .addRowImg {
            width: 15px;
            margin-right: 8px;
            margin-left: 20px;
        }
        .addRow-text {
            font-family: $primary-font-Regular;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #0052cc;
        }
    }
}
.pdf-invoice {
    .invoice-item input:disabled {
        background: #ffff;
    }
}
.total-calc-wrap {
    height: 40px;
    width: 100%;
    display: flex;
    line-height: 40px;
    font-family: $primary-font-Bold;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #091e42;
}
.account-total-calc-wrap {
    height: 40px;
    width: 100%;
    display: flex;
    line-height: 40px;
    font-family: $primary-font-Bold;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #091e42;
}
.empty-calc-col {
    width: 100%;
}

.total-calc-text {
    width: 26.5%;
    text-align: right;
    border-right: solid 1px #dfe1e6;
    padding-right: 20px;
}
.account-total-calc-text {
    width: 20%;
    text-align: right;
    border-right: solid 1px #dfe1e6;
    padding-right: 20px;
}
.account-debit-calc-col,
.account-credit-calc-col {
    width: 23.65%;
    text-align: center;
    border-right: solid 1px #dfe1e6;
}
.unitprice-calc-col,
.disc-calc-col,
.sgst-calc-col,
.cgst-calc-col {
    width: 16%;
    text-align: center;
    border-right: solid 1px #dfe1e6;
}
.igst-calc-col {
    width: 18%;
    text-align: center;
    border-right: solid 1px #dfe1e6;
}

.amount-calc-col {
    text-align: right;
    // width: 20%;
    width: 15%;
    padding-right: 11px;
}
// .total-invoice-calc-wrapper {
//     margin-top: 10px;
//     border-top: solid 1px #dfe1e6;
// }
.invoice-item.discount.error {
    input:focus {
        outline-offset: -2px !important;
        margin: 0 auto;
        outline: 2px solid red !important;
        width: 100%;
        margin-left: -1px !important;
        padding: 0 !important;
    }
}
.igst-remove {
    .amount-tax-col {
        width: 9.35%;
    }
    .unitprice-calc-col,
    .igst-calc-col {
        width: 16.69%;
    }

    .amount-calc-col {
        width: 16%;
    }

    .total-calc-text {
        width: 27%;
        text-align: right;
        border-right: solid 1px #dfe1e6;
        padding-right: 20px;
    }
}
.total-invoice-calc-wrap.igst-remove .amount-tax-col {
    width: 9.35%;
}

.grand-total-wrap.igst-remove .amount-tax-col {
    width: 9.75%;
}
.account-item.accounts {
    width: 26.7%;
    button {
        width: 100%;
    }
}
.account-view-inputs-wrap {
    .info-input-label-box {
        width: 45%;
    }
    input {
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-transform: uppercase;
        color: $bold-text-color;
        outline: none;
        font-weight: 500;
        // border: none;
        border: $input-border-color;
        padding-left: 10px;
        margin-bottom: 0px;
        min-width: 178px;
        text-align: left;
    }
}
.invoice-table-header {
    .serial-col {
        width: 10%;
    }
    .account-col {
        width: 20%;
    }
    .particulars-col {
        width: 40%;
    }
    .debit-col {
        width: 15%;
    }
    .credit-col {
        width: 15%;
    }
}

.invoice-particular-table-header {
    font-family: $primary-font-Bold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #091e42;
    width: 100%;
    display: flex;
    // justify-content: space-around;
    border-bottom: solid 1px #dfe1e6;
    padding: 0px !important;
    align-items: center;

    .parti-qty-col,
    .parti-unit-col,
    .parti-price-col,
    .parti-discount-col {
        min-width: 25% !important;
        align-items: center !important;
        justify-content: center;
        line-height: 20px !important;
        border-right: solid 1px #dfe1e6;
    }
}
.account-item.particulars {
    width: 40%;
}
.account-item.debit,
.account-item.credit {
    width: 15%;
}
.account-view-wrapper {
    height: auto;
    .create-invoice-table-wrapper {
        border-top: solid 1px #dfe1e6;
    }
    .invoice-table-header {
        border-left: 1px solid #dfe1e6;
        border-right: 1px solid #dfe1e6;
    }
    .invoice-tableRow-header,
    .account-total-calc-wrap {
        border-left: 1px solid #dfe1e6;
    }
    .total-invoice-calc-wrapper {
        border-bottom: solid 1px #dfe1e6;
    }
    .invoice-custom-table-wrapper {
        border-top: solid 1px #dfe1e6;
        // padding: 23px 32px;
        overflow-y: scroll;
        width: 100%;
        padding-right: 3%;
        background: #ffffff;
        height: 100% !important;
        margin-bottom: unset;
    }
    .invoice-notes-wrap {
        height: 110px !important;
    }
    .note-textarea {
        max-height: 68px !important;
        // max-width: 340px !important;
        min-height: 68px !important;
        min-width: 340px !important;
    }
    // .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
    // .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    //     color: $bold-text-color;
    // }
    .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
    .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
    .rs-picker-default:not(.rs-picker-disabled) .rs-btn.active,
    .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
        border-color: #dfe1e6;
    }
    .select-input-wrap.rs-picker-select a,
    .select-input-wrap.rs-picker-date a,
    .select-input-wrap.rs-picker-check a,
    .select-input-wrap.rs-picker-tree a {
        padding: 10px !important;
    }
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-tree a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-tree a .rs-picker-toggle-clean {
        top: 10px !important;
    }
}
// .select-account-picker{
.rs-tree {
    max-height: 260px !important;
}
// }
.invoice-item.amount.adj-amt {
    width: calc(20% + -21px);
}

.account-item-parts {
    input {
        height: 20px !important;
        padding: 12px !important;
        padding-bottom: 0px !important;
    }
    .input-wrap .MuiInputLabel-filled.MuiInputLabel-shrink {
        font-size: 12px;
        transform: translate(10px, 4px) scale(0.85) !important;
    }
}
.rs-picker-menu {
    max-height: 275px !important;
    z-index: 111;
}
.payment-type-radios {
    width: 100%;
    display: flex;
    align-items: center;
    p {
        font-size: 13px;
        font-family: $primary-font-Medium;
        margin-left: 13px;
    }
}

.payment-radio-grp {
    width: 100%;
    display: unset;
    margin-left: 15px;
}
