.zq-table-wrap,
.zq-table-heading,
.zq-table-body {
    width: 100%;
    border-spacing: 0;
}
.zq-table-heading th,
.zq-table-body td {
    text-align: left;
    padding-left: 15px;
}
.zq-table-wrap tr {
    height: 38px;
}
.zq-table-heading th {
    font-family: OpenSans-Regular;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    color: #7a869a;
    text-transform: uppercase;
    height: 36px;
    border-bottom: 1px solid #dfe1e6;
}
.zq-table-body td {
    color: #42526e;
    font-family: OpenSans-Regular;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    height: 48px;
    box-shadow: inset 0px -1px 0px #f4f5f7;
}
.zq-table-body tr:hover {
    // background: rgba(0, 0, 0, 0.04);
    background-color: #f2fafc;
    position: relative;
    .action-cell {
        display: table-cell !important;
    }
}
.kenTable {
    .zq-table-wrap {
        border: 1px solid #dfe1e6;
        background: #fff;
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 4px;
    }
    .row-bold td {
        font-weight: bold !important;
    }
    .text-align-right {
        font-style: normal;
        text-align: right !important;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 0.01071em;
        color: #505f79;
        font-size: 10px;
        // border-bottom: 1px solid #F4F5F7;
    }
    .text-align-left {
        font-style: normal;
        text-align: left !important;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 0.01071em;
        color: #505f79;
        font-size: 10px;
        // border-bottom: 1px solid #F4F5F7;
    }
    th {
        // text-align: right !important;
        // width: 10%;
    }
    th:first-child {
        text-align: left !important;
    }
    th:nth-child(2),
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5),
    th:nth-child(10) {
        text-align: left !important;
    }
    th:nth-child(9) {
        padding-right: 15px !important;
    }
    td:nth-child(9) {
        padding-right: 15px !important;
    }
    td.Late.Fee.Amount-0.text-align-right {
        padding-right: 15px !important;
    }
    // th:nth-child(10) {
    //     padding-left: 30px !important;
    // }
    td.Status-Pending {
        padding-left: 20px !important;
    }
    .table-wrapper tr:last-child {
        box-shadow: inset 0px -1px 0px #f4f5f7;
        border-radius: 3px;
    }
}
th.demand-note.PROGRAMNAME {
    width: 20%;
}
// th.demand-note.PROGRAMCODE {
//     width: 10%;
// }
th.demand-note.REGISTRATIONID {
    width: 10%;
}