// @import '../scss/common.scss';
// @import '../scss/login.scss';

.login-wrap.figma {
    width: 100%;
    display: flex;
    // height: calc(100vh - 64px - 65px);
    overflow: hidden;
}

.login-copyright-wrap.figma {
    position: absolute;
    bottom: 0px;
    height: 65px;
    background-color: $login-footer-dark;
    line-height: 40px;
    color: #fff;
    z-index: 1111;
    width: 100%;
    .login-copyright-text {
        font-size: $fs-normal;
        font-family: $primary-font-Regular;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 65px;
        color: $white;
    }
    .login-copyright-text-srm {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.zenqore-header-wrap {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    margin-left: 64px;

    .zq-logo-setup {
        margin-top: 10px;
        margin-left: 10px;
        float: left;
    }
    .zq-logo-image {
        float: left;
    }
}
.zenqore-image-wrapper {
    width: 50%;
    .zenqore-image-wrap {
        width: 100%;
        height: calc(100% - 72px);
        margin-top: 72px;
    }
    .zenHome-image {
        width: calc(85% - 142px);
        margin-left: 142px;
        margin-top: 30px;
    }
}
.zenqore-leftside-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;

    .login-content {
        height: 100%;
        width: 75%;
        margin: 0 auto;
    }
    .zenqore-login-container {
        background: #ffffff;
        border: 1px solid #f4f5f7;
        box-sizing: border-box;
        box-shadow: 0px 18px 12px rgba(23, 43, 77, 0.04), 0px 24px 18px rgba(23, 43, 77, 0.08);
        border-radius: 16px;
        width: 440px;
        position: absolute;
        min-height: 450px;
        padding-bottom: 25px;
    }
    .login-form-hd {
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: normal;
        color: #091e42;
        padding-bottom: 8px;
        padding-top: 35px;
    }
    .login-form-hd-srm {
        font-size: 25px;
    }
    .login-btn {
        text-transform: uppercase;
        font-family: $primary-font-Bold;
    }
}
p.zq-slogan {
    font-family: $primary-font-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
.circles-wrap {
    background: #ffffff;
    border-radius: 16px;
    height: 70%;
    width: 440px;
    position: relative;
    min-height: 450px;
    z-index: 0;
}
img.circle-image {
    position: absolute;
    top: -13%;
    left: -45px;
}
img.circle-image1 {
    position: absolute;
    right: -40px;
    top: 30%;
}
img.circle-image2 {
    position: absolute;
    bottom: 15%;
    left: -23px;
}
