.notification-section {
    .icon-section {
        // padding: 15px;
        // text-align: right;
        // margin-right: 10px;
        .badge-notification {
            cursor: pointer;
        }
        .badge-notification:hover {
            opacity: 0.9;
        }
    }
}
.notification-icon {
    margin-right: 10px;
    height: 50px !important;
    color: #00445d; 
    margin-top: 1px;
}
.empty-response-text {
    height: 600px;
    width: 450px !important;
    vertical-align: middle;
    display: table-cell;
    text-align: center !important;
}
.rs-drawer-right.rs-drawer-sm {
    width: 450px !important;
}
.rs-drawer-header .rs-drawer-title {
    text-align: center;
}
.rs-drawer-content {
    ::-webkit-scrollbar {
        width: 8px !important;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #777;
        border-radius: 50px;
    }
}
.rs-drawer-body {
    height: calc(100% - 120px) !important;
    margin: 10px 0px 0px 0px !important;
    padding: 0px;
}
.rs-drawer-footer {
    padding: 20px !important;
}
.MuiBadge-colorPrimary {
    background-color: red !important;
}
.MuiBadge-anchorOriginTopRightRectangle {
    top: 11px !important;
    right: 12px !important;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 10% 10%;
}
.rs-btn:hover {
    background-color: #0a5dc2;
    color: #ffffff !important;
}
.notification-message-section {
    width: 100%;
    padding: 10px 10px 3px 10px;
    display: flex;
    .left-sec {
        width: 10%;
        .success-notification-icon {
            color: #0a5dc2;
            height: 50px;
            vertical-align: middle;
            font-size: 20px;
        }
        .error-notification-icon {
            color: #ff5630;
            height: 50px;
            vertical-align: middle;
            font-size: 20px;
        }
        .warning-notification-icon {
            color: #ff991f;
            height: 50px;
            vertical-align: middle;
            font-size: 20px;
        }
    }
    .middle-sec {
        width: 70%;
        .title-active {
            font-weight: bold;
        }
        .message-active {
            font-weight: bold;
            font-size: 13px;
            padding: 3px 0px 3px 0px;
        }
        .message {
            font-size: 13px;
            padding: 3px 0px 3px 0px;
        }
    }
    .right-sec {
        right: 20%;
        font-size: 12px;
        width: 90px;
        text-align: right;
        .display-time {
            height: 50px;
            vertical-align: middle;
            padding-top: 20px;
        }
    }
}
.notification-card:hover {
    background-color: #f6f8fa6e;
    cursor: pointer;
}
.url-section-block {
    padding: 10px;
    text-align: center;
    display: none;
    transition-duration: 5s;
    transition-delay: 2s;
}
.url-section-view {
    padding: 10px;
    text-align: center;
    display: block;
    transition-duration: 5s;
    transition-delay: 2s;
}
.notification-card {
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
}
.notification-date {
    width: 100%;
    padding: 0px 20px 0px 0px;
    margin: 7px 0px 7px 0px;

    // width: 100%;
    // padding: 3px 0px 3px 0px;
    // background: #f2f2f266;
    .card {
        color: #00a3bf;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        padding: 3px;
        border-radius: 4px;
        font-weight: bold;
    }
}
