.onboard-table-main {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #dfe1e6;
  // .Status-Requested {
  //   border-right: none;
  // }

  .action-cell {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }
}
.onboard-form-main {
  width: 100%;
  .tab-wrapper {
    width: 100%;
  }
  .tab-form-btn-wrap {
    float: right;
    position: relative;
    top: -65px;
    .form-save-btn,
    .form-submit-btn {
      width: auto;
      height: 40px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .form-submit-btn {
      background-color: #0052cc;
      color: #ffffff;
    }
    .form-save-btn {
      margin-right: 10px;
      background-color: #ffffff !important;
      color: #0052cc !important;
    }
  }
  .organi-clr-btn {
    display: none;
  }
  form {
    float: left;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dfe1e6;
    padding: 20px;
    margin-top: -50px;
    height: calc(100vh - 198px);
    overflow-y: auto;
    .input-wrap {
      float: left;
      height: 72px !important;
      position: relative;
      width: 30%;
      margin-right: 20px;
    }
    .select-input-wrap {
      width: 30%;
      margin-right: 20px !important;
      .rs-picker-select {
        width: 100% !important;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }
}

.show-seller-list-wrap {
  width: 25%;
  .student-details {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .form-commonpayment-receive-btn {
    display: none;
  }
  .rs-modal-body.bodyContent {
    overflow: hidden !important;
  }
  .select-picker-main {
    margin-top: 26px;
    .SelectPicker-seller {
      width: 100%;

      .a.rs-btn.rs-btn-default.rs-picker-toggle {
        border-radius: 0px;
      }
    }
  }
}
.rs-picker-select-menu-items {
  max-height: 200px !important;
}
.form-title {
  font-size: 14px;
  color: #061938;
  text-align: left;
  margin-bottom: 12.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 30% !important;
  margin-right: 20px;
}
.form-title1 {
  width: 8%;
}

.rowInline {
  float: left;
  height: 72px !important;
  position: relative;
  width: 34% !important;
  margin-right: 20px;
  display: flex;
  .input-wrap {
    width: 75% !important;
  }
  .input-label {
    display: none;
  }
  .MuiTextField-root {
    margin-top: 5px;
  }
  .input-label:nth-child(1) {
    width: 30% !important;
    margin-top: 15px;
    display: block;
  }
}

.form-title2 {
  font-size: 14px;
  color: #061938;
  text-align: left;
  margin-bottom: 12.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 26% !important;
  margin-right: 20px;
}
.student-form {
  form {
    float: left;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dfe1e6;
    padding: 20px;
    margin-top: -50px;
    height: calc(100vh - 198px);
    overflow-y: auto;
    .input-wrap {
      float: left;
      height: 75px !important;
      position: relative;
      width: 30%;
      margin-right: 20px;
    }
    .select-input-wrap {
      width: 30%;
      margin-right: 20px !important;
      .rs-picker-select {
        width: 100% !important;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }
  form::-webkit-scrollbar {
    width: 7px !important;
  }
  /* Track */
  form::-webkit-scrollbar-track {
    background: #fff !important;
    border: 5px solid transparent !important;
    background-clip: content-box !important; // this is important
  }
  /* Handle */
  form::-webkit-scrollbar-thumb {
    background: #dfe1e6 !important;
    border-radius: 50px !important;
  }
}
.parent-Details {
  form {
    float: left;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dfe1e6;
    padding: 20px;
    margin-top: -50px;
    height: calc(100vh - 198px);
    overflow-y: auto;
    .input-wrap {
      float: left;
      height: 72px !important;
      position: relative;
      width: 30%;
      margin-right: 20px;
    }
    .select-input-wrap {
      width: 30%;
      margin-right: 20px !important;
      .rs-picker-select {
        width: 100% !important;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }
}
.onBoradTable {
  background-color: #ffffff;
  border: 1px solid #dfe1e6;
  height: calc(100vh - 200px);
}
.receive-amount-table.onBoradTable::-webkit-scrollbar {
  width: 7px;
}
/* Track */
.receive-amount-table.onBoradTable::-webkit-scrollbar-track {
  background: #fff;
  border: 5px solid transparent;
  background-clip: content-box; // this is important
}
/* Handle */
.receive-amount-table.onBoradTable::-webkit-scrollbar-thumb {
  background: #dfe1e6;
  border-radius: 50px;
}

.payment-details-header {
  font-size: 14px;
  color: #061938;
  float: left;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  width: 100%;
  padding: 0px 0px 25px 20px;
}
.onboard-btn-group {
  float: right;
  position: relative;
  top: -45px;
  .confirm-payment-btn {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: 600;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  .cancel-onboard {
    background-color: #fff;
    color: #0052cc;
    border: 1px solid #0052cc;
    margin-right: 10px;
  }
  .submit-onboard {
    background-color: #0052cc;
    color: #fff;
  }
  .submit-onboard:hover {
    background-color: #0052cc !important;
    color: #fff;
  }
}
a.rs-btn.rs-btn-default.rs-picker-toggle {
  border-radius: 0px;
}
.onboard-table-main {
  tbody {
    tr {
      td :nth-child(8) {
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}

.reconcile-preview-payment-wrap {
  width: 90%;
  .student-details {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .form-commonpayment-receive-btn {
    display: none;
  }
}

table.receive-pay-tableFormat {
  width: "63%";
  margin: "20px";
  tbody {
    tr.item-group {
      position: relative;
      .submit-onboard {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: 600;
        height: 36px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 3px;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        width: 100px;
        background-color: #0052cc;
        color: #fff;
      }
      .remove-item {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: 600;
        height: 19px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 3px;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        width: 19px;
        background-color: #fff;
        color: #a8a8a8;
      }
    }
  }
}
table.receive-pay-tableFormat2 {
  width: "42.5%";
  margin: "20px";
  tbody {
    tr.item-group {
      position: relative;
      .submit-onboard {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: 600;
        height: 36px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 3px;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        width: 100px;
        background-color: #0052cc;
        color: #fff;
      }
      .remove-item {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: 600;
        height: 19px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 3px;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        width: 19px;
        background-color: #fff;
        color: #a8a8a8;
      }
    }
  }
}
.add-product-btn {
  font-family: OpenSans-Light;
  font-style: normal;
  font-weight: 600;
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  background-color: #0052cc;
  color: #fff;
}
