@import "./common.scss";
@import "./onboard.scss";

span {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

#my-searchInput {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
}

#my-searchInput.show {
  transform: translateX(0);
  opacity: 1;
}

.app-header-container {
  .menu-bar-wrap {
    width: 100%;
    .horizontal-nav {
      .drop-down-btn {
        display: flex;
        // padding: 0px 10px;
        // min-width: 220px;
        min-width: 28%;
        align-items: center;
        .profile-orgName {
          font-family: $primary-font-Medium;
          height: 25px;
          padding-left: 10px;
          width: max-content;
          float: left;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;
          color: #00445d;
          padding-right: 10px;
          line-height: 24px;
          span {
            margin-top: -4px;
            margin-left: 10px;
            font-size: 14px;
            color: #7a869a;
            font-weight: unset !important;
          }
        }
      }
      .profile-menu-view {
        transform: translate3d(-3vh, 20px, 0px) !important;
        position: fixed;
        top: 25px;
        // right: 25px;
        right: 0px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        border: 1px solid #dfe1e6;
        z-index: 1;
        // width: 300px;
        width: 265px;
        height: auto;
        background: #ffffff;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 10px;
        .profile-menu {
          width: 100%;
          .profile-img {
            text-align: center;
            width: 72px;
            height: 72px;
            margin: 20px auto 0;
            // cursor: pointer;
            .profile-img-upload {
              width: 72px;
              height: 72px;
            }
          }
          .profile-img:hover:before {
            position: absolute;
            top: 30px;
            font-size: 20px;
            z-index: 1;
            background: rgba(0, 0, 0, 0.54);
            width: 10px;
            height: 10px;
            content: "\f030";
            font: normal normal normal 22px/1 FontAwesome;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            line-height: 55px;
            color: #fff;
            left: calc((100% - 55px) / 2);
            cursor: pointer;
          }
          .profile-details {
            height: 75px auto;
            font-family: $primary-font-Regular;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-top: 10px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #091e42;
            .user-name {
              font-family: $primary-font-Bold;
              font-size: 14px;
              color: #061938;
              line-height: 22px;
              height: 22px;
            }
            .company-name {
              color: #7a869a;
              font-family: $primary-font-Regular;
              // font-size: 13px;
              font-size: 15px;
              // margin-top: 5px;
            }
            .user-designation-text,
            .campus-text {
              margin: 10px auto;
              margin-bottom: 0px;
              color: #7a869a;
              font-family: OpenSans-Regular;
              font-size: 13px;
            }
            .user-designation,
            .campus-id {
              width: 30%;
              background-color: #eee;
              border-radius: 4px;
              height: 21px;
              font-family: $primary-font-Regular;
              font-size: 14px;
              margin: 0px auto;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              margin-bottom: 15px;
              color: #6b778c;
            }
            .change-password {
              margin: 10px 0px 10px 0px;
              font-size: 14px;
              color: #1359c1;
            }
            .change-password:hover {
              cursor: pointer;
            }
          }
          .profile-features {
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .profile-features-btn {
              height: 32px;
              width: 85px;
              border: solid 1px #1359c1;
              background-color: #ffffff;
              font-family: $primary-font-Regular;
              font-size: 14px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #1359c1;
              margin: 5px;
            }
          }
          .profile-seperator1 {
            border-radius: 5px;
            background-color: #ffffff;
            margin: 0px;
            margin-top: 10px;
          }
          .profile-seperator {
            border-radius: 5px;
            background-color: #ffffff;
            margin: 0px;
          }
          .org-list::-webkit-scrollbar {
            width: 7px;
          }
          .org-list::-webkit-scrollbar-track {
            background: #fff;
          }
          .org-list::-webkit-scrollbar-thumb {
            background: #dfe1e6;
            border-radius: 50px;
          }
          .org-list::-webkit-scrollbar-thumb:hover {
            background: #dfe1e6;
            border-radius: 50px;
          }
          .org-list {
            //change scroll css
            max-height: 115px;
            overflow-y: auto;
            .org-list-btn {
              text-align: left !important;
              height: 39px;
              background-color: #fff;
              border: none;
              width: 100%;
              font-family: $primary-font-Regular;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: normal;
              line-height: 37px;
              color: #42526e;
              display: flex;
              justify-content: space-between;
              padding-left: 20px;
              img {
                padding-right: 10px;
                margin-top: -3px;
              }
              .rs-icon-user {
                width: 24px;
                height: 24px;
                object-fit: contain;
                font-size: 18px;
                padding-left: 10px;
                margin-right: 10px;
                color: #42526e;
              }
              .org-name {
                position: relative;
                top: 0px;
                overflow-y: hidden;
                svg.MuiSvgIcon-root {
                  position: relative;
                  top: 6px;
                  margin-right: 10px;
                  margin-left: 5px;
                }
              }
            }
            .org-list-btn:hover {
              background-color: #f4f5f7;
              cursor: pointer;
              .org-remove {
                display: block;
              }
            }
            .org-remove {
              padding-right: 16px;
              display: none;
              i.fa-trash {
                font-size: 20px;
                line-height: 30px;
              }
            }
          }

          .join-org {
            width: 100%;
            .join-org-btn {
              text-align: left !important;
              width: 100%;
              height: 46px;
              background-color: #fff;
              border: none;
              font-family: $primary-font-Regular;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 45px;
              letter-spacing: normal;
              color: #1359c1;
              padding-left: 20px;
              font-size: 12px;
              img {
                padding-right: 10px;
              }
              svg.MuiSvgIcon-root {
                position: relative;
                top: 6px;
                margin-right: 10px;
                margin-left: 5px;
              }
              .rs-icon-user-plus {
                width: 24px;
                height: 24px;
                object-fit: contain;
                font-size: 18px;
                margin-right: 10px;
                padding-left: 10px;
                color: #1359c1;
              }
            }
            .join-org-btn:hover {
              background-color: #f4f5f7;
              cursor: pointer;
            }
          }
          .profile-logout {
            text-align: center;
            height: 60px;
            background-color: #fafafa;
            .logout-btn {
              font-family: $primary-font-Regular;
              margin-top: 11px;
              height: 37px;
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #0052cc;
              cursor: pointer;
              background: #ffffff;
              border: 1px solid #0052cc;
              border-radius: 3px;
              padding: 0px 15px;
            }
          }
          .privacy-policy {
            font-size: 10px;
            line-height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #7a869a;
            font-family: $primary-font-Regular;
            height: 42px;
            .privacy-btn,
            .service-btn {
              font-family: $primary-font-Regular;
              border-radius: 4px;
              color: #7a869a;
              display: inline-block;
              font-size: 10px;
              text-transform: initial;
              outline: 0;
              padding: 4px 8px;
              text-decoration: none;
              text-align: center;
              white-space: normal;
              border: none;
            }
            .separator-dot {
              color: #5f6368;
              margin: 0px;
              text-align: center;
              font-size: 10px;
              white-space: normal;
            }
          }
        }
      }
      .profile-menu-view {
        transform: translate3d(-3vh, 20px, 0px) !important;
        position: fixed;
        top: 25px;
        // right: 25px;
        right: 0px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        border: 1px solid #dfe1e6;
        z-index: 1;
        // width: 300px;
        width: 265px;
        height: auto;
        background: #ffffff;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 10px;
        .profile-menu {
          width: 100%;
          .profile-features {
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .profile-features-btn {
              height: 32px;
              width: 85px;
              border: solid 1px #1359c1;
              background-color: #ffffff;
              font-family: $primary-font-Regular;
              font-size: 14px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #1359c1;
              margin: 5px;
            }
          }
          .profile-seperator {
            border-radius: 5px;
            background-color: #ffffff;
            margin: 0px;
          }

          .join-org {
            width: 100%;
            .join-org-btn {
              text-align: left !important;
              width: 100%;
              height: 46px;
              background-color: #fff;
              border: none;
              font-family: $primary-font-Regular;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 45px;
              letter-spacing: normal;
              color: #1359c1;
              padding-left: 20px;
              font-size: 12px;
              img {
                padding-right: 10px;
              }
              svg.MuiSvgIcon-root {
                position: relative;
                top: 6px;
                margin-right: 10px;
                margin-left: 5px;
              }
              .rs-icon-user-plus {
                width: 24px;
                height: 24px;
                object-fit: contain;
                font-size: 18px;
                margin-right: 10px;
                padding-left: 10px;
                color: #1359c1;
              }
            }
            .join-org-btn:hover {
              background-color: #f4f5f7;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.profile-picture-main {
  background-color: $app-body-color;
  width: 100%;
  padding: 0px 20px 0px 20px;
  .profile-picture-headers {
    padding: 0;
    display: flex;
    justify-content: space-between;
    // .invoice-page-header {
    //     padding: 0 10px 0 0px !important;
    //     // padding: 0px;
    // }
    .trial-balance-header-title {
      position: fixed;
      top: 0;
      width: 50%;
      background: #f6f8fa;
      height: 56px;
      line-height: 40px;
      padding-top: 19px;
      z-index: 1;
      display: flex;
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #00445d;
      }
      .top-header-icon {
        padding-top: 10px;
        font-size: 25px;
        margin-top: -4px;
        cursor: pointer;
      }
    }
    .headers-column1 {
      .profile-picture-ref {
        width: 152px;
        font-family: $primary-font-Bold;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #091e42;
        background-color: inherit;
        border: none;
      }
      span.breadcrumb-nav {
        padding-left: 5px;
        width: 266px;
        height: 18px;
        font-family: $primary-font-Bold;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #1359c1;
        .breadcrumb-current {
          color: #000000;
        }
      }
    }
    .headers-column2 {
      display: flex;
      .cancel {
        color: #1359c1;
        background-color: #fff;
      }
    }
  }
  .profile-picture-data-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    .avatar-editor {
      background-color: #fff;
      color: #d0cfcf;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 170px);
      position: relative;
      width: 100% !important;
      .avatar-editor-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 30px;
      }
      .avatar-crop {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
      }
      label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .avatar-instructions {
        font-family: $primary-font-Regular;
        font-size: 14px;
        color: #1359c1;
        float: left;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 15px;
      }
      // canvas {
      //     width: 100% !important;
      //     height: 100% !important;
      //     object-fit: cover;
      // }
    }
  }
}
// .MuiDialogActions-root.change-password-btns.MuiDialogActions-spacing {
//     flex: initial;
//     display: inherit;
//     padding: 8px;
//     align-items: center;
//     justify-content: flex-end;
//     margin-top: 0px;
//     button.MuiButtonBase-root {
//         font-family: $primary-font-Regular;
//         font-size: 14px;
//         width: 120px;
//         border: 1px solid #6b778c;
//         text-transform: capitalize;
//     }
//     .btns-submit
//         background-color: #1359c1;
//         color: #fff;
//     }
// }
.profile-pwd-form {
  position: relative;
  width: 90%;
  /* float: left; */
  margin: 0 auto;
  .input-wrap.change-password-input {
    float: none !important;
    position: relative;
    width: 90% !important;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
  }
  .primary-btn,
  .secondary-btn {
    width: 100%;
    margin: 15px 12px;
    height: 37px;
    padding: 0px 15px;
    font-size: 14px;
  }
  .btns-submit {
    width: 40%;
  }
  .btns-cancel {
    width: 40%;
  }
}
.profile-submit-btn {
  float: right;
  height: 45px;
  margin-bottom: 10px;
  padding: 10px 30px;
  background-color: #0052cc !important;
  border: 1px solid #0052cc !important;
  color: #ffffff !important;
}
.profile-cancel-btn {
  position: absolute !important;
  bottom: 0;
  left: 0;
  border: 1px solid #0052cc !important;
  color: #0052cc !important;
  height: 45px;
  margin-bottom: 10px;
  padding: 10px 30px;
}
.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  // color: #091e42;
  color: #fff;
  margin-right: 10px;
}
.horizontal-nav {
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: flex-end;
  min-width: 60%;
}
.overall-search-btn {
  width: 100%;
  cursor: pointer;
  // margin-right: 15px;
  position: relative;
  // margin-right: 10px;
  span.overall-search-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #b3bac5;
  }
}
input.search-input-box {
  min-width: 300px;
  border-radius: 20px;
  outline: none;
  margin: 0;
  padding: 0px;
  line-height: 32px;
  font-size: 12px;
  padding-left: 35px;
  border: 1px solid #b3bac5;
}
.header-nav-wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: stretch;
}
.profile-img-tiny {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.support-icon-box {
  cursor: pointer;
  margin-right: 10px;
}
span.close {
  position: absolute;
  right: 12px;
  top: 5px;
  color: #b3bac5;
}
.task-icon-box {
  margin-right: 0px;
  cursor: pointer;
  color: #505f79;
  border-right: 1px solid #dfe1e6;
  padding-right: 20px;
}
//notification
.notification-icon-box {
  cursor: pointer;
  position: relative;
  color: #7a869a;
  margin-left: 10px;
  .notify-icon-svg {
    font-size: 27px;
    margin-top: 5px;
  }
}
.notification-wrap {
  height: calc(100vh - 50px);
  width: 419px;
  top: 57px;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  overflow-y: auto;
  z-index: 2;
}
.notification-content {
  overflow-y: auto;
  height: calc(90vh - 115px);
}
.notification-content::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.notification-content::-webkit-scrollbar-track {
  background: #fff;
  border: 5px solid transparent;
  background-clip: content-box; // this is important
}

/* Handle */
.notification-content::-webkit-scrollbar-thumb {
  background: #dfe1e6;
  border-radius: 50px;
}
.notify-dot {
  width: 10px;
  height: 10px;
  border: solid 1px #ffffff;
  background-color: #ff5630;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 2px;
}
.notification-heading {
  padding: 15px 0 15px 15px;
  border-bottom: 2px solid rgba(179, 186, 197, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $black;
  }
}
.notification-close {
  display: flex;
  align-items: center;
}
.notification-close-icon {
  margin-right: 10px;
  cursor: pointer;
}
.today-notify {
  padding: 15px 0 15px 15px;
  p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00b8d9;
  }
}
.today-no-notify {
  padding: 15px 0 0px 15px;
  p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00b8d9;
  }
}

.notify-listname-unread {
  display: flex;
  align-items: center;
  width: calc(100% - 37%);
  font-weight: bold;
}
.notify-listname {
  display: flex;
  align-items: center;
  width: calc(100% - 37%);
}
.list_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 5px;
  height: 56px;
  cursor: pointer;
}
.list_details:nth-child(even) {
  box-shadow: 0 1px 0 0 rgba(179, 186, 197, 0.25);
  background-color: $app-body-color;
}
.list_details:hover {
  background-color: $app-body-color;
}
.no-notification {
  padding: 15px;
}
.btn-wrap {
  height: 55px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.mark_as_all_read {
  width: 173px;
  height: 37px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1359c1;
  margin-right: 20px;
}
.clear_all {
  width: 150px;
  height: 37px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1359c1;
  border: 1px solid #1359c1;
  margin-right: 20px;
}

.view_all {
  width: 173px;
  height: 37px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1359c1;
}
.view_all:hover {
  border: 1px solid #1359c1;
}
.mark_as_all_read:hover {
  border: 1px solid #1359c1;
}

.announcement-container {
  width: 100%;
  height: 73px;
  position: absolute;
  background: linear-gradient(to right, #ffc501, #ffc501);
  top: 56px;
  left: 0;
  box-shadow: 0 8px 6px -8px black;
}
.announcement-link-new {
  width: 30%;
  float: left;
}
.announcement-feature-new {
  width: 50%;
  float: left;
}
.announcement-feature {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
}
.announcement-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 15px;
  width: 100%;
  margin-left: 30px;
}
.announcement-startbtn-new {
  width: 15%;
  float: left;
}
.announcement-startbtn {
  background: #1359c1;
  color: white;
  width: 77%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.announcement-xclose-new {
  width: 5%;
  display: flex;
}
.announcement-xclose {
  cursor: pointer;
  margin-top: 18px;
  margin-left: -6px;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.announcement-round-container {
  margin-top: 16px;
  margin-left: 232px;
  display: flex;
}
.announcement-round {
  width: 6.5px;
  height: 6.5px;
  background: white;
  border-radius: 50%;
  margin-left: 9px;
  cursor: pointer;
}

.announcement-left {
  float: left;
  margin-top: 15px;
  /* margin-left: 0px; */
  margin-right: 4px;
  cursor: pointer;
}
.announcement-right {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;
}
.strip-height {
  height: 60px !important;
}

.modal-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: #858da0;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  left: 0px;
}
.vertical-modal-container {
  width: 750px;
  height: 430px;
}
.vertical-header {
  font-size: 1.9rem;
  font-weight: 600;
  width: 97%;
  line-height: 1.3;
  color: black;
}
.vertical-modal-img {
  width: 50%;
  height: 100%;
  float: left;
}
.vertical-modal-text {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #fec400;
}
.vertical-modal-close {
  width: 100%;
  height: 85.25px;
}
.vclose {
  float: right;
  margin-top: 0px;
  margin-right: 13px;
  font-size: 27px;
  cursor: pointer;
}
.vspace {
  height: 85.25px;
}
.vtext-one {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.v-left {
  position: absolute;
  top: 300px;
  left: 303px;
  color: #ecf0f1;
  cursor: pointer;
}
.v-right {
  position: absolute;
  right: 300px;
  top: 300px;
  cursor: pointer;
  color: #ecf0f1;
}
.vertical-round {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  // background: black;
  top: 528px;
  // left: 522px;
  cursor: pointer;
}
.vtext-three {
  text-align: center;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  width: 60%;
}
.vbutton {
  margin-top: 40px;
  background: #1359c1;
  color: white;
  width: 37%;
  height: 45px;
  text-align: center;
  cursor: pointer;
  margin-left: 120px;
  padding: 12px;
}

.modalnew-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: #858da0;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  left: 0px;
}
.horizontal-modal-container {
  width: 630px;
  height: 400px;
}
.horizontal-modal-img {
  width: 100%;
  height: 70%;
  background: #e5e7e8e8;
}
.horizontal-modal-text {
  width: 100%;
  height: 30%;
  background-color: #fec400;
}
.horizontal-modal-heading {
  padding-top: 5px;
  word-spacing: 0.05rem;
  margin-left: 28px;
}
.horizontal-modal-second {
  width: 70%;
  height: 72px;
  float: left;
}
.horizontal-modal-third {
  width: 30%;
  float: left;
}
.h-right {
  position: absolute;
  top: 294px;
  right: 360px;
  cursor: pointer;
  color: #ecf0f1;
}
.h-left {
  position: absolute;
  top: 294px;
  cursor: pointer;
  color: #ecf0f1;
  left: 360px;
}
.horizontal-round {
  height: 7px;
  width: 7px;
  position: absolute;
  top: 518px;
  // left: 620px;
  border-radius: 50%;
  cursor: pointer;
}
.horizontal-modal-paragraph {
  margin-left: 33px;
  margin-top: 12px;
  width: 95%;
  font-size: 1rem;
}
.hbutton {
  padding: 10px;
  background: #1359c1;
  color: white;
  width: 65%;
  text-align: center;
  margin-top: 15px;
  margin-left: 38px;
  cursor: pointer;
}
.horizontal-header {
  font-size: 1.9rem;
  font-weight: 600;
  word-spacing: 0, 05rem;
  color: black;
}
.hclose {
  float: right;
  position: absolute;
  right: 382px;
  top: 127px;
  font-size: 31px;
  cursor: pointer;
  color: #ecf0f1;
}

// .avatar-editor div :nth-child(0){
//     width: 100%;
//     height: 100%;
// }
.zq-dotmenu {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .zq-config-dots-menu {
    font-size: 20px;
    color: #7a869a;
  }
}
.dot-menuitem {
  position: relative;
  width: max-content;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
  background: rgb(0, 68, 93);
  padding-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.dotmenu-vertical-line {
  width: 1px;
  height: 24px;
  background: #7a869a;
  margin-right: 6px;
}
.profile-menu-view.open,
.dot-menu-view.open {
  display: block;
  transform: translate3d(-3vh, 20px, 0px) !important;
  position: fixed;
  // right: 25px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border: 1px solid #dfe1e6;
  z-index: 1;
  width: 265px;
  height: auto;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 10px;
}

.profile-menu-view.open {
  right: 0px;
  top: 25px;
  width: 265px;
  animation: profile-menu-view_fade_in_show 0.5s;
}
.dot-menu-view.open {
  right: 170px;
  top: 34px;
  border-radius: 0px;
  width: 265px;
  animation: dot-menu-view_fade_in_show 0.5s;
}
@keyframes profile-menu-view_fade_in_show {
  0% {
    top: 25px;
    opacity: 0;
    transform: scale(0);
  }
  50% {
    top: 25px;
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    top: 25px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dot-menu-view_fade_in_show {
  0% {
    top: 34px;
    opacity: 0;
    transform: scale(0);
  }
  50% {
    top: 34px;
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    top: 34px;
    opacity: 1;
    transform: scale(1);
  }
}
// div#dot-menu::before {
//     content: '';
//     border-style: solid;
//     border-width: 0 12px 12px 12px;
//     border-color: transparent transparent #7a869a transparent;
//     height: 0px;
//     position: absolute;
//     top: -13px;
//     left: 50%;
//     border-radius: 0px 0px 0px 0px;
// }
.zq-dotmenu-active,
.zq-dotmenu-active:hover {
  background: #00445d15;
  width: 40px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 50%;
}
div#dot-menu {
  .join-org {
    width: 100%;
    line-height: 40px;
    height: auto;
    text-align: left;
    padding-left: 15px;
  }
  .join-org:hover {
    background-color: #f4f5f7;
    color: #15435b;
    cursor: pointer;
  }

  .profile-seperator {
    margin: 0px;
  }
}
.join-org-btn.hightlighter {
  width: calc(100% + 15px);
  background: #15435b;
  margin-left: -15px;
  color: #fff;
  padding-left: 15px;
}
.join-org-btn.disabled {
  cursor: no-drop;
  margin-left: -15px;
  // color:#fff;
  padding-left: 15px;
}

.profile-header-btns {
  float: right;
  margin-bottom: 15px;
  .btns-submit {
    background-color: #1359c1;
    font-family: $primary-font-Regular;
    font-weight: 400 !important;
    font-stretch: normal;
    font-style: normal;
    border: none;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    height: 37px;
    padding: 0px 15px;
    font-size: 14px;
  }
}

// Notification New

.notify-wrap {
  height: calc(100% - 57px);
  width: 419px;
  top: 45px;
  position: absolute;
  right: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  overflow-y: auto;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 10px;
  .notify-head {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    .notify-text {
      font-family: $primary-font-Regular;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      align-items: center;
      text-transform: uppercase;
      color: #061938;
    }
    .notify-head-btn {
      float: right;
      .notify-btns {
        color: #0052cc;
        font-family: $primary-font-Regular;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 27px;
        background-color: #fff;
      }
    }
  }
  .notify-today,
  .notify-yesterday {
    margin: 20px 20px;
    .notify-today-head {
      font-family: $primary-font-Regular;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #7a869a;
      text-transform: uppercase;
    }
    .notify-seperator {
      margin-top: 5px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #e5e5ea;
    }
    .notify-today-tasks,
    .notify-yesterday-tasks {
      margin: 0px 0px 0px 20px;
      ul {
        list-style: none;
        margin-top: 10px;
        .list-item,
        .list-item-prev {
          font-family: $primary-font-Regular;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: #061938;
        }
        .notify-ico {
          color: #7a869a;
          position: relative;
          right: -35px;
        }
        .notify-ico2 {
          color: #7a869a;
          position: relative;
        }
        .notify-text2 {
          position: relative;
          right: -10px;
          font-family: $primary-font-Regular;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 22px;
          text-align: right;
          color: #7a869a;
        }
        span {
          position: relative;
          right: -40px;
          font-family: $primary-font-Regular;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 22px;
          text-align: right;
          color: #7a869a;
        }
        span.active-task {
          line-height: 15px;
          font-size: 10px !important;
        }
      }
      ul li::before {
        content: "\2022";
        color: #0052cc;
        font-weight: bold;
        display: inline-block;
        width: 17px;
        position: relative;
        font-size: 18pt;
        margin-left: -1em;
        top: 55px;
      }
      .notify-btns {
        align-items: center;
        padding: 4px 12px;
        width: 70px;
        height: 36px;
        left: 0px;
        top: 0px;
        border: 1px solid #0052cc;
        box-sizing: border-box;
        border-radius: 3px;
      }
      ul .list-item-prev::before {
        content: "\2022";
        color: #0052cc;
        font-weight: bold;
        display: inline-block;
        width: 17px;
        position: relative;
        font-size: 18pt;
        margin-left: -1em;
        top: 49px;
      }
      .multi-task-timeline {
        display: flex;
        width: 40%;
        margin-top: 32px;
      }
    }
  }
}

span.new-task {
  font-family: $primary-font-Regular;
  border-radius: 3px;
  background-color: #f3f3ff;
  font-size: 10px;
  font-weight: 500;
  color: #403294;
  padding: 4px 10px;
  position: relative;
  left: 6px;
  bottom: 5px;
}
span.active-task {
  font-family: $primary-font-Regular;
  border-radius: 3px;
  background-color: #e3fcef;
  font-size: 10px;
  font-weight: 500;
  color: #00875a;
  padding: 4px 10px;
  position: relative;
  left: 6px;
  bottom: 5px;
}

.campus-logo-wrap {
  .kenLogo {
    width: 43px !important;
    height: 40px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

//**********Logo Right Top************//
.right-top0 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: block;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top1 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: block;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top2 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: block;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top3 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: block;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top4 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: none;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top5 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: none;
  }
  .vendor-logo {
    display: none;
  }
}
.right-top6 {
  .parent-logo {
    display: none;
  }
  .campas-logo {
    display: none;
  }
  .vendor-logo {
    display: none;
  }
}
.notification-icon-fc {
  margin: 0px;
}
