@import "./common.scss";
.receive-payment-main,
.list-of-students-mainDiv-new {
  width: 100%;
  .payment-method {
    width: 100%;
    height: 100%;
    .payment-btns {
      text-align: center;
      position: relative;
      top: 34vh;
    }
    .payment-radio-btns {
      text-align: center;
      position: relative;
      top: 30vh;
      width: 100%;
      @media screen and (min-height: 800px) {
        top: 36vh;
      }
    }
    .payment-group {
      width: 55%;
      position: relative;
      margin: 0 auto;
      label {
        position: relative;
        margin: 0 auto;
      }
    }
    button.pay-cash-btn,
    button.pay-credit-btn,
    button.razorpay-btn {
      position: relative;
      margin-right: 10px;
      border-radius: 3px;
      background-color: #0052cc;
      padding: 10px 140px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border: 1px solid #0052cc;
      height: 44px;
      left: 7px;
    }
    .razorpay-btn {
      @media screen and (min-height: 800px) {
        margin-top: 20px;
      }
    }
  }
  //Page 1
  .receive-payment-table {
    position: relative;
    top: 25vh;
    .payment-form {
      width: 24%;
      position: relative;
      margin: 0 auto;
      form {
        .fetch-details-btn {
          width: 100%;
          position: relative;
          border-radius: 3px;
          background-color: #0052cc;
          padding: 10px 39px;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          border: 1px solid #0052cc;
          height: 44px;
        }
      }
    }
    .form-width-add {
      form {
        div {
          width: 100% !important;
        }
      }
    }
  }

  // Page 2
  .razor-pay {
    width: 100%;
    .parent-info {
      width: 100%;
      height: 100%;
      margin-top: 15vh;
      .cash-form {
        width: 30%;
        margin: 0 auto;
        .fetch-details-btn {
          width: 100%;
        }
      }
      .cheque-form {
        width: 100%;
        margin: 5px auto;
        form {
          width: 97% !important;
          margin: 0 auto !important;
          float: none !important;
        }
        .input-wrap {
          float: left;
          width: 30%;
          margin: 0px 0px 24px 24px;
        }
        .card-payment-btn {
          left: 36% !important;
        }
      }
      .card-form {
        form {
          width: 100%;
          position: absolute;
          margin: 0px auto;
          left: 7%;
          .input-wrap {
            float: left;
          }
          .student-id,
          .parent-name,
          .card-name,
          .card-number,
          .txn-number,
          .cardType-select {
            width: 25%;
            margin: 10px 30px !important;
            height: 72px;
            .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
            .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
              color: #000 !important;
            }
          }
          .confirm-pymt-btn {
            position: absolute;
            top: 28vh;
            left: 30px;
            width: 25%;
            border-radius: 3px;
            background-color: #0052cc;
            padding: 10px 39px;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            border: 1px solid #0052cc;
            height: 44px;
          }
        }
      }
    }
    .confirm-payment-btn {
      position: relative;
      top: 25vh;
      border-radius: 3px;
      background-color: #0052cc;
      padding: 8px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border: 1px solid #0052cc;
      height: 44px;
    }
  }
  //Page 3
  .payment-confirm-page {
    width: 100%;
    text-align: center;
    position: relative;
    top: 25vh;
    .payment-confirm-text {
      font-size: 14px;
    }
    .confirm-icon {
      color: #36b37e;
      font-size: 60px;
      margin-bottom: 20px;
    }
    .cancel-icon {
      color: red;
      font-size: 60px;
      margin-bottom: 20px;
    }
    .confirm-btns {
      position: relative;
      top: 10px;
      margin: 0 auto;
    }
    .confirm-payment-btn {
      border-radius: 3px;
      background-color: #0052cc;
      padding: 8px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border: 1px solid #0052cc;
      height: 44px;
      margin-right: 10px;
    }
  }
}

.migration-body-content-section::-webkit-scrollbar {
  width: 7px;
}
/* Track */
.migration-body-content-section::-webkit-scrollbar-track {
  background: #fff;
  border: 5px solid transparent;
  background-clip: content-box; // this is important
}
/* Handle */
.migration-body-content-section::-webkit-scrollbar-thumb {
  background: #dfe1e6;
  border-radius: 50px;
}
.pending-input {
  position: relative;
  margin-bottom: 20px !important;
  width: 24%;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}

.pubnub-progress {
  .current-upload-item {
    font-size: 12px !important;
    font-family: OpenSans-Regular !important;
  }
  .rs-modal-content {
    position: relative !important;
    top: 20vh !important;
  }
}
.refund-txn-btn {
  position: absolute;
  top: 0;
  right: 10px !important;
  top: 7px !important;
  height: 30px !important;
  padding: 18px 20px !important;
  background-color: #0052cc;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.refund-txn-btn.MuiButton-root:hover {
  text-decoration: none;
  background-color: #15435ab5 !important;
  position: absolute;
  top: 0;
  right: 10px !important;
  top: 7px !important;
  height: 30px !important;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.refundTable {
  .zq-table-heading {
    th {
      width: 9%;
    }

    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(3) {
      width: 10%;
    }
    th:nth-child(2) {
      width: 9.5%;
    }
    th:nth-child(4) {
      width: 10%;
    }

    // th:nth-child(4){width: 110px}
    // th:nth-child(5){width: 110px}
    // th:nth-child(6){width: 110px}
    // th:nth-child(7){width: 110px}
  }
  .zq-table-body {
    td {
      width: 9%;
    }

    td:nth-child(3) {
      width: 10%;
    }
    td:nth-child(2) {
      width: 9.5%;
    }
    td:nth-child(4) {
      width: 10%;
    }
    td:nth-child(1) {
      width: 5%;
    }
  }
  // .zq-table-body{
  //     td:nth-child(3){width: 110px}
  //     td:nth-child(4){width: 110px}
  //     td:nth-child(5) {
  //         width: 110px;
  //         text-align: right;
  //     }
  //     td:nth-child(6) {
  //         width: 110px;
  //         text-align: right;
  //     }
  //     td:nth-child(7) {
  //         width: 110px;
  //         text-align: right;
  //     }
  //     .zq-table-heading th {
  //         padding-left: 30px !important;
  //     }
  // }
}
.refundForm {
  width: 30%;
  margin: 15vh auto;
  .submit-btn-details {
    width: 100%;
  }
}
.refund-mainDiv {
  .trial-balance-header-title {
    position: fixed;
    top: 0;
    width: 50%;
    background: #f6f8fa;
    height: 56px;
    line-height: 40px;
    padding-top: 19px;
    z-index: 1;
    display: flex;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00445d;
    }
    .top-header-icon {
      padding-top: 10px;
      font-size: 25px;
      margin-top: -4px;
      cursor: pointer;
    }
  }
}

.payment-method {
  form {
    position: fixed;
    top: 40vh;
    width: 100%;
    .pending-input {
      position: relative;
      margin: 0 auto !important;
      margin-bottom: 20px !important;
      width: 24%;
    }
  }
}

.input-student-id {
  margin-bottom: 15px !important;
}

.card-payment-btn,
.cash-payment-btn {
  border-radius: 3px;
  background-color: #0052cc !important;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #0052cc;
  height: 44px;
}
.cash-payment-btn {
  width: 100%;
}
.card-payment-btn {
  position: relative;
  left: 31.2%;
  width: 25%;
  top: 20px;
  height: 50px;
}
.cash-payment-btn:hover,
.card-payment-btn:hover {
  border-radius: 3px;
  background-color: #0052cc !important;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #0052cc;
  height: 50px;
  opacity: 0.95;
}
.recievePymtTable {
  .zq-table-heading th:hover .sort-icon {
    display: none;
  }
  table {
    border: 1px solid #dfe1e6;
  }
  th:first-child {
    width: 10% !important;
  }
}
.transaction-scholarship-main-div .payment-tab-wrapper {
  border: none !important;
  border-bottom: 1px solid #dfe1e6 !important;
  .payment-wrap {
    height: auto !important;
  }
}
.receive-pay-tableFormat {
  // width: calc(100% - 20px);
  // margin: 0 auto;
  // margin-left: 10px;

  width: 80%;
  border: 1px solid #dfe1e6;
  margin: 0 auto;
  thead.receive-pay-tableFormatHead {
    border-bottom: 1px solid #dfe1e6;
  }
  thead.receive-pay-tableFormatHead td,
  tbody td {
    text-align: left;
    padding-left: 15px;
  }
  thead.receive-pay-tableFormatHead th {
    font-family: $primary-font-Regular;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    color: #7a869a;
    text-transform: uppercase;
    height: 36px;
    border-right: 1px solid #dfe1e6;
  }
  tbody {
    td {
      color: #42526e;
      font-family: $primary-font-Regular;
      cursor: pointer;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      height: 40px;
      border-right: 1px solid #dfe1e6;
      box-shadow: inset 0px -1px 0px #f4f5f7;
    }
    .receive-pay-tableFormatAmountInput {
      text-align: right;
      span {
        padding-right: 10px;
      }
    }
  }
  .feeAmount-input {
    text-align: right;
    width: 96%;
    margin-right: 10px;
    border: none;
    padding: 7px;
  }
  // .feeAmount-input:hover,
  // .feeAmount-input:active
  // {
  //     border:none;
  //     padding: 8px;
  // }
  .totalAmount-payment {
    text-align: right;
    padding-right: 15px;
    font-family: $primary-font-Medium;
    font-size: 18px;
  }
}
.discount-field.receivePay {
  display: flex !important;
  align-items: center;
  justify-content: center;
  .switch-tab {
    top: 0px;
    margin-right: 10px;
  }
}
.receive-amount-table {
  position: relative;
  .student-txt {
    width: 100%;
    position: relative;
    margin: 13px auto;
    .payment-method-btn {
      margin-right: 10px;
      border-radius: 3px;
      background-color: #0052cc;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border: 1px solid #0052cc;
      cursor: pointer;
      height: 36px;
      position: absolute;
      right: 124px;
      top: 5px;
      z-index: 1;
    }
    .student-details-header {
      font-size: 18px;
      text-align: center;
    }
    .student-details {
      display: flex !important;
      justify-content: space-around !important;
      margin: 20px;
    }
    .bold-text {
      font-family: OpenSans-Regular;
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 12px;
      color: #7a869a;
      text-transform: uppercase;
    }
    .student-paraText {
      margin-left: 20px;
    }
  }
  .student-details {
    position: relative;
    margin: 0 auto;
    width: 96%;
    .zq-table-heading {
      th:nth-child(3) {
        width: 110px;
      }
      th:nth-child(4) {
        width: 110px;
      }
      th:nth-child(5) {
        width: 110px;
        text-align: center;
      }
      th:nth-child(6) {
        width: 110px;
        text-align: center;
      }
      th:nth-child(7) {
        width: 110px;
        text-align: center;
      }
    }
    .zq-table-body {
      td:nth-child(3) {
        width: 110px;
      }
      td:nth-child(4) {
        width: 110px;
      }
      td:nth-child(5) {
        width: 110px;
        text-align: right;
        padding-right: 20px;
      }
      td:nth-child(6) {
        width: 110px;
        text-align: right;
        padding-right: 20px;
      }
      td:nth-child(7) {
        width: 110px;
        text-align: right;
        padding-right: 20px;
      }
      .zq-table-heading th {
        padding-left: 30px !important;
      }
    }
    .preview-form {
      .close-preview {
        float: right;
        position: relative;
        top: -120px;
        right: 0px;
      }
      form {
        width: 98%;
        position: relative;
        margin: 0px auto;
        p.form-hd {
          margin: 0px 30px;
        }
        .input-wrap {
          float: left;
          width: 25%;
          margin: 10px 30px;
          height: 72px;
        }
      }
    }
  }
  .payment-form {
    width: 100%;
    height: 100%;
    .payment-btns {
      text-align: center;
    }
    form {
      .fetch-details-btn {
        width: 100%;
      }
    }
  }
}
.student-details-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recieveTableText {
  padding: 10px;
  border-bottom: 1px solid #dfe1e6;
  font-size: 15px;
  font-weight: bold;
}
.recieveTableTextlast {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
.student-details-recieveTableText {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #dfe1e6;
}
.student-details-recieveTableTextHeader {
  border-right: 1px solid #dfe1e6;
  width: calc(100% / 3);
}

// ***********************   Preview Tabs *************************
.preview-table-wrap {
  width: 100%;
  .preview-main {
    .preview-list-tab-data {
      width: 100%;
      height: calc(100vh - 188px);
      background-color: #fff;
      border: 1px solid #dfe1e6;
      overflow-y: auto;
      padding: 24px 28px;
      form {
        float: left;
        .input-wrap {
          float: left;
          height: 72px !important;
          position: relative;
          width: 30%;
          margin-right: 20px;
        }
      }
      .refund-preview-payment {
        .preview-list-tab-data {
          padding: 24px 20px;
        }
        .form-commonpayment-receive-btn {
          right: 0px;
          color: #fff;
        }
        .receipt-payment .payment-form-field {
          height: 72px !important;
          width: 47% !important;
        }
      }
    }
  }
}

.receivePaymentPreviewPaymentTab {
  .collectPaymentPreviewPaymentTab {
    .select-input-wrap {
      margin-right: 15px !important;
    }
    .MuiInputBase-root {
      margin-right: 0px !important;
    }
  }
}

.studentDetails-viewTable{
  .studentDetails-viewTableFirstRow{
  
  border-bottom:1px solid #dfe1e6
  }
  .studentDetails-viewTableRowData{
    width:calc(100% / 3);
  }
  .studentDetails-viewTableFirstDivWrap{
    display: flex;
    align-items: center;
   
  }
  .studentDetails-viewTableFirstDiv{
    width: 50%;
    border-right:1px solid #dfe1e6;
    line-height: 40px;
  }
}