// @import "./common.scss";
@import "./input.scss";

.reconcile-parent-container {
  width: 100%;
  height: 100%;
}

.reconcile-upload {
  width: 100%;
  height: 100%;
  background: rgb(232, 235, 248);
  border: 1px solid rgb(43, 70, 187);
  border-radius: 7px;
}

.reconcile-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reconcile-center {
  text-align: center;
}

.reconcile-publish {
  width: 30px;
  color: #fff;
  background: rgb(43, 70, 187);
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
}

.reconcile-uploaded-data-container {
  width: 100%;
  height: 89%;
  background-color: #fff;
  margin-top: 1%;
  border: 1px solid #eee;
  border-radius: 5px;
}

.reconcile-clear-button {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  color: blue;
}

.transaction-table-reconcile {
  width: 100%;
}

.transaction-table-reconcile tr th {
  text-align: left !important;
  border-left: none;
  border-bottom: 1px solid #dfe1e6;
  padding: 10px;
}

.reconcile-pdf-container {
  box-shadow: 0px 0px 3px 4px rgba(238, 238, 238, 1);
  //    margin-top: 10px;
}

//scroll
.reconcile-pdf-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.reconcile-pdf-container::-webkit-scrollbar-track {
  background: #fff;
  border: 5px solid transparent;
  background-clip: content-box; // this is important
}
.reconcile-pdf-container::-webkit-scrollbar-thumb {
  background: #dfe1e6;
  border-radius: 5px;
}

.brstable-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.brstable-wrapper::-webkit-scrollbar-track {
  background: #fff;
  border: 5px solid transparent;
  background-clip: content-box; // this is important
}
.brstable-wrapper::-webkit-scrollbar-thumb {
  background: #dfe1e6;
  border-radius: 5px;
}

//new
// @import "./common.scss";
.main-wrap {
  width: 100%;
  .mainpage-headers {
    display: flex;
    .statement-head {
      padding: 10px 13px 10px 13px;
      p {
        font-family: $primary-font-Regular;
        font-size: 12px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }
    }
  }
}
.Reconcile-table-wrap {
  width: 100%;
  // background-color: #fff;
  // display: flex;
  // justify-content: space-around;
  float: left;
  display: flex;
  border: 1px solid #dfe1e6;
  .unmatchInvocie {
    background-color: #fff;
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .statement-head {
    padding: 10px 13px 0px 13px;
    margin-bottom: 10px;
    p {
      font-family: $primary-font-Regular;
      font-size: 16px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
    }
  }
  .new-table-wrap {
    width: 49.5%;
    float: left;
    .table-wrapper {
      background: #fff;
      height: calc(100vh - 280px);
    }
    // .remove-last-child-table, .second-table table {
    //     th:nth-child(2), td:nth-child(2) {
    //         width: 143px !important;
    //     }
    // }
  }

  .fee-collection-wrap {
    width: 45.9%;
    float: left;
    background-color: #fff !important;
    .pagination-ui {
      .pagination-container {
        width: 100% !important;
      }
    }
    .remove-last-child-table {
      height: calc(100vh - 280px);
      overflow-y: scroll;
      th:nth-child(1) {
        display: none;
      }
      td:nth-child(1) {
        display: none;
      }
    }
  }

  .bank-collection-wrap {
    width: 54%;
    float: left;
    .remove-last-child-table {
      height: calc(100vh - 280px);
      overflow-y: scroll;
      th:nth-child(1) {
        display: none;
      }
      td:nth-child(1) {
        display: none;
      }
    }
  }
  .non-reconciled {
    // width: 45.8%;
    width: 49.5%;
    float: left;
    .statement-head {
      padding: 10px 13px 0px 13px;
      margin-bottom: 10px;
      p {
        font-family: $primary-font-Regular;
        font-size: 16px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }
    }

    .remove-last-child-table {
      height: calc(100vh - 280px);
      // overflow: auto;
      // th,td{
      //     padding-left: 0px;
      // }

      th:nth-child(1) {
        display: none;
      }
      td:nth-child(1) {
        display: none;
      }
      // th:nth-child(3),td:nth-child(3) {
      //     padding-left: 7px !important;
      // }
      tr:nth-child(5) {
        border-bottom: none !important;
      }
      tr:nth-child(2) {
        border-bottom: none !important;
      }
      tr:nth-child(4) {
        border-bottom: none !important;
      }
    }
  }
  .non-reconciled-tds {
    // width: 45.8%;
    width: 46.9%;
    float: left;
    .statement-head {
      padding: 10px 13px 0px 13px;
      margin-bottom: 10px;
      p {
        font-family: $primary-font-Regular;
        font-size: 16px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }
    }
    .brstable-wrapper {
      // padding-top: 20px;
      background: #fff;
      height: calc(100vh - 380px);
      // overflow-x: auto;
      tr {
        border-bottom: 1px solid #ecedf0;
      }
    }

    .remove-last-child-table {
      height: calc(100vh - 280px);
      // overflow: auto;
      th:nth-child(1) {
        display: none;
      }
      td:nth-child(1) {
        display: none;
      }
    }
    .subtable {
      width: 100%;
      margin-top: 2px;
      padding-top: 5px;
      background: #fff;
      // border: 1px solid #ecedf0;
      .gstliablityTable {
        font-size: 12px;
        margin-left: 15px;
        padding-bottom: 10px;
        font-weight: 800;
      }
      .left-bottom-side {
        width: 100%;

        border-top: 1px solid #ecedf0;

        th,
        td {
          width: 25%;
          font-size: 10px;
        }
        tr {
          height: 48px;
          border-bottom: 1px solid #ecedf0;
        }
      }
    }
  }
  .non-reconciledItem {
    // width: 45.8%;
    width: 45.9%;
    float: left;
    margin-left: 0.1%;
    .statement-head {
      padding: 10px 13px 0px 13px;
      margin-bottom: 10px;
      p {
        font-family: $primary-font-Regular;
        font-size: 16px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }
    }
    .brstable-wrapper {
      // padding-top: 20px;
      background: #fff;
      height: calc(100vh - 380px);
      // overflow-x: auto;
      tr {
        border-bottom: 1px solid #ecedf0;
      }
    }
    .remove-last-child-table {
      height: calc(100vh - 280px);
      // overflow: auto;
      th:nth-child(1) {
        display: none;
      }
      td:nth-child(1) {
        display: none;
      }
      // th:nth-child(3),td:nth-child(3) {
      //     padding-left: 7px !important;
      // }
      // th,td{
      //     padding-left: 0px;
      // }
    }
    .subtable {
      margin-top: 2px;
      padding-top: 5px;
      width: 100%;
      background: #fff;
      // border: 1px solid #ecedf0;
      .gstliablityTable {
        font-size: 12px;
        padding-bottom: 10px;
        margin-left: 15px;
        font-weight: 800;
      }

      .left-bottom-side {
        width: 100%;

        border-top: 1px solid #ecedf0;

        th,
        td {
          width: 25%;
          font-size: 10px;
        }
        tr {
          border-bottom: 1px solid #ecedf0;
          height: 48px;
        }
      }
    }
  }
}
.Trialbalance-mainHeader {
  margin: 0 auto;
  width: 100%;
  // padding: 6px 0px 0px 20px;
  display: flex;
  .icon-header-tribal {
    border-right: 1px solid #6b778c;
    width: 35px;
    height: 28px;
    opacity: 0.8;
    cursor: pointer;
    .Header-backspace-icon {
      font-size: 25px;
      color: $black;
    }
  }
  .section-title-trialbal {
    border-right: 1px solid #6b778c;
    padding: 0px 8px 0px 8px;
    height: 27px;
    p {
      font-family: $primary-font-Bold;
      font-size: 18px;
      font-stretch: normal;
      width: 120px;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #091e42;
    }
  }
  .section-input-trialbal {
    width: 75%;
    padding-left: 8px;
    padding-top: 4px;
    .rs-picker-default .rs-picker-toggle.rs-btn {
      border: none !important;
      background-color: $body-bg-color !important;
      z-index: 1;
      margin-top: -7px;
      padding-top: 7px !important;
      padding-bottom: 0px !important;
    }
    .rs-picker-toggle .rs-picker-toggle-placeholder {
      color: $bold-text-color;
      font-size: 17px;
    }
    .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
    .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
      font-size: 18px;
      font-family: $primary-font-Bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #091e42;
      // margin-left: 5px;
    }
    .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
    .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
      top: 10px !important;
      margin-right: -10px !important;
    }
    .loadingOrg-tribal {
      font-size: 13px;
      padding: 4px 0px 0px 20px;
    }
  }
  .section-options-trialbal {
    right: 0;
    margin-top: -8px;
    display: flex;
    float: right;
    .options-show {
      display: flex;
      width: 100%;
      .rs-picker-default .rs-picker-toggle.rs-btn {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .Recon-header-btns {
        .submit-btn {
          border-radius: $radius-3;
          background-color: $new-color;
          height: 39px;
          outline: none;
          border: none;
          font-family: $primary-font-Regular;
          font-size: $fs-normal;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $white;
          padding: 9px 24px;
          cursor: pointer;
          // margin-right: 35px;
          float: right;
        }
      }
      .date-show {
        text-align: right;
        width: 130px;
        font-weight: 400;
        padding-right: 8px;
        // border-left: 1px solid #6b778c;
        height: 40px;
      }
      .icons-header {
        margin: 0px 6px 0px 6px;
        border-radius: 2px;
        left: 2px;
        width: 40px;
        height: 40px;
        padding: 8px 0px;
        font-size: 18px;
        line-height: 1.42857143;
        border: 2px solid $input-border-color !important;
        background-color: $white;
      }
      .SelectPicker-branch {
        margin: 0px 6px 0px 7px;
        width: 200px;
        border-radius: 0px !important;
        span.rs-picker-toggle-value {
          color: #091e42;
          padding-top: 3px;
        }
        span.rs-picker-toggle-clean,
        span.rs-picker-toggle-caret,
        span.rs-picker-toggle-placeholder {
          padding-top: 3px;
        }
        a.rs-btn.rs-btn-default.rs-picker-toggle {
          height: 43px;
          border-radius: 2px;
        }
        .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
        .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
          font-size: 18px;
          font-family: $primary-font-Bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #091e42;
          // margin-left: 5px;
        }
        .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
        .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
          top: 10px !important;
          margin-right: -10px !important;
          background-color: none !important;
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
      }
    }
    .TriBal-sendBtn {
      background-color: $blue-btn-color;
      height: 40px;
      width: 100px;
      color: $white;
      border-radius: 2px;
    }
  }
}
.rs-picker-menu.rs-picker-select-menu,
.rs-picker-menu.rs-picker-check-menu {
  z-index: 1111111;
}
.material-select-ui {
  width: 100%;
  margin-bottom: 20px;
}
.add-inv-btn {
  border-radius: 3px;
  background-color: #1359c1;
  height: 39px;
  outline: none;
  border: none;
  font-family: $primary-font-Regular;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 9px 24px;
  cursor: pointer;
}
.reconcileTabs {
  .link-text {
    color: blue;
  }
  // height: calc(100vh - 130px);
  // overflow-y: auto;
  border: 1px solid #dfe1e6;
  margin-top: 15px;
  .reconcileTabswrapper {
    width: 100%;
    background-color: $white;
    position: relative;
    // z-index: 2;
    // border: $input-border-color;
    .invoice-all-tabs {
      display: flex !important;
      .reconcile-btn {
        position: absolute;
        right: 77px;
        top: 6px;
        padding: 7px 6px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        // border: solid 1px #dfe1e6;
        border-bottom: 1px solid #dfe1e6;
        background-color: #ffffff;
      }
      .reconcile-submit-btn {
        position: absolute;
        right: 7px;
        top: 6px;
        padding: 7px 12px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border-bottom: 1px solid #dfe1e6;
        background-color: #1359c1;
        color: #fff;
      }
    }
  }
  .remove-last-child-table {
    border: none;
  }
}

.next-page-reconcile {
  .statement-head {
    padding: 14px 13px 10px 13px;
    margin-bottom: 10px;
    p {
      font-family: $primary-font-Regular;
      font-size: 16px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
    }
  }
}
.reconcile-subtext {
  background-color: #fff;
  padding: 10px 10px;
  p {
    font-family: $primary-font-Regular;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  }
}
//Non-Reconciled
.tab1Items {
  .brstable-wrapper {
    // padding-top: 20px;
    background: #fff;
    height: calc(100vh - 380px);
    table {
      td,
      th {
        width: 14.2% !important;
      }
    }
    tr {
      border-bottom: 1px solid #ecedf0;
    }
  }
  .remove-last-child-table {
    td,
    th {
      width: 0px;
    }
    // th:nth-child(1) ,td:nth-child(1){
    //     display: block !important;
    //     padding: 5px 0px 0px 5px;
    // }
    // th:nth-child(3), td:nth-child(3){
    //     width: 130px;
    //     padding: 0px;
    // }
    // th:nth-child(4), td:nth-child(4){
    //     width: 130px;
    // }
    // th:nth-child(5), td:nth-child(5){
    //     width: 90px;
    // }
    // th:nth-child(6), td:nth-child(6){
    //     width: 98px;
    //     padding-left: 8px;
    // }
    // th:nth-child(7), td:nth-child(7){
    //     width: 90px;
    //     padding-left: 8px;
    // }
    // th:nth-child(8), td:nth-child(8){
    //     width: 95px;
    //     padding-left: 8px;
    // }
  }
  .subtable {
    width: 100%;
    margin-top: 2px;
    padding-top: 5px;
    background: #fff;
    .gstliablityTable {
      font-size: 12px;
      padding-bottom: 10px;
      margin-left: 15px;
      font-weight: 800;
    }

    .left-bottom-side {
      width: 100%;

      border-top: 1px solid #ecedf0;

      th,
      td {
        width: 25%;
        font-size: 10px;
      }
      tr {
        border-bottom: 1px solid #ecedf0;
        height: 48px;
      }
    }
  }
}
.gst-data {
  width: 80%;
  margin: 0 auto;
  table {
    width: 100%;
  }
  td {
    padding: 10px;
    font-size: 14px;
    width: 50%;
  }
  tr,
  td {
    border: 1px solid #ecedf0;
  }

  .gst-items,
  .gst-value {
    font-family: $primary-font-Regular;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  }
  // .gst-value{
  //     font-size: 14px;
  //     font-weight: 500;
  //     margin-left: 35px;
  // }
}
.ReconcileGST3B-table-wrap {
  width: 100%;
  background: #fff;

  .GST3BTableRec {
    width: 100%;
    padding-top: 10px;
    .gstliablityTable {
      font-size: 12px;
      color: #00b8d9;
      margin: 10px;
      margin-left: 15px;
    }

    tr {
      border-bottom: 1px solid #ecedf0;
      border-top: 1px solid #ecedf0;
      height: 48px;
    }
    .subheader {
      th {
        color: $burger-menu-icon-color;
        font-family: $primary-font-Regular;
        font-size: 10px;
        font-weight: 600;

        border-right: 1px solid #ecedf0;
      }
    }
    th {
      color: $burger-menu-icon-color;
      font-family: $primary-font-Regular;
      font-size: 10px;
      font-weight: 600;
      border-right: 1px solid #ecedf0;
    }
    td {
      color: $light-grey-text;
      font-family: $primary-font-Regular;
      font-size: 10px;
      border-right: 1px solid #ecedf0;
    }
    .gstr3Items {
      text-align: center;
    }
    table {
      width: 100%;
    }
  }
}

.rs-alert-container {
  top: 65px !important;
}
// #tds-leftside{
//     th:nth-child(3) ,td:nth-child(3){
//         width: 85px;
//     }
//     th:nth-child(4) ,td:nth-child(4){
//         width: 224px;
//     }
//     th:nth-child(5) ,td:nth-child(5){
//         width: 141px;
//     }
// }
// #tds-rightside{
//     th:nth-child(3) ,td:nth-child(3){
//         width: 100px;
//     }
//     th:nth-child(4) ,td:nth-child(4){
//         width: 275px;
//     }
//     th:nth-child(5) ,td:nth-child(5){
//         width: 100px;
//     }
// }
#nonTDS-leftside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 85px;
    padding-left: 0px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 224px;
    padding-left: 5px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 140px;
    padding-left: 5px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 70px;
    padding-left: 5px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 70px;
    padding-left: 5px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 70px;
    padding-left: 5px;
  }
}
#nonTDS-rightside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 85px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 275px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 100px;
  }
}

//EPF TABLE CSS

// #epf-leftside{
//     th:nth-child(3) ,td:nth-child(3){
//         width: 85px;
//     }
//     th:nth-child(4) ,td:nth-child(4){
//         width: 224px;
//     }
//     th:nth-child(5) ,td:nth-child(5){
//         width: 141px;
//     }
// }
// #epf-rightside{
//     th:nth-child(3) ,td:nth-child(3){
//         width: 100px;
//     }
//     th:nth-child(4) ,td:nth-child(4){
//         width: 350px;
//     }
//     th:nth-child(5) ,td:nth-child(5){
//         width: 100px;
//     }
// }
#nonEPF-leftside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
    padding-left: 0px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 250px;
    padding-left: 5px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 165px;
    padding-left: 5px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 85px;
    padding-left: 5px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 110px;
    padding-left: 5px;
  }
}
#nonEPF-rightside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 300px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 100px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 130px;
  }
}

//BRS TABLE CSS

#brs-leftside {
  td,
  th {
    // width: 14.2%;
    font-size: 10px;
  }
  // th:nth-child(3) ,td:nth-child(3){
  //     width: 85px;
  //     padding-left: 5px;
  // }
  // th:nth-child(4) ,td:nth-child(4){
  //     width: 225px;
  //     padding-left: 5px;
  // }
  // th:nth-child(5) ,td:nth-child(5){
  //     width: 100px;
  //     padding-left: 5px;
  // }
  // th:nth-child(6) ,td:nth-child(6){
  //     width: 125px;
  //     padding-left: 5px;
  // }
  // th:nth-child(7) ,td:nth-child(7){
  //     width: 125px;
  //     padding-left: 5px;
  // }
  // th:nth-child(8) ,td:nth-child(8){
  //     width: 125px;
  //     padding-left: 5px;
  // }
  // th:nth-child(9) ,td:nth-child(9){
  //     width: 150px;
  //     padding-left: 5px;
  // }
}
#brs-rightside {
  td,
  th {
    width: 16.6%;
    font-size: 10px;
  }
  // th:nth-child(3) ,td:nth-child(3){
  //     width: 100px;
  // }
  // th:nth-child(4) ,td:nth-child(4){
  //     width: 250px;
  // }
  // th:nth-child(5) ,td:nth-child(5){
  //     width: 100px;
  // }
}
#nonBRS-leftside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 85px;
    padding-left: 5px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 225px;
    padding-left: 5px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 100px;
    padding-left: 5px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 125px;
    padding-left: 5px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 125px;
    padding-left: 5px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 125px;
    padding-left: 5px;
  }
  th:nth-child(9),
  td:nth-child(9) {
    width: 150px;
    padding-left: 5px;
  }
}
#nonBRS-rightside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 220px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 100px;
  }
}

//Corporate Tax

//BRS TABLE CSS

#corporate-leftside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 85px;
    padding-left: 5px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 225px;
    padding-left: 5px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 160px;
    padding-left: 5px;
  }
}
#corporate-rightside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 250px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 100px;
  }
}
#nonCorporate-leftside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 85px;
    padding-left: 5px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 200px;
    padding-left: 5px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 155px;
    padding-left: 5px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 125px;
    padding-left: 5px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 125px;
    padding-left: 5px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 125px;
    padding-left: 5px;
    padding-right: 15px;
  }
}
#nonCorporate-rightside {
  th:nth-child(3),
  td:nth-child(3) {
    width: 130px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 320px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 150px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 150px;
  }
}
.Reconcile-table-wrap {
  .zq-table-body {
    display: contents;
  }
  .zq-table-heading th,
  .zq-table-body td,
  .zq-table-body td span.tableAmount {
    font-size: 12px;
  }
}
.invoice-all-tabs {
  .MuiTab-wrapper {
    font-size: 13px;
  }
}
.submit-btn-new {
  border-radius: $radius-3;
  background-color: $new-color;
  height: 39px;
  outline: none;
  border: none;
  font-family: $primary-font-Regular;
  font-size: $fs-normal;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $white;
  padding: 9px 24px;
  cursor: pointer;
  margin-right: 35px;
}
// .Reconcile-table-wrap-table-one {
//     .brstable-wrapper {
//         border-right: 1px solid #dfe1e6;
//     }
// }
.Reconcile-table-wrap.non-reconcile-table-wrap {
  .remove-last-child-table {
    height: calc(100vh - 280px);
    // overflow: auto;
    th:nth-child(1),
    td:nth-child(1) {
      display: table-cell;
      width: 50px !important;
      padding: 0 !important;
    }
  }
}
.Reconcile-table-wrap.non-reconcile-table-wrap
  .recstatus
  .remove-last-child-table
  td:nth-child(1) {
  display: none;
}
.Reconcile-table-wrap.non-reconcile-table-wrap
  .recstatus
  .remove-last-child-table
  th:nth-child(1) {
  display: none;
}
.Reconcile-table-wrap .zq-table-heading th {
  line-height: 42px;
}
.Reconcile-table-wrap {
  .non-reconciled-tds,
  .non-reconciledItem,
  .recstatus {
    position: relative;
  }
}
.Reconcile-table-wrap .non-reconciled-tds::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #dfe1e6;
  right: 1px;
  z-index: 11;
}
.Reconcile-table-wrap .non-reconciledItem::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #dfe1e6;
  right: 2px;
  z-index: 11;
}
.non-reconciled-tds {
  .remove-last-child-table {
    th:last-child,
    td:last-child {
      border-right: none !important;
    }
  }
}
.non-reconciledItem {
  .remove-last-child-table {
    th:last-child,
    td:last-child {
      border-right: none !important;
    }
  }
}
.recstatus {
  .remove-last-child-table {
    th:nth-child(2),
    td:nth-child(2) {
      border-left: none !important;
      border-right: none !important;
    }
  }
}
.duplicates {
  .remove-first-child-table {
    .zq-table-body tr td:first-child,
    .zq-table-heading tr th:first-child {
      display: none !important;
    }
  }
}

// Reconcile - Payment

.reconcile-preview-payment-wrap {
  width: 90%;
  .student-details {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .form-commonpayment-receive-btn {
    display: none;
  }
}
.Reconcile-table-wrap .zq-table-heading th {
  line-height: 18px !important;
}

.fee-collection-wrap {
  td:nth-child(7) {
    text-align: right;
    padding: 0px 10px !important;
  }
}
.invoice-page-wrapper.new-table-wrap.non-reconciledItem.bank-collection-wrap {
  th:nth-child(5),
  td:nth-child(5) {
    padding: 0px 10px !important;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 115px;
    padding: 0px 10px !important;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 130px;
    padding: 0px 10px !important;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 130px;
    padding: 0px 10px !important;
  }
  td:nth-child(5),
  td:nth-child(6),
  td:nth-child(7) {
    text-align: right;
  }
  td.Status-Done {
    text-align: center;
  }
}

.confirm-PDF-wrap {
  .show-password-btn,
  .hide-password-btn {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: 600;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
    width: 70px;
    border-radius: 3px;
    background-color: #0052cc;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-top: 10px;
  }
  .hide-password-btn {
    background-color: #ffffff !important;
    color: #0052cc !important;
    border: solid 1px #dfe1e6;
  }
  .profile-cancel-btn {
    position: absolute !important;
    top: 77px;
  }
}
