@import "./common.scss";
.paddingRight0 {
    padding-right: 0px !important;
}
.floatRight {
    float: right;
}
.setting-content {
    display: flex;
}
.setting-btn-submit {
    position: relative;
    border-radius: 3px;
    padding: 10px 39px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid rgb(0, 82, 204);
}
.setting-btn {
    height: 40px !important;
    // background-color: #0052CC !important;
    // margin-top: -10px;
}
.settings-wrap {
    position: relative;
}
.marginRight30 {
    margin-right: 30%;
}

.settings-form-submit {
    position: absolute;
    right: 0px;
}
.settings-tab-wrap {
    margin-top: 10px;
    height: calc(80vh - 30px);
    display: flex;
    border: 1px solid #dfe1e6;
}
.settings-tab-content {
    height: 100% !important;
    // padding-top: 5px;
    display: flex;
    width: 100% !important;
}
.tab-details {
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.tab-one-content-key {
    height: 100%;
    background-color: #fff;
    width: 60%;
    border-right: 1px solid #eef1f2;
    padding: 10px;
}
.tab-one-content-value {
    height: 100%;
    background-color: #fff;
    width: 100%;
}
.tab-one-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 10px 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.tab-one-content-key-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    width: 100%;
}
.tab-one-content-key-list:hover {
    border: 1px solid #1359c1 !important;
    // cursor: pointer;
}
.tab-one-content-value-header {
    padding: 10px;
    // padding: 14px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-value-header-name {
    display: flex;
    align-items: center;
}
.tab-one-content-value-body {
    padding: 15px 10px;
    height: calc(100% - 13%);
    padding-left: 20px;
}
.tab-one-content-value-content {
    height: 100%;
}
.value-header-name {
    font-family: $primary-font-Bold;
    height: 27px;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #091e42;
}
.history-icon-box {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: $radius-3;
    color: rgba(0, 0, 0, 0.54);
    border: $input-border-color;
    background-color: $white;
    padding: 8px;
    margin-right: 5px;
    p {
        color: $light-txt-color;
        font-family: $primary-font-Medium;
        padding-left: 8px;
        font-size: $fs-normal;
    }
}
.versions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.version-name {
    margin: 0 0 10px 0;
    padding-left: 10px;
}
.logo-version {
    padding-left: 10px;
}
.avatar-instructions {
    margin: 10px 0 0 0;
    text-align: center;
}
.setting-right-icon {
    font-size: 15px;
}

.digits {
    text-align: right;
    width: 490px;
}
.digits-note {
    text-align: right;
    width: 275px;
}
.choose-format {
    display: flex;
    align-items: center;
}
.select-values {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
        height: 50px;
        padding: 15px 10px 10px 10px;
        border: 1px solid #eee;
    }
}
// .select-input-wrap.rs-picker-select a {
//     height: 50px;
//     padding: 10px !important;
//     display: flex;
//     align-items: center;
//     background-color: transparent !important;
//     border: 1px solid #eee !important;
//     .rs-picker-toggle-value {
//         margin-top: 5px;
//         font-size: 15px;
//     }
// }
.select-input-wrap.rs-picker-select a:hover {
    border-bottom: 2px solid #1359c1 !important;
}
.onboard-card-title,
.onboard-card-header {
    text-align: center;
}
.browse-content {
    margin-left: 5px;
}
.rs-drawer-left.rs-drawer-sm,
.rs-drawer-right.rs-drawer-sm {
    width: 300px;
}
.history-date-desc {
    margin-left: 7px;
}
.setting-item-btn {
    width: 80px;
    height: 39px;
    border-radius: 3px;
    background-color: #1359c1;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px !important;
}
//e-sign
.setting-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
//table
.zq-table-wrap {
    // width: 97%;
    border: none;
}
.add-circle {
    height: 20px;
    cursor: pointer;
}
//model
.shareholder-input {
    width: 250px;
    margin-bottom: 20px;
}
.MuiDialog-paperWidthSm {
    max-width: 300px !important;
}
.settings-btn-wrap {
    justify-content: center !important;
}
.cancel-btn {
    margin-right: 5px;
}
.setting-header {
    margin-bottom: 10px !important;
}
//buttons
.settings-footer-btn-grps {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    .clear-btn-reply {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
    }
    .cancel-btn-reply {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
        margin-left: 15px;
    }
    .generate-btn-reply {
        border-radius: $radius-3;
        background-color: $new-color;
        height: 39px;
        outline: none;
        border: none;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        padding: 9px 24px;
        cursor: pointer;
        margin-left: 15px;
    }
}
.add-remove-wrap {
    display: flex;
}
.zq-table-body tr:hover {
    background: none;
}
//input
.shareholder-name {
    padding: 10px 10px 10px 0;
    height: 43px;
    width: 100%;
    border: none;
}
.shareholder-name:focus {
    outline: none !important;
}
// extra css added
.rs-drawer-wrapper {
    z-index: 111111;
}
.logo-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrap {
    position: relative;
}
.logo-change {
    cursor: pointer;
    font-family: $primary-font-Bold;
    font-size: 15px;
}
.logo-img-letter {
    border: 1px solid rgb(204, 204, 204);
    padding: 15px 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(0, 230, 237);
    color: rgb(21, 67, 91);
    font-size: 80px;
}
// img:hover:before {
//     position: absolute;
//     top: 49px;
//     font-size: 20px;
//     z-index: 1;
//     background: rgba(0, 0, 0, 0.54);
//     width: 10px;
//     height: 10px;
//     content: "\f030";
//     font: normal normal normal 22px/1 FontAwesome;
//     width: 55px;
//     height: 55px;
//     border-radius: 50%;
//     line-height: 55px;
//     color: #fff;
//     left: calc((100% - 55px) / 2);
//     cursor: pointer;
// }
.angle-icon-space {
    margin-left: 5px;
}
.settings-numbering {
    overflow-y: auto;
    width: 70% !important;
}
.logo-image {
    border: none !important;
    padding: 0px !important;
    background-color: white !important;
    height: 250px;
}

.image-text {
    position: absolute;
    right: 82px;
    bottom: 50px;
}
.logo-change-loader {
    height: 410px;
    border-radius: 10px;
    background-color: rgba(19, 89, 193, 0.11);
    border: 1px dotted rgb(19, 89, 193);
}
.logo-circle-tag {
    width: 100%;
    height: 20px;
    width: 20px;
    position: relative;
    top: 210px;
    left: 350px;
    margin-right: 10px;
}
//css for react-image-logo
.parent-react-crop {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    height: calc(100% - 19%) !important;
    border-radius: 10px;
    border: 1px dashed #505f79;
    background-color: #f4f5f7;
    margin: 10px;
}
.parent-react-crop2 {
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo-image-tag {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transform: scale(1.2);
}
.logo-image-tag-fav {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transform: scale(1.2);
}
// .select-image-input {
//     position: absolute;
//     height: 348px;
//     width: 100%;
//     top: 1px;
//     color: transparent;
//     z-index: 1000;
//     opacity: 0;
//     cursor: pointer;
//     height: 100%;
// }
.logo-image-tag-parent {
    position: relative;
}
p.browse-btn {
    text-align: center;
    // margin-top: 20px;
    color: #0052cc !important;
    border: 1px solid #0052cc;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: "OpenSans-Medium";
    // width: 90%;
    // margin: 0 auto;
    cursor: pointer;
    position: absolute;
    // left: 5px;
    top: 120px;
}
.select-image-input {
    position: absolute;
    top: 115px;
    left: 5.5px;
    // right: 268px;
    color: transparent;
    z-index: 1000;
    opacity: 0;
    font-family: "OpenSans-Medium";
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    height: 50px;
    // width: 50px;
}
.parent-react-crop {
    .input-label-text {
        position: absolute;
        bottom: -22px;
        text-align: center;
        text-decoration: underline;
        width: 100%;
        width: max-content;
        color: #00445d;
        font-size: 13px;
        display: none;
        cursor: pointer;
        font-family: $primary-font-Regular;
    }
}
// .MuiTab-textColorPrimary:hover {
//     // color: rgba(0, 0, 0, 0.54);
//     // background: #f2fafc;
// }
.settings-tab-wrap {
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-clean,
    .select-input-wrap.rs-picker-tree a .rs-picker-toggle-clean {
        right: 25px;
        // top: 15px !important;
    }
    .select-input-wrap.rs-picker-select a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-date a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-check a .rs-picker-toggle-caret,
    .select-input-wrap.rs-picker-tree a .rs-picker-toggle-caret {
        color: #6b778c;
        // top: 15px !important;
        right: 8px;
    }
    .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
    .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
        color: #00445d;
    }
    .rs-picker-toggle-value {
        color: #000 !important;
    }
    .select-input-wrap.rs-picker-select,
    .select-input-wrap.rs-picker-date,
    .select-input-wrap.rs-picker-check,
    .select-input-wrap.rs-picker-tree {
        width: 100%;
        border: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 3px;
        height: 40px;
    }
}
.tab-one-content-key-list.active {
    background: #d9faff;
    border: 1px solid #0052cc;
}
.full-setting-body {
    width: 100% !important;
    padding-right: 0 !important;
}
.settings-address-input {
    width: 30%;
    float: left;
    margin-left: 30px !important;
    margin-top: 0px !important;
    height: 65px !important;
}
.settings-form-hd {
    font-size: 14px;
    color: #061938;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
}
.address-form-wrapper {
    // max-height: 455px;
    // overflow-y: auto;
    margin-top: 20px;
    max-height: 540px;
}
// .seperateData {
//     form {
//         display: grid;
//     }
// }

// .address-form-wrapper::-webkit-scrollbar {
//     width: 7px;
// }
.address-form-wrapper::-webkit-scrollbar {
    width: 7px;
}
/* Track */
// .address-form-wrapper::-webkit-scrollbar-track {
//     background: #fff;
//     border: 5px solid transparent;
//     background-clip: content-box; // this is important
// }
/* Handle */
// .address-form-wrapper::-webkit-scrollbar-thumb {
//     background: #dfe1e6;
//     border-radius: 5px;
// }
.address-form-wrapper::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 50px;
}
.tab-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.tab-cont.op-1 {
    opacity: 1;
    z-index: 1;
}

//scroll css

.setting-institute-scroll,
.settings-email-scroll {
    overflow-y: scroll !important;
}

.setting-institute-scroll::-webkit-scrollbar,
.settings-email-scroll::-webkit-scrollbar {
    width: 7px;
}
.setting-institute-scroll::-webkit-scrollbar-track,
.settings-email-scroll::-webkit-scrollbar-track {
    background: #fff;
    border: 5px solid transparent;
    background-clip: content-box; // this is important
}
.setting-institute-scroll::-webkit-scrollbar-thumb,
.settings-email-scroll::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 5px;
}

//

.tab-cont.op-0 {
    opacity: 0;
}

.logo-cont,
.template-cont {
    display: flex;
}
.input-file-config {
    align-items: center;
    justify-content: flex-start;
    // padding-top: 30px;
    padding-left: 30px;
    border-bottom: 1px solid #eef1f2;
}

label.email-config-btn {
    padding: 10px;
    line-height: 4px;
    background: #15435b;
    color: #fff;
    width: max-content;
    cursor: pointer;
    margin-right: 12px;
}

label.email-config-btn:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #15435b;
    opacity: 0.95;
}
.input-file-config #email-config {
    width: 100%;
    height: 28px;
    background: blue;
}
.input-button-submit {
    position: absolute;
    right: 0px;
    top: -60px;
}
.input-button-cancel {
    position: absolute;
    right: 150px;
    top: -60px;
}
.input-button-save {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
}
.address-form-wrapper .rs-picker-toggle-clean {
    display: none;
}
.setting-content .icon-back-arrow-box {
    margin-top: 8px;
}
.setting-content .icon-back-arrow {
    margin-right: 5px;
}
.setting-content .icon-back-arrow-box::after {
    display: none;
}
// .vertical-tab-cont-one .vertical-tab-cont {
//     border: none;
// }
.academicDatePicker {
    padding: 12px 16px 12px;
    margin-top: 0;
    background-color: rgba(250, 251, 252, 1);
    border: 1px solid rgba(230, 231, 235, 1);
    border-radius: 3px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.academic-datePicker-parent {
    margin-left: 29px;
}
.academicFromDatePicker {
    float: left;
}
.academicToDatePicker {
    margin-left: 40px;
    float: left;
}

//90%
@media screen and (max-height: 680px) {
    .settings-tab-wrap {
        height: calc(78vh - 30px);
    }
    .address-form-wrapper {
        max-height: 485px;
    }
}

//100%
@media screen and (max-height: 615px) {
    .settings-tab-wrap {
        height: calc(76vh - 30px);
    }
    .address-form-wrapper {
        max-height: 420px;
    }
}

.info-snackbar .MuiSnackbarContent-root {
    justify-content: center;
}
.input-date-example .MuiInputBase-root {
    background: #fff;
    border: none;
}
.input-date-example input {
    padding: 12px 0px 12px;
    cursor: auto;
    font-size: 16px;
}
.input-date-example .MuiFilledInput-underline:hover:before {
    border-bottom: none;
    background-color: transparent;
}
.input-date-example .MuiFilledInput-underline:after {
    border-bottom: none;
    background-color: transparent;
}
.input-date-example .MuiFilledInput-root:hover {
    background: none;
}
.select-input-top {
    float: initial;
}
// .settings-payment-gateway form {
//     display: grid;
// }
// .settings-sms-gateway form {
//     display: grid;
// }

.setting-btn .primary-btn:hover {
    box-shadow: none;
    opacity: none;
}

textarea::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}
.drag-drop-location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .logo-image-tag-parent {
        text-align: center;
        p.dragDropText {
            font-size: 16px;
            font-family: "OpenSans-Regular";
            margin-top: 36px;
            line-height: 0px;
        }
        p.dragOrText {
            font-size: 11px;
            font-family: "OpenSans-Regular";
            margin-top: 10px;
            line-height: 40px;
        }
        .dragOrTextFav {
            font-size: 11px;
            font-family: "OpenSans-Regular";
            margin-top: 14px;
            height: 40px;
        }
        p.browse-btn {
            position: absolute !important;
            top: 185px;
        }
        .browse-btn-fav {
            color: #0052cc !important;
            border: 1px solid #0052cc;
            padding: 10px 25px;
            border-radius: 5px;
            font-family: "OpenSans-Medium";
            cursor: pointer;
        }
        .select-image-input {
            top: 180px;
            width: 100%;
        }
    }
}
.bankinstitutedetails {
    .remove-first-child-table {
        .zq-table-body tr td:first-child,
        .zq-table-heading tr th:first-child {
            display: none !important;
        }
        .zq-table-body tr td:nth-child(6),
        .zq-table-heading tr th:nth-child(6) {
            border: none !important;
        }
    }
}
.settings-label-table {
    width: 35%;
    border: 1px solid #dfe1e6;
    background: #fff;
    margin-left: 13px;
    thead {
        border-bottom: 1px solid #dfe1e6;
        tr {
            text-transform: uppercase;
            th {
                width: 50%;
                height: 40px;
                font-size: 14px;
                font-weight: bold;
                color: #7a869a;
                text-align: center;
                border-right: 1px solid #dfe1e6;
            }
        }
    }
    tbody {
        tr {
            text-transform: uppercase;
            td {
                width: 50%;
                height: 60px;
                font-size: 14px;
                color: #7a869a;
                text-align: center;
                border-right: 1px solid #dfe1e6;
                border-bottom: 1px solid #dfe1e6;
                input[type="text"] {
                    border: 1px solid #ddd;
                    outline: none;
                    text-align: center;
                    width: 96%;
                    height: 70%;
                }
            }
        }
    }
}
.settings-head-approver {
    .input-wrap:nth-child(2) {
        margin-right: 20%;
    }
}
.settings-email-form {
    margin-top: 10px;
}
.settings-email-form-label {
    font-size: 12px;
    margin-left: 15px;
}
.settings-email-form-textfield {
    margin-left: 15px;
    // margin-top: 69px;
}
.settings-email-form-textfield {
    .MuiFilledInput-root {
        background: #fafbfc;
        // border: 1px solid #dfe1e6;
        border-left: 1px solid #dfe1e6;
        border-right: 1px solid #dfe1e6;
        border-top: 1px solid #dfe1e6;
        box-sizing: border-box;
        border-radius: 3px;
        height: 38px;
        width: 292px;
        margin-top: 3px;
    }
    .MuiFilledInput-underline:before {
        border-bottom: 1px solid #dfe1e6;
    }
    .MuiFilledInput-input {
        padding: 12px 16px 12px;
        margin-top: 0;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
    .MuiFilledInput-underline:hover:before {
        border-bottom: 2px solid #1359c1;
    }
}
.settings-email-new-content {
    display: flex;
    padding: 0px !important;
}
.settings-email-left {
    width: 25%;
    height: 100%;
    border-right: 1px solid #eef1f2;
}
.settings-email-right {
    width: 75%;
    height: 100%;
}
.settings-email-right-container {
    display: flex;
    height: 90px;
    width: 94%;
    justify-content: space-between;
}
// .settings-email-second-right-wrapper,
// .settings-email-third-right-wrapper,
// .settings-email-fourth-right-wrapper,
// .settings-email-fifth-right-wrapper {
//     border-left: 1px solid #eef1f2;
// }
.settings-email-right-header {
    font-size: 14px;
    color: #061938;
    font-style: normal;
    font-weight: 600;
    margin-left: 31px;
    margin-bottom: 23px;
    margin-top: 9px;
}
.select-input-wrap {
    .rs-picker-toggle-clean {
        display: none;
    }
}
.input-settings-radio {
    margin-left: 11px !important;
    margin-bottom: 0px !important;
    .MuiFormLabel-root {
        color: #000000de;
        padding: 0;
        font-size: 12px;
        font-family: "OpenSans-Regular";
        line-height: 1;
        letter-spacing: 0.00938em;
        .Mui-focused {
            color: #000000de;
        }
    }
    .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
    }
    .MuiTypography-body1 {
        font-size: 14px;
        font-family: "openSans-Regular";
        color: rgba(0, 0, 0, 0.87);
    }
    // .MuiFormGroup-root {
    //     margin-top: 6px;
    // }
    .MuiFormGroup-row {
        flex-direction: column !important;
    }
}
.settings-receipt {
    .address-form-wrapper {
        margin-top: 0px !important;
    }
}
.receipt-tab {
    .address-form-wrapper {
        margin-top: 0px !important;
    }
}
.logo-position-select {
    width: 51% !important;
    // .rs-picker-menu {
    //     left: 557.046px;
    //     top: 251.628px;
    //     width: 306px;
    // }
}
.avatar-wrap-insititute-logo,
.avatar-wrap-insititute-favicon,
.avatar-wrap-campus-logo {
    .ReactCrop__image {
        width: 15vw;
    }
}
.input-portallogin-radio {
    margin-left: 11px !important;
    margin-bottom: 0px !important;
    .MuiFormLabel-root {
        color: #000000de;
        padding: 0;
        font-size: 12px;
        font-family: "OpenSans-Regular";
        line-height: 1;
        letter-spacing: 0.00938em;
        margin-bottom: 5px;
        font-weight: 600;
    }
    .MuiSvgIcon-root {
        width: 16px;
        height: 16px;
    }
    .MuiTypography-body1 {
        font-size: 14px;
        font-family: "openSans-Regular";
        color: rgba(0, 0, 0, 0.87);
    }
    .MuiFormGroup-row {
        flex-direction: column !important;
    }
    .MuiFormLabel-root.Mui-focused {
        color: #000000de !important;
    }
}
.fees-mapping-select {
    margin-left: 10px !important;
    margin-top: 10px !important;
}
.demand-note-select {
    margin-top: 10px !important;   
}
