@import "./common.scss";
@import "./input.scss";

.reports-student-fees {
  .student-report-header-title {
    position: fixed;
    top: 0;
    width: 50%;
    background: $app-body-color;
    // height: 60px;
    height: 56px;
    line-height: 40px;
    padding-top: 20px;
    z-index: 2;
    display: flex;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00445d;
    }
    .top-header-icon {
      padding-top: 10px;
      font-size: 25px;
      margin-top: -4px;
      cursor: pointer;
    }
  }
  .reports-body-section {
    .reports-data-print-table {
      .transaction-table-review {
        width: 100%;
        font-size: 13px;
        border: 1px solid #dfe1e6;
        margin-top: 15px;
        background: #fff;

        thead {
          font-weight: bold;
          border-bottom: 1px solid #dfe1e6;
          // border-top: 1px solid #f2f2f2;
          tr {
            height: 40px;
            text-transform: uppercase;
            th {
              font-size: 12px;
              height: 30px;
              color: #7a869a;
              text-align: left;
              padding-left: 2px;
              // padding-left: 5px;
              padding-right: 10px;
            }
            th.first-child-space:nth-child(1) {
              width: 120px !important;
            }
            // :nth-child(1) {
            //     width: calc(100% - 90%);
            // }
            // :nth-child(2) {
            //     width: calc(100% - 88%);
            // }
            // :nth-child(3) {
            //     width: calc(100% - 88%);
            // }
            // :nth-child(4) {
            //     width: calc(100% - 92%);
            // }
            // :nth-child(5) {
            //     width: calc(100% - 89%);
            // }
            // :nth-child(6) {
            //     width: calc(100% - 90%);
            // }
            th.demand-note.ID {
              width: 10%;
            }

            th.demand-note.REGID {
              width: 11%;
            }
            th.student-fee.ID {
              width: 10%;
            }

            th.student-fee.REGID {
              width: 8%;
            }
            th.student-fee.STUDENTNAME {
              width: 10%;
            }
          }
        }
        tbody {
          height: 120px;
          overflow-y: auto;
          tr {
            .transaction-sno {
              text-align: center;
              border-bottom: 1px solid #dfe1e6;
            }
            .transaction-vch-num,
            .transaction-date,
            .transaction-vch-type {
              text-align: center;
              border-bottom: 1px solid #dfe1e6;
              border-left: 1px solid #dfe1e6;
            }
            .transaction-particulars {
              border-left: 1px solid #dfe1e6;
              border-bottom: 1px solid #dfe1e6;
              p {
                border-bottom: 1px solid #dfe1e6;
                padding: 14px;
              }
            }
            .transaction-credit {
              // color: #00875a;
              border-left: 1px solid #dfe1e6;
              border-right: 1px solid #dfe1e6;
              border-bottom: 1px solid #dfe1e6;
            }
            .transaction-debit {
              // color: #ff5630;
              border-left: 1px solid #dfe1e6;
              border-bottom: 1px solid #dfe1e6;
            }
            .transaction-debit,
            .transaction-credit {
              p {
                border-bottom: 1px solid #dfe1e6;
                padding: 14px;
                // font-weight: bold;
                text-align: right;
                // border-left: 1px solid #dfe1e6;
              }
            }
          }
        }
      }
    }
  }
}
.transaction-review-mainDiv {
  background: #fff;
  margin-top: -7px;
}
.reports-tableRow-body td {
  // height: 45px;
  padding: 14px;
}
.reports-tableRow-header tr th {
  text-align: center !important;
  border-left: 1px solid #dfe1e6;
}
.statement-of-payment-text {
  margin: 16px 0px;
  text-align: center;
  font-family: "OpenSans-Medium";
  font-size: 18px;
}
.statement-date-time {
  padding: 15px 0px 0px 0px;
  font-family: "OpenSans-Medium";
  font-size: 15px;
  margin-top: 15px;
}
th.demand-note.REGISTRATIONID {
  width: 17%;
}
th.demand-note-refund.REFUNDID {
  width: 12%;
}

// tbody.studentfee-reports-table {
//     font-size: 12px;
// }
.col-split-td {
  td p {
    height: 35px;
    padding: 0 14px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  td p:last-child {
    border-bottom: none !important;
  }
}
th.demand-note.PROGRAMCODE {
  width: 14%;
}
tbody.studentfee-reports-table {
  font-size: 12px;
}
.demand-note-container {
  display: flex;
  .send-demand-note-btn {
    padding: 10px 10px;
    width: 75px auto;
    height: 42px;
    background: #0052cc;
    color: #ffffff !important;
    border: 1px solid #0052cc;
    border-radius: 3px;
    margin: 2px;
    text-transform: capitalize;
    .MuiButtonBase-root.Mui-disabled {
      cursor: no-drop !important;
    }
  }
  .send-demand-note-btn:hover {
    background: #0052cc;
    color: #ffffff !important;
    border: 1px solid #0052cc;
  }
}
.application-main-sec-div {
  width: 100%;
  height: 37px;
  display: flex;
  background-color: #c9fff3;
  margin-top: 8px;
  .left-section-app,
  .right-section-app {
    width: 25%;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: 2px solid #f6f8fa;
    span {
      padding-left: 2px;
      margin-top: -2px;
    }
  }
}
.mode-type-amount-view {
  display: flex;
  margin: 2px 0px 0px 0px;
  .cash-type-payment,
  .chequeDD-type-payment,
  .card-type-payment,
  .netBanking-payment,
  .wallet-payment,
  .upi-payment {
    height: 70px;
    width: 13.3%;
    padding: 5px;
    margin: 0px 3px 0px 0px;
    background: #c9fff3;
    .mode-title {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 3px;
    }
    .mode-amount {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .upi-payment {
    margin: 0px;
  }
}
.application-amount-right-align {
  text-align: right !important;
  padding-right: 3px !important;
}
.student-report-date {
  p {
    span {
      width: 80px;
    }
  }
}
.ppstmt-amount-right-align {
  text-align: right !important;
  padding-right: 10px !important;
}
.appReport-id {
  padding-left: 5px;
  padding-right: 5px;
}

.studentFee-clct-reports {
  th.student-fee.ACADEMICYEAR {
    width: 7%;
  }

  th.student-fee.CLASS\/BATCH {
    width: 9%;
  }

  th.student-fee.REFUND {
    width: 6%;
  }

  th.student-fee.DESCRIPTION {
    width: 12%;
  }
  td.Status-Finance.Approved {
    width: 155px;
  }
}
