@import "./common.scss";
.student-data-portal-main {
    width: 100%;
    .student-data-portal-login-content {
        position: relative;
        margin: 10vh auto;
        width: 75%;
    }
    .student-portal-login-btn {
        width: 44vh;
        font-family: OpenSans-Medium;
        cursor: pointer;
        text-transform: capitalize !important;
        border-radius: 3px;
        background-color: #0052cc;
        padding: 10px 39px;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border: 1px solid #0052cc;
    }
    .student-portal-login-btn:hover {
        color: #ffffff;
        text-transform: capitalize !important;
        background-color: #0052cc;
    }
    .student-portal-separator-line {
        position: relative;
        top: 35vh;
        border: $input-border-color;
        width: 325px;
    }
}

.student-data-center-main {
    width: 100%;
    background-color: #f6f8fa;
    height: 83vh;
    margin-top: 40px;
    .student-data-center-headers {
        display: flex;
        // width: 235px;
        float: right;
        margin-right: 20px;
        justify-content: space-between;
        .logout-btn {
            text-transform: capitalize !important;
            width: 110px;
            font-family: OpenSans-Medium;
            cursor: pointer;
            border-radius: 3px;
            background-color: #0052cc;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            border: 1px solid #0052cc;
            float: right;
            margin-right: 17px;
        }
        label.student-upload-btn {
            background-color: #0052cc;
            color: #ffffff;
            cursor: pointer;
            margin-right: 17px;
            text-transform: capitalize !important;
            width: 100px;
            padding: 7px 15px;
            text-align: center;
            font-family: OpenSans-Medium;
            border-radius: 2px;
        }
    }
    .data-center-table {
        padding: 20px;
        background-color: #ffffff;
        width: 97%;
        margin: 0 auto;
        position: relative;
        top: 65px;
        box-shadow: inset 0px -1px 0px #f4f5f7;
        border: 1px solid #f4f5f7;
        .zq-table-wrap th:nth-child(1),
        .zq-table-wrap td:nth-child(1) {
            max-width: 70px;
            min-width: 50px;
            width: 70px;
            display: none;
        }
    }
    .zq-table-heading th:nth-child(7) {
        display: none !important;
    }
    .zq-table-body td:nth-child(7) {
        display: none !important;
    }
}

// Preview and Review Table
.preview-table {
    position: relative;
    top: 15px;
    margin: 0px 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 97%;
    height: auto;
    overflow-y: auto;
    box-shadow: inset 0px -1px 0px #f4f5f7;
    border: 1px solid #dfe1e6;
    .table-name {
        font-size: 14px;
        font-style: normal;
        text-align: start;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 30px;
        min-height: 12px;
        padding-left: 15px;
    }
    .preview-table-main {
        .pagination-container {
            background-color: #fff !important;
        }
        width: 100%;
        .thead-preview {
            width: 100%;
        }
        .tbody-preview {
            width: 100%;
            .MuiTableCell-root {
                line-height: 18px !important;
            }
        }
    }
    .close-preview {
        position: relative;
        top: -11.2vh;
        float: right;
        right: -34px;
        z-index: 3;
        width: 28px;
        height: 20px;
        cursor: pointer;
    }
    .close-preview {
        @media screen and (max-height: 700px) {
            position: relative;
            top: -12.5vh;
            float: right;
            right: -34px;
            z-index: 3;
            cursor: pointer;
        }
    }
}
table.MuiTable-root.table-confirm-upload {
    width: 100%;
    min-width: max-content !important;
    width: 100% !important;
}
.preview-table-mainCell {
    background-color: #f0f0f0;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 16px !important;
    width: 50% !important;
}
.preview-table-bodyCell {
    padding: 8px 15px !important;
    font-size: 12px !important;
    font-family: "Open Sans", sans-serif;
    border-right: 1px solid #dfe1e6;
    max-width: auto !important;
    width: auto !important;
}
.upload-center-table .zq-table-wrap {
    th:nth-child(1),
    td:nth-child(1) {
        // max-width: 130px;
        // min-width: 50px;
        max-width: max-content !important;
        min-width: max-content !important;
        width: 100% !important;
    }
}
.preview-table-headCellDate {
    padding: 8px 15px !important;
    font-size: 12px !important;
    font-family: "Open Sans", sans-serif;
    text-align: left !important;
    border-right: 1px solid #dfe1e6;
    max-width: auto !important;
}
.preview-table-active {
    padding: 8px 15px !important;
    font-size: 12px !important;
    font-family: "Open Sans", sans-serif;
    text-align: left !important;
    border-right: 1px solid #dfe1e6;
    max-width: auto !important;
    .active-tag {
        border-radius: 3px;
        background-color: #e3fcef;
        font-size: 14px;
        font-weight: 500;
        color: #00875a;
        line-height: 0px;
        height: 29px;
        width: 63px;
        padding: 13px 10px;
    }
}
.preview-table-headCellAmt {
    padding: 8px 15px !important;
    font-size: 12px !important;
    font-family: "Open Sans", sans-serif;
    border-right: 1px solid #dfe1e6;
    text-align: right !important;
    max-width: auto !important;
}
.preview-table-bodyRow {
    padding: 5px 20px !important;
}
.preview-table-headCell {
    font-family: OpenSans-Regular;
    cursor: pointer;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 16px !important;
    color: #7a869a !important;
    text-transform: uppercase;
    border-bottom: 1px solid #dfe1e6;
    border-right: 1px solid #dfe1e6;
    border-top: 1px solid #dfe1e6;
    padding: 10px 15px !important;
    min-width: max-content !important;
    width: auto !important;
}
.preview-table-headCell:nth-child(1) {
    border-left: 1px solid #dfe1e6;
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
}
// .preview-table-headCell {
//     th:nth-child(1), td:nth-child(1){
//         max-width: none !important;
//     }
// }
.preview-table-bodyCell:nth-child(1) {
    border-left: 1px solid #dfe1e6;
}
.preview-table-container {
    position: relative;
    top: -30px;
    max-height: 58vh;
}
.preview-table-container::-webkit-scrollbar {
    width: 7px !important;
    height: 5px !important;
}
.preview-table-container::-webkit-scrollbar-track {
    background: #fff;
}
.preview-table-container::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 50px;
    width: 5px !important;
    height: 5px !important;
}
.preview-table-container::-webkit-scrollbar-thumb:hover {
    background: #dfe1e6;
    border-radius: 50px;
    width: 5px !important;
    height: 5px !important;
}
.confirm-upload-btn {
    text-transform: capitalize !important;
    font-family: OpenSans-Medium;
    cursor: pointer;
    border-radius: 3px;
    background-color: #0052cc !important;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff !important;
    border: 1px solid #0052cc;
    float: right;
    position: relative;
    right: 28px;
}
.migration-main-div .migration-body-content-section {
    background-color: transparent !important;
}

.preview-tabs {
    span.MuiTab-wrapper {
        text-transform: uppercase !important;
        font-size: 12px;
    }
    .MuiTab-textColorPrimary.Mui-selected {
        color: #0052cc;
        font-family: OpenSans-Bold;
    }
    .MuiTabs-indicator {
        background-color: #0052cc;
    }
    .MuiTabs-scroller.MuiTabs-fixed {
        overflow-x: auto !important;
    }
    .MuiTabs-scroller.MuiTabs-fixed::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        padding-top: 10px;
    }
    /* Track */
    .MuiTabs-scroller.MuiTabs-fixed::-webkit-scrollbar-track {
        background: #fff;
        border: 5px solid transparent;
        background-clip: content-box; // this is important
    }
    /* Handle */
    .MuiTabs-scroller.MuiTabs-fixed::-webkit-scrollbar-thumb {
        background: #dfe1e6;
        border-radius: 50px;
    }
}

.rs-modal.rs-modal-xs.ChangeModelBox.bounce-in.animated {
    position: relative;
    top: 250px !important;
    .rs-modal-dialog {
        .rs-modal-content {
            .ChangeModelBox .rs-modal-body {
                padding-bottom: 35px;
            }
        }
    }
}

.rs-modal-body.ModelBody {
    width: 100% !important;
    overflow: visible !important;
}
.ChangeModelBox .rs-modal-body {
    padding-bottom: 35px !important;
}
.confirm-icon {
    color: green;
    width: 35px;
    height: 35px;
}
.toaster-green {
    text-align: center;
    .MuiSnackbarContent-root {
        background: $success-color !important;
    }
    .MuiSnackbarContent-message {
        padding: 8px 46px;
    }
}
.toaster-red {
    text-align: center;
    .MuiSnackbarContent-root {
        background: $error-color !important;
    }
    .MuiSnackbarContent-message {
        padding: 8px 46px;
    }
}

.rs-modal.rs-modal-xs.ChangeModelBox.student-data-model.bounce-in.animated {
    position: relative;
    top: 150px !important;
    height: 56%;
}
.progress-report {
    display: flex;
    .circular-loader {
        position: absolute;
        right: 10px;
        margin-top: 13px;
    }
}
.student-confirm-icon {
    color: green;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -4px;
    z-index: 9999;
}
