// @import "./common.scss";
@import "./input.scss";

.list-of-students-mainDiv,
.list-of-students-mainDiv-new {
  .trial-balance-header-title {
    position: fixed;
    top: 0;
    width: 50%;
    background: $app-body-color;
    height: 56px;
    line-height: 40px;
    padding-top: 19px;
    z-index: 1;
    display: flex;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00445d;
    }
    .top-header-icon {
      padding-top: 10px;
      font-size: 25px;
      margin-top: -4px;
      cursor: pointer;
    }
  }
  .masters-body-div {
    .invoice-page-header {
      margin-bottom: 10px;
    }
  }
  .notes-history-wrapper {
    display: flex;
    float: right;
    position: absolute;
    right: 85px;
    top: 78px;
    z-index: 2;
    padding: 0;
  }
  .history-icon-box {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: $radius-3;
    color: rgba(0, 0, 0, 0.54);
    background-color: $white;
    padding: 8px;
    margin-right: 5px;
    p {
      color: $light-txt-color;
      font-family: $primary-font-Medium;
      padding-left: 8px;
      font-size: $fs-normal;
    }
  }
  .note-icon-box {
    cursor: pointer;
    border-radius: $radius-3;
    // border: $input-border-color;
    background-color: $white;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin-right: 5px;
    p {
      color: $light-txt-color;
      font-family: $primary-font-Medium;
      padding-left: 8px;
      font-size: $fs-normal;
    }
  }
  .send-receipt-navbar {
    width: 100%;
    display: flex;
    .left-section-div {
      width: 100%;
      .add-item-btn {
        margin-left: 80px;
      }
    }
    .right-section-div {
      width: 5%;
      position: absolute;
      right: 134px;
      button {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: 600;
        height: 37px;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        border-radius: 3px;
        background-color: #0052cc;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        color: #ffffff;
        width: 100%;
        float: right;
        padding-left: 13px;
      }
    }
  }
  .send-receipt {
    .masters-body-div {
      display: flex;
      width: 100%;
      .send-receipr-nav {
        width: 89%;
      }
      .cancel-receipt-btn {
        width: 4%;
        margin-right: 5px;
        button {
          width: 90%;
        }
      }
      .send-receipt-btn {
        width: 7%;
        button {
          width: 100%;
        }
      }
      .send-receipt-btn,
      .cancel-receipt-btn {
        margin-top: -7px;
        button {
          font-family: OpenSans-Light;
          font-style: normal;
          font-weight: 600;
          height: 36px;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          border-radius: 3px;
          background-color: #0052cc;
          align-items: center;
          outline: none;
          border: none;
          cursor: pointer;
          color: #ffffff;
          width: 100%;
        }
      }
    }
  }
  .tab-table {
    form {
      .select-input-wrap {
        margin-right: 24px;
        // margin-left: 36px;
      }
      .input-wrap .MuiInputBase-root {
        border-radius: 0;
        background: #fafbfc;
        margin-right: 24px;
      }
    }
  }
  .tab-form-wrapper {
    position: relative;

    .cancel-btn {
      border-radius: $radius-3;
      border: $input-border-color;
      background-color: $white;
      height: 39px;
      outline: none;
      border: none;
      color: $new-color;
      font-family: $primary-font-Bold;
      font-size: $fs-normal;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      padding: 9px 24px;
      cursor: pointer;
      margin-right: 15px;
    }
    .form-submit-btn {
      position: absolute !important;
      bottom: 20px;
      right: 0px;
      height: 36px !important;
      top: 5px;
      color: $white;
      font-weight: 600;
      padding: 0px 25px;
      border-radius: 3px;
      background: #0052cc;
      font-family: $primary-font-Light;
      text-transform: capitalize;
      box-shadow: none;
    }
    .form-clear-btn {
      position: absolute !important;
      font-weight: 600;
      height: 35px !important;
      right: 20px;
      top: 80px !important;
      border: none;
      color: #0052cc;
      padding: 0;
      font-family: $primary-font-Light;
      text-transform: capitalize;
      display: none !important;
      box-shadow: none;
    }
    .form-clear-btn:hover {
      background-color: transparent;
      border: none !important;
      box-shadow: none !important;
      outline: none;
    }
    .form-clear-btn:focus {
      border: none !important;
      outline: none !important;
      background-color: transparent;
    }
    .form-cancel-btn {
      position: absolute !important;
      // top: 76px;
      bottom: 20px;
      right: 220px;
      height: 36px !important;
      top: 5px;
      color: #0052cc;
      font-weight: 600;
      padding: 0px 25px;
      background: $white;
      border: 1px solid #0052cc;
      border-radius: 3px;
      font-family: $primary-font-Light;
      text-transform: capitalize;
      box-shadow: none;
    }
    .form-save-btn {
      position: absolute !important;
      // top: 76px;
      bottom: 20px;
      right: 105px;
      height: 36px !important;
      top: 5px;
      color: #0052cc;
      font-weight: 600;
      padding: 0px 25px;
      border-radius: 3px;
      background: $white;
      border: 1px solid #0052cc;
      font-family: $primary-font-Light;
      text-transform: capitalize;
      box-shadow: none;
    }
    .form-save-btn:hover {
      box-shadow: none !important;
    }
    .form-new-btn {
      position: absolute !important;
      bottom: 20px;
      right: 20px;
      height: 40px !important;
    }
  }
  .tab-wrapper .MuiBox-root {
    float: left;
    width: 100%;
    height: calc(100vh - 188px);
    background-color: #fff;
    // margin: 15px 0 0;
    border: 1px solid #dfe1e6;
    overflow-y: auto;
    padding: 24px 28px;
  }
  .MuiTab-root {
    text-transform: none;
  }
  .input-wrap {
    float: left;
    height: 75px;
    position: relative;
    width: 30%;
    // margin-top: 10px;
  }
  .input-margin {
    margin-bottom: 0px;
  }
  .select-input-wrap.setup-input-wrap.material-select-ui {
    width: 28.5% !important;
    // margin-top: 10px;
  }
  .tab-wrapper .MuiBox-root::-webkit-scrollbar {
    width: 7px !important;
  }
  .tab-wrapper .MuiBox-root::-webkit-scrollbar-track {
    background: #fff;
  }
  .tab-wrapper .MuiBox-root::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 50px;
  }
  .tab-wrapper .MuiBox-root::-webkit-scrollbar-thumb:hover {
    background: #dfe1e6;
    cursor: pointer;
    border-radius: 50px;
  }
  .tab-wrapper {
    position: relative;
    width: 100%;
    margin-top: -12px;
    // margin: 5px auto;
  }
  .select-input-wrap.setup-input-wrap.material-select-ui {
    width: 28.5% !important;
  }
  .pagination-input .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    background: #ffffff;
    border: 1px solid #dfe1e6 !important;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #061938;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .select-input-wrap.rs-picker-disabled {
    opacity: 1;
  }
  .select-input-wrap.rs-picker-select,
  .select-input-wrap.rs-picker-date,
  .select-input-wrap.rs-picker-check,
  .select-input-wrap.rs-picker-tree {
    width: 100%;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    a {
      border-radius: 0;
      background: #fafbfc !important;
      border: none;
      padding: 11px 16px 9px !important;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      // border-bottom: 2px solid #f4f5f7;
      ​ .rs-picker-toggle-value {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
      }
      .rs-picker-toggle-clean {
        top: 10px !important;
        color: #6b778c;
      }
      // .rs-picker-toggle-placeholder {
      //   visibility: hidden;
      // }
      .rs-picker-toggle-caret {
        color: #6b778c;
        top: 10px !important;
        right: 15px;
      }
      .rs-picker-toggle-clean:hover {
        color: #6b778c;
      }
    }
    a:hover {
      border-bottom: 2px solid #1359c1;
    }
  }
  .select-input-wrap.rs-picker-check {
    .rs-picker-value-list {
      width: 80% !important;
    }
  }
  .tab-table {
    form {
      .select-input-wrap {
        margin-right: 24px;
        height: 44px;
      }
      .input-wrap .input-wrap-1 {
        content: "\a";
        white-space: pre;
      }
      .input-wrap .MuiInputBase-root {
        border-radius: 0;
        background: #fafbfc;
        margin-right: 24px;
      }
    }
  }
  .goods-wrapper {
    height: calc(100vh - 120px) !important;
    margin: 40px 0 0 0;
    form {
      padding: 0px 36px 36px 36px !important;
    }
  }
  .MuiSnackbar-anchorOriginBottomCenter {
    left: 50% !important;
    top: -78% !important;
  }
  .zq-table-heading th {
    padding-left: 8px !important;
    top: -16px;
  }
  .zq-table-body td {
    padding-left: 8px !important;
  }
  .pagination-container {
    width: 75% !important;
  }
  // .tab-form-btn-wrap {
  //   button {
  //     display: none;
  //   }
  // }
.dateTabWidth{
  width: 28%;
  padding-top: 20px;
}
.displayNone{
  display:none
}
}
.noprog-txt {
  padding: 20px;
  font-size: 18px;
  font-family: $primary-font-Regular;
}
.input-wrap-1:after {
  // margin-right: 140px !important;
  content: "\a";
  white-space: pre;
}
.input-wrap.input-wrap-col-2 {
  width: 50% !important;
  .MuiInputBase-root {
    width: 60%;
  }
}

.list-of-students-mainDiv .tab-table form .input-wrap-1 .MuiInputBase-root {
  content: "\A";
  white-space: pre;
}
// .new-form-heading {
//   color: #0052CC !important;
//   border-bottom: 1px solid #dfe1e6;
//   padding-bottom: 5px;
// }
.coa-model-box {
  .bodyContent {
    width: 100%;
    margin-top: 20px !important;
    div {
      width: 100%;
      // margin-top: 4px;
      span {
        float: right;
        height: 20px;
        .rs-icon-exclamation-triangle::before {
          font-size: 20px;
          color: $dark-yellow;
        }
      }
    }
  }
}
.check-circle {
  font-size: 20px;
  color: $success-color;
}
.process-confirm-button {
  padding: 0px;
  width: 75px;
  height: 36px;
  background: #0052cc;
  color: #ffffff;
  border: 1px solid #0052cc;
  border-radius: 3px;
  margin: 2px;
  text-transform: capitalize;
}
.process-confirm-button:hover {
  background: #0052cc;
  color: #ffffff;
  border: 1px solid #0052cc;
}
.process-cancel-button {
  padding: 0px;
  width: 66px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #0052cc;
  border-radius: 3px;
  margin: 2px;
  color: #0052cc;
  text-transform: capitalize;
}
.circular-loader-coa {
  height: 20px !important;
  width: 20px !important;
}
.list-of-installment-div,
.list-of-students-mainDiv {
  .tab-form-btn-wrap {
    display: block;
  }
  .form-clear-btn {
    display: block;
  }
}
.list-of-reminder-mainDiv,
.form-btn-con {
  .tab-form-btn-wrap {
    display: block;
  }
  .form-clear-btn {
    display: block;
  }
}
.feeMapping {
  .tab-form-btn-wrap {
    display: none;
  }
}
.student-submit-none .form-submit-btn {
  display: none !important;
}
.student-submit-none .form-save-btn {
  display: none !important;
}
.grid-per-page {
  padding-left: -10px !important;
}
.rs-picker-value-count {
  background: grey;
  margin: 0px 20px;
  color: #fff;
  border-radius: 50px;
  padding: 0 8px;
  line-height: 23px;
}
.list-of-students-mainDiv .select-input-wrap.rs-picker-check a .rs-picker-toggle-clean {
  display: none;
}
.list-of-students-mainDiv-new .tab-form-btn-wrap,
.feeManager .tab-form-btn-wrap {
  display: block;
}
.student-details.refundTable {
  .zq-table-heading th:hover .sort-icon {
    display: inline-block;
    position: absolute;
    top: 30px;
  }
}

.marginRight20 {
  margin-right: 10%;
}
.concession-data {
  .MuiTabs-fixed {
    display: none !important;
  }
}
.btn-remove {
  .form-save-btn,
  .form-submit-btn {
    display: none !important;
  }
}
.top-header-title {
  cursor: pointer;
}
.payment-input-gap {
  .input-wrap {
    margin: 0px 24px 3px 0px !important;
  }
}
.input-wrap.setup-input-wrap.description-input-wrap.rowInline {
  width: 100% !important;
  display: flex;
  margin: 0px 0px 0px 0px !important;
}
.rowInline {
  .list-of-students-mainDiv .description-input-wrap .input-label {
    width: 10% !important;
  }
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl {
    width: 25% !important;
  }
}
.select-input-wrap .setup-input-wrap .description-input-wrap .material-select-ui {
  margin-bottom: 26px !important;
}
.form-title {
  font-size: 14px;
  color: #061938;
  float: left;
  margin-bottom: 12.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 11% !important;
}
.form-title-1 {
  font-size: 14px;
  color: #061938;
  float: left;
  margin-bottom: 12.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 80% !important;
}
.form-hd-inline-col-4 {
  font-size: 14px;
  color: #061938;
  float: left;
  margin-bottom: 12.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 20% !important;
}
.campus-form-hd{
  margin-bottom: 10px;
}
.clear-label-input {
  margin-top: 24px !important;
  .input-label {
    display: none !important;
  }
}
.material-select-ui {
  float: left;
  position: relative;
  margin-bottom: 27px !important;
}
.head-1 {
  width: 13.7% !important;
}
.head-2 {
  width: 25.2% !important;
}
.head-3 {
  width: 30% !important;
}
.head-4 {
  width: 30% !important;
}
.demandNote-type {
  // -1
  width: 11.5% !important;
}
.demandNote-description {
  width: 24.5% !important;
}
.demandNote-amount {
  width: 45% !important;
}
.fee-manager-select-input {
  width: 37% !important;
  display: flex;
  .input-label {
    width: 37% !important;
    padding-top: 13px;
  }
  .select-input-wrap {
    margin-right: 24px;
    height: 44px;
    width: 58% !important;
  }
}
.fee-manager-second-text-box {
  display: flex !important;
  width: 40% !important;
  .input-label {
    display: none !important;
  }
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl {
    width: 91%;
  }
  .input-description {
    width: 50% !important;
  }
  .MuiFormControl-root.MuiTextField-root {
    width: 97% !important;
  }
}
.fee-manager-new-input {
  .fee-manager-second-text-box {
    width: 30% !important;
    margin: 0px 0px 13px !important;
  }
}
.trial-balance-header-title {
  position: fixed;
  top: 0;
  width: 50%;
  background: $app-body-color;
  height: 56px;
  line-height: 40px;
  padding-top: 19px;
  z-index: 1;
  display: flex;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00445d;
  }
  .top-header-icon {
    padding-top: 10px;
    font-size: 25px;
    margin-top: -4px;
    cursor: pointer;
  }
}
.send-demand-note-btn-new {
  padding: 8px 8px;
  width: 75px;
  height: 37px;
  background: #0052cc;
  color: #ffffff !important;
  border: 1px solid #0052cc;
  border-radius: 3px;
  margin: 2px;
  text-transform: capitalize;
  float: right;
}
.send-demand-note-btn-new-data {
  padding: 8px 8px;
  width: 85px;
  height: 37px;
  background: #0052cc;
  color: #ffffff !important;
  border: 1px solid #0052cc;
  border-radius: 3px;
  margin: 2px;
  text-transform: capitalize;
  float: right;
}
.table-section-student-list {
  padding: 20px;
  .zq-table-wrap {
    border: 1px solid #dfe1e6 !important;
  }
}
.student-detail-nxt-btn-div {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
// .student-list-demand-note {
//    padding: 15px;
// }
.send-demand-note-status-div {
  width: 100%;
  text-align: center;
  top: 30%;
  .success-div,
  .error-div {
    padding-top: 130px;
    text-align: center;
    .check-circle {
      font-size: 60px;
      color: #36b37e;
    }
    .check-circle-warning {
      font-size: 60px;
      color: $dark-yellow;
    }
    p {
      font-size: 15px;
      text-align: center;
      padding-bottom: 10px;
      span {
        font-weight: bold;
        margin-top: -2px;
      }
    }
    .finish-button-demand {
      border-radius: 3px;
      background-color: #0052cc;
      padding: 8px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      border: 1px solid #0052cc;
      height: 44px;
      margin-right: 10px;
      float: center;
    }
  }
}
.demand-note-container .Mui-disabled {
  opacity: 0.5;
}
.table-head-padding {
  .zq-table-heading th {
    padding-left: 8px !important;
    top: -16px;
  }
  .zq-table-body td {
    padding-left: 8px !important;
  }
  .pagination-container {
    width: 75% !important;
  }
  // .tab-form-btn-wrap {
  //   button {
  //     display: none;
  //   }
  // }
}
.paddingRight {
  padding-right: 24px;
}
.table-preview:hover {
  background-color: #f2fafc;
  cursor: pointer;
}
.payment-schedule-form,
.remainderPlan {
  .material-select-ui {
    margin-bottom: 42px !important;
  }
}
td.is.Final.Year-- {
  text-align: center;
}
.input-wrap-radio {
  margin-top: 7px;
  .MuiFormLabel-root {
    color: #000000de;
    padding: 0;
    font-size: 12px;
    font-family: "OpenSans-Regular";
    line-height: 1;
    letter-spacing: 0.00938em;
    .Mui-focused {
      color: #000000de;
    }
  }
  .MuiSvgIcon-root {
    width: 16px;
    height: 16px;
  }
  .MuiTypography-body1 {
    font-size: 14px;
    font-family: "openSans-Regular";
    color: rgba(0, 0, 0, 0.87);
  }
  .MuiFormGroup-root {
    margin-top: 6px;
  }
}
.form-new-button-list {
  text-align: right;
  z-index: 1;
  right: 0px;
  .finish-button-demand {
    border-radius: 3px;
    background-color: #0052cc;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #0052cc;
    height: 37px;
    float: center;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
  }
  .material-searchIcon {
    float: right;
    margin-right: 15px;
    margin-top: 11px;
    cursor: pointer;
  }
}
.form-new-button-list-new {
  text-align: right;
  position: absolute;
  z-index: 1;
  right: 0px;
  .finish-button-demand {
    border-radius: 3px;
    background-color: #0052cc;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #0052cc;
    height: 37px;
    float: center;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
  }
  .material-searchIcon {
    float: right;
    margin-right: 15px;
    margin-top: 11px;
    cursor: pointer;
  }
}
.student-submit-none {
  .tab-wrapper {
    .preview-list-tab-data {
      float: left;
      width: 100%;
      height: calc(100vh - 188px);
      background-color: #fff;
      border: 1px solid #dfe1e6;
      overflow-y: auto;
      padding: 24px 28px;
      .form-commonpayment-receive-btn {
        display: none;
      }
    }
  }
}
.preview-send-demand-note {
  .preview-body-content {
    float: left;
    width: 100%;
    height: calc(100vh - 188px);
    background-color: #fff;
    border: 1px solid #dfe1e6;
    overflow-y: auto;
    padding: 24px 28px;
    .header-section {
      font-size: 14px;
    }
    .logo-address-list {
      width: 100%;
      display: flex;
      padding-top: 10px;
      .institute-logo-display {
        width: 12%;
        margin-top: 15px;
        img {
          height: 135px;
          width: 135px;
        }
      }
      .institute-name-display {
        padding-top: 20px;
        .bold-text {
          font-weight: bold;
        }
        p {
          font-size: 15px;
        }
      }
    }
    .mail-body-section {
      p {
        font-size: 14px;
        padding: 0px 0px 10px 0px;
      }
      .preview-table {
        .pay-now-btn{
          cursor: no-drop;
          margin-bottom: 10px;
        }
        .table-view {
          width: 100%;
          border: 1px solid #000;
          thead {
            tr {
              th:nth-child(1) {
                width: auto;
              }
              th {
                padding: 7px;
                background: #eee;
                border-right: 1px solid #000;
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 8px;
                text-align: center;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
              }
            }
          }
        }
        .text-bold {
          font-weight: bold;
          margin-top: 10px;
        }
        .text-bold-final{
          margin-top: 0px;
        }
      }
    }
  }
}
.campus-state-name {
  width: 30%;
}