@import "./theme.scss";
// .app-container{
//     overflow-y: hidden !important;
// }
.task-wrap {
    padding-top: 15px;
}
.create-task-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 15px;
}
//table
.rs-table-cell-content {
    overflow: hidden !important;
}
.task-table tr {
    border-bottom: 1px solid #ecedf0 !important;
}

.task-length {
    font-family: $primary-font-Bold;
    height: 27px;
    font-size: $fs-l;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $bold-text-color;
}
.task-list-count {
    font-family: $primary-font-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6b778c;
    float: right;
    padding-left: 15px;
    line-height: 1.5;
}
.task-table-wrap {
    margin-top: 15px;
    height: calc(100vh - 174px);
    background-color: #fff;
}
.task-table {
    height: 100%;
    overflow-y: auto;
}

.task-text-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // padding: 0 15px 0 15px;
}
.button-wrap {
    width: 25%;
}
.task-text {
    display: flex;
}
.createtask-wrap {
    height: calc(100vh - 125px);
    .create-task-date {
        width: 28.5% !important;
        float: left !important;
        clear: both !important;
    }
}
.create-form-wrap {
    // height: calc(100vh - 127px);
    // overflow: auto;
    // padding: 15px;
    // margin-top: 45px;
    margin-top: 0px;
    // background-color: $header-bg;
}
.create-form-wrap-details {
    padding: 15px;
    background-color: $header-bg;
}
.task-pagination {
    height: 48px;
    background-color: #fff;
}
// .pagination-wrapper-content {
//     width: 95%;
// }
.information-form {
    float: none !important;
    display: flex;
    justify-content: space-between;
}
.create-form-header {
    padding: 0 0 15px;
    p {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #00b8d9;
    }
}
.create-form-field {
    float: left;
    width: 32.4%;
    margin: 0 15px 15px 0;
}
.create-task-form {
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.impact {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    p {
        font-size: 14px;
        margin-right: 25px;
    }
}
.request {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.request p {
    font-size: 14px;
    margin-right: 25px;
}
.border {
    height: 210px;
    width: 1px;
    background-color: #1f445d;
}
//case details
.create-form-field-details {
    width: 32%;
    margin: 0 15px 15px 0;
    z-index: 000 !important;
    float: left;
    height: auto !important;
}

// .create-form-field-details:nth-child(4) {
//     margin: 0 !important;
// }
.create-form-field-details-subject {
    float: none !important;
    width: 32.4%;
    margin: 0 15px 15px 0;
}
.form-container-details {
    width: 31%;
}
.required {
    padding: 0 0 0 20px;
    // color: #1d415b;
}
.date {
    padding: 0 0 0 45px;
    // color: #1d415b;
}
.defaultvalue-details {
    width: 47%;
    p {
        margin-bottom: 20px;
        font-size: 14px;
    }
}
//new UI
.tasknumber-wrap {
    display: flex;
    align-items: center;
}
.task-icon-back-arrow-box:after {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    background: #6b778c;
    opacity: 0.7;
    margin-left: 10px;
    height: 27px;
}
.task-no {
    color: $black;
    font-weight: 600;
    margin-left: 25px;
}
.button-bg {
    background-color: $header-bg !important;
    color: $black !important;
}
.task-back-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.task-status {
    height: 25px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    border-radius: 15px;
    margin-left: 15px;
}
.task-status p {
    font-size: 14px;
    color: #666666 !important;
}
.home-link {
    font-size: 12px;
    margin-right: 5px;
    color: #1675e0;
    cursor: pointer;
}
.task-link {
    font-size: 12px;
    margin: 0 5px 0 5px;
    color: #1675e0;
    cursor: pointer;
}
.new-task {
    font-size: 12px;
    margin: 0 0 0 5px;
    color: $black;
}
.forms {
    display: flex;
}
.create-form-details {
    width: calc(100% - 67%);
    margin-right: 15px;
}
.radiotype {
    background: #f4f5f7;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    .MuiFormGroup-row {
        height: 35px !important;
    }
}
.formlabel {
    font-size: 12px;
    margin-right: 20px;
}
.radiopriority {
    margin-top: 15px;
    background: #f4f5f7;
    padding: 10px 10px 0 10px;
    .MuiFormGroup-row {
        height: 35px !important;
    }
}
.radiogroup {
    width: 50%;
    margin-right: 15px;
}
.select-impact {
    width: 50%;
    z-index: 0;
}
//button
.cancel-btn {
    border-radius: $radius-3;
    border: $input-border-color;
    background-color: $white;
    outline: none;
    border: none;
    color: $new-color;
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding: 9px 24px;
    cursor: pointer;
    position: absolute !important;
    top: 69px !important;
    height: 39px !important;
    right: 255px !important;
}
.clear-btn {
    border-radius: $radius-3;
    border: $input-border-color;
    background-color: $white;
    outline: none;
    border: none;
    color: $new-color;
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding: 9px 24px;
    cursor: pointer;
    position: absolute !important;
    top: 69px !important;
    height: 39px !important;
    right: 160px !important;
}
.generate-btn {
    border-radius: $radius-3;
    background-color: $new-color;
    outline: none;
    border: none;
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $white;
    padding: 9px 24px;
    cursor: pointer;
    position: absolute !important;
    top: 69px !important;
    height: 39px !important;
    right: 50px !important;
}

.disable_btn {
    display: none;
    cursor: not-allowed;
}
.able-btn {
    display: block;
}
.select-option {
    margin-bottom: 15px !important;
    z-index: 000 !important;
}
.textarea {
    width: 100%;
    // height: 200px;
    background-color: #f4f5f7 !important;
    label {
        font-size: 14px !important;
        color: #6b768c !important;
    }
}
.textarea-reply {
    width: 100%;
    padding: 10px;
}
.textarea-reply:focus {
    outline: 2px solid #3f51b5 !important;
    border: none;
}
.MuiFilledInput-inputMultiline {
    font-size: 14px !important;
}
.MuiFilledInput-underline:before {
    border: none !important;
}
.MuiFilledInput-underline:before:focus {
    border-bottom: 2px solid #3f51b5 !important;
}
.textarea .MuiFilledInput-root {
    background-color: #f4f5f7 !important;
    .MuiFilledInput-root:hover {
        background-color: transparent !important;
    }
}
.material-select-ui .material-select-label-float {
    font-size: 12px !important;
}
.task-attachment-wrap {
    position: relative;
    border-top: 1px solid #dddddd;
    padding-top: 0px;
}
.no-attachment-preview {
    border-top: 1px solid #dddddd;
}
.radio-dropdown-wrap {
    display: flex;
    height: 150px;
    width: calc(100% - 0%);
    overflow: auto;
    border-bottom: 1px solid #e8e8e8;
}
.imglink {
    cursor: pointer;
}
//attachment
.attachment-content {
    width: calc(100% - 64%);
    display: flex;
    cursor: pointer;
    margin-top: 15px;
}
.attachment-text {
    margin-left: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}
.attachment-preview {
    display: flex;
    margin-top: 15px;
}
.attachent-preview-text {
    margin-right: 10px;
}
.progress-wrap {
    width: calc(100% - 65%);
    margin-top: 15px;
}
span.task-loaded-percentage-icon {
    // float: right;
    // position: absolute;
    // right: 30px;
    font-family: $primary-font-Regular;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6b778c;
    cursor: pointer;
}

.filename-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress {
    margin-top: 10px;
}
.filename-icons {
    display: flex;
}
.filename-wrap {
    width: 100%;
    padding: 10px;

    // position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 12px 0 rgba(107, 119, 140, 0.17);
    background-color: #ffffff;
    left: 0;
    margin: 0 0 10px 0;
}
.filesize {
    color: #b3bac5;
    padding-left: 5px;
}
.task-file-upload-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload-close-icon {
    cursor: pointer;
}

.bullet-icon {
    font-size: 14px;
    margin-top: 2px;
}

.filename-text {
    margin-left: 7px;
}

.MuiLinearProgress-barColorPrimary {
    background-color: $secondary-color !important;
}

span.cancel {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1359c1;
    font-family: $primary-font-Medium;
    position: relative;
    bottom: 8px;
}

//guhan code
.dot-card {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #1359c1;
    position: relative;
}
.onboard-card {
    padding: 23px 31px;
    box-shadow: none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 1%;
    cursor: pointer;
}
.card-third-round {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background-color: #1359c1;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onboard-icons {
    color: #fff;
}
.onboard-card-header {
    font-family: $primary-font-Regular;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #091e42;
    text-align: center;
}
.onboard-card-title {
    padding-top: 10px;
    font-family: $primary-font-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6b778c;
}
.browse-content {
    text-decoration: underline;
    color: #2162c4;
    cursor: pointer;
}

//tabs
.MuiTabs-flexContainer {
    // border-bottom: 1px solid #dddddd;
}
.PrivateTabIndicator-root-55 {
    height: 3px !important;
}
.PrivateTabIndicator-colorPrimary-350 {
    background-color: #2162c4 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
    color: #2162c4 !important;
}
.MuiPaper-elevation4 {
    box-shadow: none !important;
}
.MuiAppBar-colorDefault {
    background-color: transparent !important;
}
.MuiTab-root {
    text-transform: none !important;
}

//comments

.task-logo {
    display: flex;
    justify-content: center;
}
.user-icon {
    height: 40px;
    width: 40px;
}
.task-logo p {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1675e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.task-dates {
    text-align: center;
}

.first-comments {
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.task-logo-time-wrap {
    width: calc(100% - 91%);
    // text-align: center;
    margin-right: 15px;
}

.reason-comments {
    width: calc(100% - 20%);
}
.addcomment-btn-wrap {
    width: calc(100% - 0%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.addcomment-btn {
    background-color: $new-color;
    height: 39px;
    outline: none;
    border: none;
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $white;
    padding: 9px 24px;
    cursor: pointer;
}
.reply-btn-wrap {
    width: calc(100% - 90%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.reply-cancel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.reply-close-icon {
    cursor: pointer;
    color: #3f51b5;
    position: absolute;
    top: 17px;
}
.reply-btn {
    background-color: $new-color;
    height: 39px;
    outline: none;
    border: none;
    font-family: $primary-font-Bold;
    font-size: $fs-normal;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $white;
    padding: 9px 24px;
    cursor: pointer;
}

.textfield-wrap {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #dddddd;
}
.taskfloatUnset {
    // float: unset !important;
    .select-input-wrap.rs-picker-placement-bottom {
        height: 42px !important;
    }
}
.task-footer-btn-grps {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        margin-left: 15px;
    }
    .clear-btn-reply {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
    }
    .cancel-btn-reply {
        border-radius: $radius-3;
        border: $input-border-color;
        background-color: $white;
        height: 39px;
        outline: none;
        border: none;
        color: $new-color;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 9px 24px;
        cursor: pointer;
    }
    .generate-btn-reply {
        border-radius: $radius-3;
        background-color: $new-color;
        height: 39px;
        outline: none;
        border: none;
        font-family: $primary-font-Bold;
        font-size: $fs-normal;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        padding: 9px 24px;
        cursor: pointer;
    }
}
.primary-btn:focus,
.secondary-btn:focus {
    outline: none !important;
}

//scrollbar for task and createissuetable
.create-form-wrap::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.create-form-wrap::-webkit-scrollbar-track {
    background: #fff;
    border: 5px solid transparent;
    background-clip: content-box; // this is important
}

/* Handle */
.create-form-wrap::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 5px;
}
.task-table::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.task-table::-webkit-scrollbar-track {
    background: #fff;
    border: 5px solid transparent;
    background-clip: content-box; // this is important
}

/* Handle */
.task-table::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 5px;
}

// preview-form-status
.created-status-wrap {
    width: 62px;
    background: #e1f2fb;
    text-align: center;
    line-height: 25px;
    border-radius: 16px;
    height: 25px;
    margin-left: 10px;
}
.created-status-text {
    color: #3399ff !important;
}
.done-status-wrap {
    width: 80px;
    background: #e3fcef;
    text-align: center;
    line-height: 25px;
    border-radius: 16px;
    height: 25px;
    margin-left: 10px;
}
.done-status-text {
    color: #36b37e;
}
.cancel-status {
    width: 80px;
    background-color: #ffebe6;
    text-align: center;
    line-height: 25px;
    border-radius: 16px;
    height: 25px;
    margin-left: 10px;
}
.cancel-status-text {
    color: #ff5630 !important;
}
.open-status-wrap {
    width: 80px;
    background: #ccffff;
    text-align: center;
    line-height: 25px;
    border-radius: 16px;
    height: 25px;
    margin-left: 10px;
}
.open-status-text {
    color: #009999 !important;
}
// .select-input-wrap.rs-picker-select a .rs-picker-toggle-placeholder,
// .select-input-wrap.rs-picker-date a .rs-picker-toggle-placeholder,
// .select-input-wrap.rs-picker-check a .rs-picker-toggle-placeholder,
// .select-input-wrap.rs-picker-tree a .rs-picker-toggle-placeholder {
//     visibility: visible;
// }

.task-attachment-wrap {
    width: 100%;
    border-top: 1px solid #dddddd;
}
.task-attachent-preview-text {
    width: 8%;
}

.create-task-form {
    .primary-btn,
    .secondary-btn {
        text-transform: capitalize !important;
    }
    .primary-btn:hover {
        box-shadow: none !important;
        border: none !important;
        background-color: #0052cc;
        opacity: 0.95;
        text-transform: capitalize !important;
    }
    .secondary-btn:hover {
        background-color: #fff !important;
        border: none !important;
        text-transform: capitalize !important;
    }
}
.masters-body-div {
    .invoice-page-header {
        margin-bottom: 10px;
    }
}
.trial-balance-header-title {
    position: fixed;
    top: 0;
    width: 50%;
    background: $app-body-color;
    height: 56px;
    line-height: 40px;
    padding-top: 19px;
    z-index: 1;
    display: flex;
    p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #00445d;
    }
    .top-header-icon {
        padding-top: 10px;
        font-size: 25px;
        margin-top: -4px;
        cursor: pointer;
    }
}
.task-table-wrapper {
    .Status-New span {
        background: #d9f3ff;
        padding: 5px;
        color: #00445d;
    }
    .remove-last-child-table {
    
        th:nth-child(3) {
            width: 13%;
        }
        // th:nth-child(4) {
        //     width: 20%;
        // }
        // th:nth-child(5) {
        //     width: 25%;
        // }
        th:nth-child(7) {
            width: 5%;
        }
    }
}
