@import "./common.scss";
.terms-title {
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    padding: 10px 10px 0px 10px;
}
.version {
    text-align: center;
}
.terms-container {
    margin-left: 15px;
    margin-right: 15px;
}
.section {
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    padding: 10px 10px 10px 0px;
}
.paragraph {
    color: #3c4043;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.sub-section {
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    padding: 10px 10px 10px 0px;
}
body {
    text-size-adjust: 100%;
}
.title {
    color: #3c4043;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
}
.version {
    color: #3c4043;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.termsofservice-container {
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100vh;
    background: white;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #dfe1e6;
    border-radius: 50px;
}
