@import "./input.scss";

.transaction-scholarship-main-div {
    .remove-last-child-table {
        margin-top: 10px;
    }
    .tab-form-btn-wrap {
        display: none;
    }
    .form-clear-btn {
        display: block;
    }
    .form-clear-btn {
        position: absolute !important;
        font-weight: 600;
        height: 35px !important;
        right: 20px;
        top: 80px !important;
        border: none;
        color: #0052cc;
        padding: 0;
        font-family: $primary-font-Light;
        text-transform: capitalize;
        display: none !important;
        box-shadow: none;
    }
    .input-wrap .MuiInputBase-root {
        // margin-right: 24px;
    }
    .main-navbar-head {
        display: flex;
        .invoice-page-header {
            width: 95% !important;
        }
    }
    .send-demand-note-btn {
        width: 75px auto;
        height: 36.5px;
        background: #0052cc;
        color: #ffffff !important;
        border: 1px solid #0052cc;
        border-radius: 3px;
        margin: 2px 2px 2px 5px;
        text-transform: capitalize;
        .MuiButtonBase-root.Mui-disabled {
            cursor: no-drop !important;
        }
    }
    .send-demand-note-btn:hover {
        background: #0052cc;
        color: #ffffff !important;
        border: 1px solid #0052cc;
    }
}
.invoice-custom-table-wrapper.invoice-extract-wrap.scholarship-wrap {
    .pdf-extract-wrap {
        width: 100%;
    }
}

.remove-first-child-table {
    .zq-table-body tr td:first-child,
    .zq-table-heading tr th:first-child {
        display: none !important;
    }
}

.scholarship-wrap {
    margin: 0 !important;
    box-sizing: border-box;
    height: 100% !important;
    padding: 23px;
    // height: calc(100vh - 270px) !important;
    .pdf-extract-wrap .dot-card {
        height: calc(100vh - 260px) !important;
        position: relative;
    }
}
.scholarship-view-table {
    height: calc(100vh - 270px) !important;
    padding: 0px;
    margin: 0 !important;
    border: none !important;
    .zq-table-heading th {
        padding: 8px !important;
        font-size: 12px;
        line-height: 15px;
    }
}
.scholarship-file-anchor,
.scholarship-file-anchor:hover {
    color: inherit !important;
    text-decoration: unset;
}
.colordisablebtn {
    opacity: 0.5;
}
.check-circle2 {
    color: #ef2828;
}
.receive-payment-main.student-list-demand-note {
    position: relative;
    .scholarship-btn-finish {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
.scholarship-upload{
    overflow-x: scroll !important;
    height: 100%;
    #cellStatus{
        border-right: 1px solid #dfe1e6 !important 
    }
}
.scholarship-section{

    ::-webkit-scrollbar {
        width: 7px !important;
    }
    ::-webkit-scrollbar-track {
        background: #fff;
    }
    ::-webkit-scrollbar-thumb {
        background: #dfe1e6;;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #dfe1e6;;
        border-radius: 50px;
    }
    .scholarPreviewtableData{
        .rowHeight{
            height:40px ;
        }
        th ,td {
            min-width: 150px !important;
        }
        tr{
            height: 40px;
            padding: 8px;
        }

        td:nth-child(7),
        td:nth-child(17),
        td:nth-child(18),
        td:nth-child(19){
          text-align: right !important;
          padding-right: 10px;
        }
    }

}