@import "./input.scss";
.list-of-students-mainDiv,
.list-of-students-mainDiv-new {
  .trial-balance-header-title {
    position: fixed;
    top: 0;
    width: 50%;
    background: $app-body-color;
    height: 56px;
    line-height: 40px;
    padding-top: 19px;
    z-index: 1;
    display: flex;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00445d;
    }
    .top-header-icon {
      padding-top: 10px;
      font-size: 25px;
      margin-top: -4px;
      cursor: pointer;
    }
  }
  .masters-body-div {
    .invoice-page-header {
      margin-bottom: 10px;
    }
  }
}
.user-form {
  .form-submit-btn,
  .form-cancel-btn {
    position: fixed !important;
    top: 74px;
    right: 50px;
    height: 36px !important;
    color: #ffffff;
    font-weight: 600;
    padding: 0px 25px;
    border-radius: 3px;
    background: #0052cc;
    font-family: OpenSans-Light;
    text-transform: capitalize;
    box-shadow: none;
    margin-bottom: 10px;
  }
  .form-cancel-btn {
    right: 150px;
    background: #ffffff !important;
    color: #0052cc !important;
    border: 1px solid #0052cc !important;
    margin-right: 10px;
    position: fixed;
    top: 74px;
  }
  form {
    width: 100%;
    background: #fff;
    padding: 24px 28px;
    height: calc(100vh - 188px);
    border: 1px solid #dfe1e6;
    overflow-y: auto;
    top: 50px;
    position: relative;
  }
  .input-wrap {
    float: left !important;
    width: 30%;
    margin-right: 20px;
    height: 72px;
  }
  .select-input-wrap {
    float: left !important;
    width: 30%;
    margin-right: 20px;
  }
  .select-input-wrap.branch-input.setup-input-wrap.material-select-ui {
    height: 76px !important;
    width: 30% !important;
  }
  .select-input-wrap.rs-picker-select.rs-picker-default.rs-picker-toggle-wrapper.rs-picker-placement-bottom {
    width: 100%;
  }
}
.userTable {
  .remove-last-child-table {
    th:nth-child(10),
    td:nth-child(10) {
      // border-left: none !important;
      border-right: none !important;
      text-align: center;
    }
  }
  // button.MuiButtonBase-root.MuiIconButton-root{
  //   padding-top: 12px !important;
  // }
  .action-cell .MuiIconButton-root{
    margin-top: 10px;
  }

}
.userTableOthers{
  .remove-last-child-table {
    th:nth-child(9),
    td:nth-child(9) {
      // border-left: none !important;
      border-right: none !important;
      text-align: center;
    }
  }
  // button.MuiButtonBase-root.MuiIconButton-root{
  //   padding-top: 12px !important;
  // }
  .action-cell .MuiIconButton-root{
    margin-top: 10px;
  }
}
