.mainList-template {
  display: flex !important;
  justify-content: flex-start;
  font-family: "OpenSans-Medium";
  margin-bottom: 10px;
}

.mainList-para {
  padding-left: 0px;
  text-align: left;
  margin-top: 5px !important;
  line-height: 20px;
  font-family: "OpenSans-Medium";
}
.tableRowData {
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  font-family: "OpenSans-Medium";
  border: 1px solid #000;
  font-size: 14px;
}
.tableBodyData {
  padding: 10px;
  text-align: center;
  font-family: "OpenSans-Medium";
  border: 1px solid #000;
  font-size: 14px;
}

.tableBodyData1 {
  padding: 10px;
  text-align: right;
  font-family: "OpenSans-Medium";
  border: 1px solid #000;
  font-size: 14px;
}
.tableFooterData {
  padding: 10px;
  text-align: right;
  border-right: 1px solid #000;
  font-family: "OpenSans-Medium";
  font-size: 14px;
  font-weight: bold;
}

.payNowButton {
  background-color: #00218d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}
