* {
    box-sizing: border-box;
    font-family: sans-serif;
}

​.container {
    font-family: sans-serif;
}
.body {
    font-family: "Open Sans", sans-serif;
}

.mainList {
    font-family: sans-serif;
    margin-bottom: 10px;
}
p {
    margin: 5px;
}
.mainList-para {
    margin-left: 20px;
    padding-left: 25px;
    line-height: 20px;
    font-family: sans-serif;
}
.tableRowData {
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px solid #000;
    font-size: 12px;
}
.tableBodyData {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid #000;
    font-size: 12px;
}

.tableBodyData1 {
    padding: 10px;
    text-align: right;
    font-family: sans-serif;
    border: 1px solid #000;
    font-size: 12px;
}
.tableFooterData {
    padding: 10px;
    text-align: right;
    border-right: 1px solid #000;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.payNowButton {
    background-color: #00218d;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
}

// .body {
//     font-family: 'Open Sans', sans-serif;
// }

// .mainList {
//     display: flex;
//     justify-content: flex-start;
//     font-family: sans-serif;
//     margin-bottom: 10px;
// }

// .mainList-para {
//     margin-left: 20px;
//     padding-left: 25px;
//     line-height: 20px;
//     font-family: sans-serif;
// }

// .tableRowData {
//     padding: 10px;
//     background-color: #f2f2f2;
//     text-align: center;
//     font-weight: bold;
//     font-family: sans-serif;
//     border: 1px solid #000;
//     font-size: 14px;
// }

// .tableBodyData {
//     padding: 10px;
//     text-align: center;
//     font-family: sans-serif;
//     border: 1px solid #000;
//     font-size: 14px;
// }

// .tableBodyData1 {
//     padding: 10px;
//     text-align: right;
//     font-family: sans-serif;
//     border: 1px solid #000;
//     font-size: 14px;
// }

// .tableFooterData {
//     padding: 10px;
//     text-align: right;
//     border-right: 1px solid #000;
//     font-family: sans-serif;
//     font-size: 14px;
//     font-weight: bold;
// }

// .payNowButton {
//     background-color: #00218d;
//     border: none;
//     color: white;
//     padding: 15px 32px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     margin: 4px 2px;
//     cursor: pointer;
//     font-size: 20px;
// }
// .demandNoteTemplate {
//     p{
// display: block;
// margin-block-end: 1em;
// margin-block-start:1em;
// margin-inline-end: 0px;
// margin-inline-start: 0px;

//     }
// }

// .receiptContainer {
//     * {
//         box-sizing: border-box;
//         font-family: 'Open Sans', sans-serif;
//     }

//     body {
//         padding: 10px;
//         margin: 0px;
//     }

//     .mainList-para {
//         margin-left: 20px;
//         line-height: 20px;
//         font-family: sans-serif;
//     }
//     .logo {
//         float: left;
//         img{
//             width: 148px;
//             height: 148px;
//         }
//     }
//     .address{
//         float: left;
//         padding-top: 15px;
//         width: 320px;
//          padding-left:25px;
//          font-size:15px
//         }
// #insname{
//     padding: 0;
//     margin: 0;
// }
// .subText{
//     line-height: 1.5;
//     margin: 0;
//     padding: 0;
// }
//  .clearfix{
//     clear: both;
//     display: table;
//     overflow: auto;
//  }
//  .receiptDetails{
//     font-size: 12px;
//     font-family: sans-serif;
//  margin-top: 10px;
//  .mainText{
//     width: 33.33%;float: left; text-align: left; margin-bottom:10px;
//     .subText{
//         font-weight: bold; margin-top:5px;
//     }
//  }
//  .mainText {
//     width: 33.33%;float: left;text-align: center; margin-bottom:10px;
//     .subText{
//         font-weight: bold; margin-top:5px;
//     }
//  }
//  }

// }
// .refund-container{
//     p{
//         display: block;
//         margin-block-end: 1em;
//         margin-block-start:1em;
//         margin-inline-end: 0px;
//         margin-inline-start: 0px;
//     }
// }
